{% load rest_framework %}
{% load static %}
{% block extracss %}
{% endblock %}

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>

        <!--message-block-->
        {% if messages %}
        <div class="row">
        <div class="col-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <div class="message-div">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="message-box  alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <a href="" class="close msg-close" data-dismiss="alert">&times;</a>
                    <span  class="">{{ message|safe }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        </div>
        </div>
        {% endif %}
        <!--end-msg-block-->
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>

{% block extrajs %}
{% endblock %}
