#ignore environmet
/film_hobo_env/

#ignore other files
full_requirements.txt

#ignore ide files
/.idea/
/.vscode

#ignore pyc files
*.pyc
*/media/
*_settings.py

#ignore migration folders
film_hobo/hobo_user/migrations/
film_hobo/initial_user/migrations/