#ignore environmet
/film_hobo_env/
/zappa_env/

#ignore other files
full_requirements.txt

#ignore ide files
/.idea/
/.vscode

#ignore pyc files
*.pyc
*_settings.py

#ignore migration folders
film_hobo/hobo_user/migrations/
film_hobo/initial_user/migrations/
film_hobo/payment/migrations/
film_hobo/general/migrations/
film_hobo/project/migrations/
film_hobo/messaging/migrations/

# ignore static files
film_hobo/film_hobo/static/

# ignore env files
local.env
film_hobo/film_hobo/.env

#ignore media files
film_hobo/media/gallery/
film_hobo/media/thumbnail/
film_hobo/media/message_files/
film_hobo/media/scene/
film_hobo/media/script/
film_hobo/media/thumbnail/


