{% extends 'base.html' %}
{% load static %}


{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% include 'message/message_side_links.html' %}
            </div>
            <div class="col-8">
            <h3>Message</h3>
            <form method="post" action="{% url 'message:compose-message' %}"
            enctype="multipart/form-data">
                {% csrf_token %}
                To<select class="car-input-field to_user" id="to_user" name="to_user" class="form-control" id="" required>
                    <option value="" selected disabled hidden >Type here</option>
                    {% for user in users %}
                    <option value="{{user.id}}">{{user.get_full_name}}</option>
                    {% endfor %}
                </select>
                <p class="reason-error to-user-err"></p>
                Subject<input name="subject" class="form-control" id="subject"/>
                Message<textarea name="message" class="form-control" id="user_message"></textarea>
                Image<input type="file" id="images" name="images"  accept="image/*" multiple="multiple">
                File<input type="file" id="files" name="files"  accept="application/pdf" multiple="multiple">
                <p class="reason-error msg-err"></p>
                <button class="btn btn-outline-danger btn-sm ">Send</button>
            </form>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
        $(document).ready(function() {
        $('.to_user').select2();
    });
</script>
{% endblock %}