{% load static %}
{% load user_account_tag %}
{% load project_rating_tag %}
<div class="{% if msg.to_user == request.user %}mm-rply-msg-white-bg {% else %}mm-rply-msg-dark-bg{% endif %}">
    <div class="mm-rply-img-dp-sec">
        <div class="mm-rply-img-pro-sec">
            <div>
                {% if msg.from_user.get_profile_photo %}
                <img src="{{ msg.from_user.get_profile_photo }}" alt="" class="mm-round-img">
                {% else %}
                <img src="{% static 'images/default_profile_pic.png' %}" alt="" class="mm-round-img">
                {% endif %}
            </div>
            <div class="mm-msg-pro">
                <div class="mm-msg-pro-lgth" title="Pro">
                    {{ msg.from_user.get_membership_display }}
                </div>
            </div>
        </div>
        <div class="mm-rply-msg-pro-you">
            {% if msg.from_user == request.user %}
                You:
            {% else %}
                {{msg.from_user.get_full_name}}:
            {% endif %}
        </div>
    </div>

    <div class="mm-rply-msg-pro-message">
        {% if msg.subject %}
            <span class="">
                <span>
                    Subject:
                </span>
                <span class="mm-rply-blue-head">
                    {{msg.subject}}
                </span>
            </span>
        {% endif %}
        {{msg.message}}
        <div class="mm-rply-msg-img-pdf-sec">
            {% if images %}
            <div class="mm-rply-msg-img-sec">
                {% for img in images %}
                <div class="mm-rply-msg-img-frame">
                    <img src="{{img.image.url}}" alt="" class="mm-rply-msg-img"
                    data-toggle="modal" data-target="#image_modal-{{msg.id}}">
                </div>
                {% endfor %}
            </div>
<!-- The Modal -->
<div class="modal fade" id="image_modal-{{msg.id}}">
<div class="modal-dialog">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->

<div class="modal-body">
<div class="row mt-2 img-section-modal">
<div class="col-12 text-center">
{% for img in images %}

<a href="{{img.image.url}}" download class="download_link">Download</a>
<img src="{{img.image.url}}" class="msg-img-full-size"
data-toggle="modal" data-target="#image_modal"/>
{% endfor %}
</div>
</div>
</div>

</div>
</div>
</div>
<!-- end of modal -->
            {% endif %}
            {% if files %}
            <div class="mm-rply-msg-pdf-sec">
                {% for file in files %}
                <div class="mm-rply-msg-pdf-frame">
                    {% if file.file_type == 'pdf' %}
                    <img src="{% static 'images/pdf_img.png' %}" alt=""
                    class="mm-rply-msg-pdf" data-toggle="modal"
                    data-target="#pdf-modal-{{file.id}}">
                    {% elif file.file_type == 'word' %}
                    <img src="{% static 'images/word_img.jpeg' %}" alt=""
                    class="mm-rply-msg-pdf" >
                    {% elif file.file_type == 'excel' %}
                    <img src="{% static 'images/excel_img.png' %}" alt=""
                    class="mm-rply-msg-pdf" >
                    {% endif %}
                </div>
                 <!-- Modal -->
                <div class="modal fade" id="pdf-modal-{{file.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body crs-modal-hght">
                            <div class="crs-modal-inner">
                                <iframe src="{{file.file.url}}" class="pdf-style" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end of modal -->
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>