/*fonts*/

@font-face {
    font-family: "Caliban Std";
    src: local('Caliban Std'),
       url('../font/CalibanStd.otf') format("truetype");
}
@font-face {
    font-family: "Satisfy-Regular";
    src: local('Satisfy-Regular'),
       url('../font/Satisfy-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Myraid Pro";
    src: local('Myraid Pro'),
        url('../font/Myriad-Pro-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Courier Bold";
    src: local('Courier Bold'),
        url('../font/Courier-Bold.otf') format("truetype");
}
@font-face {
    font-family: "Arial Rounded Bold";
    src: local('Arial Rounded Bold'),
        url('../font/ARLRDBD.ttf') format("truetype");
}
/*fonts-end*/
/*header section*/
.fh-header {
    line-height: 1;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.mt-20{
    margin-top: 20px;
}
.head-tp{
    font-family: "Caliban Std";
    font-size: 21px;
    font-weight: 600;
    color: #153167;
}
.head-btm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #e88b22;
}
.search-placeholder::-webkit-input-placeholder {
    text-align: center;
 }

 .search-placeholder:-moz-placeholder { /* Firefox 18- */
    text-align: center;
 }

 .search-placeholder::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
 }

 .search-placeholder:-ms-input-placeholder {
    text-align: center;
 }

 .search-placeholder{
    width: 75%;
    height: 18px;
    font-size: 13px;
    margin-top: 12px;
    border: 1px solid #000;
 }
 .header-user-img{
     height: 60px;
     border-radius: 50%;
 }
.header-fnt-clr{
    color: #6F6F6C;
}
.pro-font{
    font-family: Satisfy-Regular;
    color: #C70039;
    font-weight: 700;
    font-size: 14px;
}
.header-icon-pos{
    position: relative;
    bottom: -20px;
}
 /*header section end*/

 /*navbar section*/
.navbar-background{
    color: #6F6F6C;
    font-family: Courier Bold;
    font-size: 12px;
}
.navbar-dropdown-items{
    font-family: Myraid Pro;
    font-size: 12px;
}
.navbar-nav{
    padding: 0 9rem !important;
}
.navbar{
    padding: 0;
}
.nav-link{
    font-family: Courier Bold;
    font-size:12px;
}
.FH-dropdown-font{
    font-family: "Myraid Pro";
    font-size: 12px;
}
.bg-light {
    background-color: #EDEEF0 !important;
}
 /*navbar section end*/
 /*footer*/
.fh-footer{
    background-color: #8a8a89;
    font-family: "Arial Rounded Bold";
    font-size:10px;
}
.fw{
    color: #fff;
}
 /* footer end*/
 /* member form*/

 /* member form end */
  /* landing page*/
.landing-top-row{
    background-color: #3fa9f5;
    height: 290px;
}
.landing-logo{
    height: 240px;
    border-radius: 58%;
    position: relative;
    top: 32px;
    background-color: #fff;
 }
.landing-des{
    font-family: "Caliban Std";
    color:#0b67bc;
    text-align:left;
    font-size: 29px;
    line-height: 34px;
}
.landing-blu-sec{
    background-color: #3fa9f5;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 35px 49px;
    text-align: left;
    font-size: 18px;
}
.landing-form-font{
    font-weight: 600;
    padding-top: 25px;
}

.landing-page-footer{
    height: 100px;
    background-color: #3fa9f5;
}
.mask-height{
    height:145px;
}
.camera-height{
    height:125px;
}
.social-icon{
    height: 25px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.form-control:focus{
   border: 1px solid #ced4da;
   outline: none;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
}
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.landing-des-orng{
    color: #e88b22;
}
/*landing page end*/
