{% extends "landing_pages/landing_base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


  <div class="mt-4 landing-form-font">
    <form method="post" class="col-lg-6 offset-lg-3">
        {% csrf_token %}
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">{{ form.first_name.label_tag }}</label>
            <div class="col-sm-9">
              <input type="text"
                name="{{ form.first_name.name }}"
                class="form-control"
                id="{{ form.first_name.id_for_label }}"
                {% if form.first_name.value != None %}value="{{ form.first_name.value|stringformat:'s' }}"{% endif %}
                maxlength="{{ form.first_name.field.max_length }}"
                {% if form.first_name.field.required %}required{% endif %}><br>
                {% if form.errors.last_name %}
                  <p style="color: red">{{ form.errors.first_name }}</p>
                {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">{{ form.last_name.label_tag }}</label>
            <div class="col-sm-9">
              <input type="text"
                name="{{ form.last_name.name }}"
                class="form-control"
                id="{{ form.last_name.id_for_label }}"
                {% if form.last_name.value != None %}value="{{ form.last_name.value|stringformat:'s' }}"{% endif %}
                maxlength="{{ form.last_name.field.max_length }}"
                {% if form.last_name.field.required %}required{% endif %}><br>
                {% if form.errors.last_name %}
                  <p style="color: red">{{ form.errors.last_name }}</p>
                {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">{{ form.email.label_tag }}</label>
            <div class="col-sm-9">
              <input type="text"
                name="{{ form.email.name }}"
                class="form-control"
                id="{{ form.email.id_for_label }}"
                {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                maxlength="{{ form.email.field.max_length }}"
                {% if form.email.field.required %}required{% endif %}><br>
                {% if form.errors.email %}
                  <p style="color: red">{{ form.errors.email }}</p>
                {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">{{ form.phone.label_tag }}</label>
            <div class="col-sm-9">
              <input type="text"
                name="{{ form.phone.name }}"
                class="form-control"
                id="{{ form.phone.id_for_label }}"
                {% if form.phone.value != None %}value="{{ form.phone.value|stringformat:'s' }}"{% endif %}
                maxlength="{{ form.phone.field.max_length }}"
                {% if form.phone.field.required %}required{% endif %}>
                {% if form.errors.phone %}
                  <p style="color: red">{{ form.errors.phone }}</p>
                {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label for="id_{{form.designation.name}}_{{ forloop.counter0 }}" class="col-sm-3 col-form-label">{{ form.designation.label_tag }}</label>
              <div class="col-sm-9 mt-2">
                {% for choice in form.designation %}
                  <div class="form-check form-check-inline">
                      {{ choice.tag }}
                      <label class="form-check-label" >
                        <span class="ml-1">{{ choice.choice_label }}</span>
                      </label>
                  </div>
                {% endfor %}
                {% if form.errors.designation %}
                  <p style="color: red">{{ form.errors.designation }}</p>
                {% endif %}
            </div>
          </div>
          <div class="text-center mb-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="float-right">
      <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/filmhobo"><img src="{% static 'initial_user/img/facebook.png' %}" class="social-icon img-fluid"></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/filmhobo/"><img src="{% static 'initial_user/img/instagram.png' %}" class="social-icon img-fluid"></a></li>
      </ul>
    </div>
</div>

{% endblock %}
