
<div class="row coworker-new">
    <div class="col-12">
        <select name="agent_type" id="agent_type{{count}}">
            <option value="" selected disabled hidden>Choose type</option>
            <option value="agent">Agent</option>
            <option value="manager">Manager</option>
        </select>
        <input name="agent_name" id="agent_name{{count}}" value="" placeholder="Name"/>
        <input name="agent_job_type" id="agent_job_type{{count}}" value="" placeholder="Job"/>
        <input name="agent_phone" id="agent_phone{{count}}" value="" placeholder="Phone"/>
        <input name="agent_email" id="agent_email{{count}}" value="" placeholder="Email"/>
    </div>
</div>