<div class="row mt-1">
    <div class="col-md-2 col-sm-4 form-group">
        <select name="agent_type" id="agent_type{{count}}"
        class="form-control form-control-input mt-2">
            <option value="" selected disabled hidden>Choose type</option>
            <option value="agent">Agent</option>
            <option value="manager">Manager</option>
        </select>
    </div>
    <div class="col-md-2 col-sm-4">
        <input class="inp-line" name="agent_name"
        id="agent_name{{count}}" value="" placeholder="Name"
        autocomplete="off"/>
    </div>
    <div class="col-md-2 col-sm-4">
        <input name="agent_job_type" class="inp-line"
        placeholder="Job" id="agent_job_type{{count}}" value=""
        autocomplete="off"/>
    </div>
    <div class="col-md-2 col-sm-4">
        <input class="inp-line" name="agent_phone"
        id="agent_phone{{count}}" value="" placeholder="Phone"
        autocomplete="off"/>
    </div>
    <div class="col-md-2 col-sm-4">
        <input name="agent_email" class="inp-line"
        id="agent_email{{count}}" value="" placeholder="Email"
        autocomplete="off"/>
    </div>
</div>