
<div class="row ">
    <div class="col-md-3 col-sm-3 form-group">
        <select name="position" id="position_{{count}}"
        class="form-control form-control-input mt-2" required>
            {% for position in my_interest_form.position %}
                {{position}}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 col-sm-3 form-group">
        <select name="format" id = "format_{{count}}"
            class="form-control form-control-input mt-2 " required>
            {% for item in my_interest_form.format %}
                {{item}}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 col-sm-3 form-group">
        <select name="location" id ="location_{{count}}"
            class="form-control form-control-input mt-2 " required>
            {% for item in my_interest_form.location %}
                {{item}}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 col-sm-3 form-group">
        <select name="budget" id ="budget_{{count}}"
            class="form-control form-control-input mt-2 " required>
            {% for item in my_interest_form.budget %}
                {{item}}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 col-sm-3 form-group">
        <label class="intrest-lab">Gender:</label>
        <select class="inp-interest format-space"
        name="gender" id ="gender"  >
            {% for item in my_interest_form.gender %}
                {{item}}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 col-sm-3 form-group">
        <label class="intrest-lab">Age:</label>
        <select class="inp-interest format-space"
        name="age" id ="age"  >
            {% for item in my_interest_form.age %}
                {{item}}
            {% endfor %}
        </select>
    </div>
</div>
