<input name="saved_id" type="hidden" value="{{coworker.id}}" />
    <div class="col-md-12">
        {% if coworker.user %}
        <a href="{{coworker.user.get_profile_url}}"
        target="_blank">
        <span>{{coworker.name}}({{coworker.position.title}})</span>
        </a>
        <a href="#" class="mem-setup-blu-f float-right"
        data-toggle="modal"
        data-target="#warning{{coworker.id}}">remove</a>
        {% else %}
        <span>{{coworker.name}}({{coworker.position.title}})</span>
        <a href="#" class="mem-setup-blu-f float-right"
        data-toggle="modal"
        data-target="#warning{{coworker.id}}">remove</a>
        {% endif %}
    </div>
        <!-- The Modal -->
<div class="modal fade" id="warning{{coworker.id}}">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h5 class="modal-title">Warning !!</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            Do you want to delete staff {{coworker.name}}?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        <a class="btn btn-outline-danger btn-sm delete-coworker" id="{{coworker.id}}" data-dismiss="modal">Yes</a>
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">No</button>
        </div>

    </div>
    </div>
</div>
<!-- end of modal -->