{% load static %}
<div class="row">
    {% for position,clients in client_dict.items %}
    <div class="col-12 mem-setup-blu-f">{{position}}</div>
    {% for client in clients %}
    <div class="col-2">
    <input name="saved_id" type="hidden" value="{{coworker.id}}" />
    {% if client.user %}
        {% if client.user.membership != 'COM' %}
            <a href="{% url 'hobo_user:profile' client.user.id %}"
            target="_blank">
        {%  elif client.user.membership == 'COM' and client.user.company_type == 'production' %}
            <a href="{% url 'hobo_user:production-company-profile' client.user.id %}"
            target="_blank">
        {%  elif client.user.membership == 'COM' and client.user.company_type == 'agency_management' %}
            <a href="{% url 'hobo_user:agency-management-company-profile' client.user.id %}" target="_blank" >
        {% endif %}
        <img src ="{{ client.user.get_profile_photo }}" class="client-img"/>
        {{client.name|truncatechars:"5"}}</a>
        <input type="checkbox" name="remove-client" value="{{client.id}}"/>
    {% else %}
        <img src ="{% static 'images/default_profile_pic.png' %}" class="client-img"/>
        {{client.name|truncatechars:"5"}}
        <input type="checkbox" name="remove-client" value="{{client.id}}"/>
    {% endif %}
</div>
{% endfor %}
{% endfor %}
</div>
<div class="row">
    {% if clients %}
    <a class="btn mem-setup-blu-f save_btn remove-client" data-toggle="modal"
    data-target="#warning_client">Remove</a>
    {% endif %}
    <!-- The Modal -->
    <div class="modal fade" id="warning_client">
        <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
            <h5 class="modal-title">Warning !!</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Do you want to delete selected clients?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <a class="btn btn-outline-danger btn-sm delete-client">Yes</a>
            <button type="button" class="btn btn-outline-danger btn-sm client_no"
            data-dismiss="modal" id="client_{{client.id}}">No</button>
            </div>

        </div>
        </div>
    </div>
    <!-- end of modal -->
</div>