{% load rest_framework %}

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3><a href = "{% url 'hobo_user:signup_hobo' %}">Hobo</a></h3>
                </div> 
                <div class="col-sm-3">
                    <h3><a href = "{% url 'hobo_user:signup_indie_pro' %}?choice=indie">Indie</a></h3>
                </div>
                <div class="col-sm-3">
                    <h3><a href = "{% url 'hobo_user:signup_indie_pro' %}?choice=pro">Pro</a></h3>
                </div> 
                <div class="col-sm-3">
                    <h3><a href = "">Company</a></h3>
                </div>
            </div>
        </div>
    </body>
</html>