{% extends 'base.html' %}
{% load rest_framework %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3><a href = "{% url 'hobo_user:signup_hobo' %}">Hobo</a></h3>
            </div>
            <div class="col-sm-3">
                <h3><a href = "{% url 'hobo_user:signup_indie' %}">Indie</a></h3>
            </div>
            <div class="col-sm-3">
                <h3><a href = "{% url 'hobo_user:signup_pro' %}">Pro</a></h3>
            </div>
            <div class="col-sm-3">
                <h3><a href = "{% url 'hobo_user:signup_company' %}">Company</a></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}