{% extends 'base.html' %}
{% load token %}

{% block extracss %}
{% endblock %}

{% block content %}
{% get_my_token request as token %}
<input type = "hidden" value="{{token}}" name="token" id="token"/>
<div class="wrapper flex-grow-1">
    <div class="container">
        <b><a href="{% url 'hobo_user:profile' request.user.id %}">Back</a></b>
        <div class = "row">
        <div class = "col-12">
                <b>Edit Profile</b>
                <form method="post" action="{% url 'hobo_user:edit-profile' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2">
                            <label class="form-title">Name</label>
                        </div>
                        <div class="col-8">
                            <input class=""
                            name="{{ form.first_name.name }}"
                            value="{% if user.first_name %}{{ user.first_name}}{% endif%}"
                            required/>
                            {% if errors.first_name %}
                            {% for err in errors.first_name %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                            <input class=""
                            name="{{ form.middle_name.name }}"
                            value="{% if user.middle_name %}{{ user.middle_name}}{% endif%}"
                            />
                            {% if errors.middle_name %}
                            {% for err in errors.middle_name %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                            <input class=""
                            name="{{ form.last_name.name }}"
                            value="{% if user.last_name %}{{ user.last_name}}{% endif%}"
                            required/>
                            {% if errors.last_name %}
                            {% for err in errors.last_name %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-title">Membership</label>
                        </div>
                        <div class="col-8">
                            {{user.get_membership_display}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-title">Job type</label>
                        </div>
                        <div class="col-8">
                            {% if profile.job_types %}
                                {% for job in profile.job_types.all %}
                                    {{job}} {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-title">Guild Membership</label>
                        </div>
                        <div class="col-8">
                            {% for item in guild_membership %}
                            <div class="form-check-inline">
                                <label class="containerradio">{{item}}
                                    <input type="checkbox"  name="guild_membership"
                                    value="{{item.id}}"
                                    {% if item in user.guild_membership.all %}checked{% endif%}>
                                    <span class="checkmarkagree"></span>
                                  </label>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="">
                                <a href="{% url 'hobo_user:personal-details' %}">Personal Details</a>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="">Company</label>
                        </div>
                        <div class="col-4">
                            <input class=""
                            name="{{ form.company.name }}"
                            value="{% if profile.company %}{{ profile.company}}{% endif%}"
                            />
                            {% if errors.company %}
                            {% for err in errors.company %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="">Position</label>
                        </div>
                        <div class="col-4">
                            <input class=""
                            name="{{ form.company_position.name }}"
                            value="{% if profile.company_position %}{{ profile.company_position}}{% endif%}"
                            />
                            {% if errors.company_position %}
                            {% for err in errors.company_position %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="">Website</label>
                        </div>
                        <div class="col-4">
                            <input class=""
                            name="{{ form.company_website.name }}"
                            value="{% if profile.company_website %}{{ profile.company_website}}{% endif%}"
                            />
                            {% if errors.company_website %}
                            {% for err in errors.company_website %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <b>Others:</b><a class="btn repeat-agent">Add Agent/Manager</a>
                    <div class="sec-3">
                        {% for agent in all_agents %}
                        <div class="row">
                            <div class="col-12">
                                <input name="agent_type" value="{{agent.agent_type}}" placeholder="Name" disabled/>
                                <input name="agent_name" value="{{agent.agent_name}}" placeholder="Name" disabled/>
                                <input name="agent_job_type" value="{{agent.agent_job_type}}" placeholder="Job" disabled/>
                                <input name="agent_phone" value="{{agent.agent_phone}}" placeholder="Phone" disabled/>
                                <input name="agent_email" value="{{agent.agent_email}}" placeholder="Email" disabled/>
                                <input type="checkbox"  name="remove-agent" value="{{agent.id}}">Remove
                            </div>
                        </div>
                        {% endfor %}
                    <div class="row ">
                        <div class="col-12">
                            <select name="agent_type" id="agent_type1">
                                <option value="" selected disabled hidden>Choose type</option>
                                <option value="agent">Agent</option>
                                <option value="manager">Manager</option>
                            </select>
                            <input name="agent_name" id="agent_name1" value="" placeholder="Name"/>
                            <input name="agent_job_type" id="agent_job_type1" value="" placeholder="Job"/>
                            <input name="agent_phone" id="agent_phone1" value="" placeholder="Phone"/>
                            <input name="agent_email" id="agent_email1" value="" placeholder="Email"/>
                        </div>
                    </div>
                    </div><br>

                    <div class="row">
                        <div class="col-2">
                            <label class="">IMDB</label>
                        </div>
                        <div class="col-4">
                            <input class=""
                            name="{{ form.imdb.name }}"
                            value="{% if profile.imdb %}{{ profile.imdb}}{% endif%}"
                            />
                            {% if errors.imdb %}
                            {% for err in errors.imdb %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="">Bio/Info</label>
                        </div>
                        <div class="col-6">
                            <textarea
                            name="{{ form.bio.name }}">
                            {% if profile.bio %}{{ profile.bio}}{% endif%}
                            </textarea>
                            {% if errors.bio %}
                            {% for err in errors.bio %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn mem-btn-save mt-3 mb-3">SAVE</button>
                </form>
                {% if user.membership == 'COM' %}
                <form method="post" action="{% url 'hobo_user:add-coworkers' %}">
                        {% csrf_token %}
                    <div class="sec-1">
                        {% for coworker in coworkers %}
                        <div class="row coworker">
                            <div class="col-12">Name
                                <input name="saved_name"
                                value="{{coworker.name}}" disabled/>
                                Position
                                <input name="saved_position"
                                value = "{{coworker.position.title}}" disabled/>
                                <input type="checkbox"  name="remove" value="{{coworker.id}}">Remove
                            </div>
                        </div>
                        {% endfor %}
                        <b>FilmHobo Members:</b><a class="btn repeat">Add Stuff</a>
                        <div class="row coworker" >
                            <div class="col-12">Name
                                <select name="user" id="user1">
                                    <option value="" selected disabled hidden>Type a name</option>
                                    {% for usr in all_users %}
                                    <option value="{{usr.id}}">
                                    {{usr.first_name}} {{usr.last_name}}</option>
                                    {% endfor %}
                                </select>
                                Position
                                <select name="position" id="position1">
                                    <option value="" selected disabled hidden>Choose position</option>
                                    {% for job in job_types %}
                                    <option value="{{job.id}}">
                                    {{job}}</option>
                                    {% endfor %}
                                </select>
                                <!-- <input type="checkbox"  name="remove1">Remove -->
                            </div>
                        </div>
                </div>
                <b>Others:</b><a class="btn repeat-new">Add Stuff</a>
                    <div class="sec-2">
                    <div class="row coworker-new">
                        <div class="col-12">Name
                            <input name="name" id="name1" value=""/>
                            Position
                            <select name="designation" id="designation1">
                                <option value="" selected disabled hidden>Choose position</option>
                                {% for job in job_types %}
                                <option value="{{job.id}}">
                                {{job}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    </div>
                    <button type="submit" class="btn mem-btn-save mt-3 mb-3">SAVE</button>
                </form>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>

    $(document).ready(function() {
        $('#user1').select2();
    });
    $(document).ready(function() {
        $('#position1').select2();
    });
    $(document).ready(function() {
        $('#designation1').select2();
    });

// add coworker - filmhobo users
var count=1;
$('body').on('click' , '.repeat', function(){
    count++
    var user_id ="#user"+count
    var position_id ="#position"+count
    data_dict = {'count':count}
    // get add coworker form
    $.get('/hobo_user/add-coworker-form/', data_dict)
    .done(function(data) {
    if(data.results!='')
        {
            $('.sec-1').append(data['add_coworker_form_html']);
            $(user_id).select2();
            $(position_id).select2();
        }
    });
});

// add coworker - new users
var new_count=1;
$('body').on('click' , '.repeat-new', function(){
    new_count++
    var name_id ="#name"+new_count
    var designation_id ="#designation"+new_count
    data_dict = {'new_count':new_count}
    // get add coworker form
    $.get('/hobo_user/add-new-coworker-form/', data_dict)
    .done(function(data) {
    if(data.results!='')
        {
            $('.sec-2').append(data['add_new_coworker_form_html']);
            $(designation_id).select2();
        }
    });
});

// add agent/manager
var agent_count=1;
$('body').on('click' , '.repeat-agent', function(){
    agent_count++
    data_dict = {'agent_count':agent_count}
    // get add coworker form
    $.get('/hobo_user/add-new-agent-form/', data_dict)
    .done(function(data) {
    if(data.results!='')
        {
            $('.sec-3').append(data['add_new_agent_form_html']);
        }
    });
});
</script>
{% endblock %}


