{% extends 'base.html' %}
{% load static %}
{% load token %}

{% block extracss %}
<style>
    .select2-container {
      border: 1px solid transparent!important;
      border-radius: 0;
      margin-top:.5rem!important;
  }
</style>
{% endblock %}

{% block content %}
{% get_my_token request as token %}
<input type = "hidden" value="{{token}}" name="token" id="token"/>
<div class="wrapper flex-grow-1">
    <div class="container-fluid member-setup-sec">
        <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3">
                <div class="left-mode-sec p-2 text-center">View profile in:
                    <button class="btn btn-mem-mode btn-block mt-2 selected-mode">Edit Mode</button>
                    <a class="btn btn-mem-mode btn-block mt-2 clickable-mode"
                    href="{% url 'hobo_user:profile' request.user.id %}">
                        Public Mode
                    </a>
                </div>
                <div class="left-mode-sec mt-3 p-2">
                    <ul class="list-unstyled p-2 mb-0">
                        <li><a href="#" class="membr-setup-m">My Interests (5)</a></li>
                        <li class="mt-4"><a href="#" class="membr-setup-m">My Projects (2)</a></li>
                    </ul>
                </div>
                <div class="left-mode-sec mt-3 p-2 blank-left-mode">
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 pl-1 pr-1">
                <div class="left-mode-sec mem-img-p">
                    <div class="row">
                        <div class="col-12 mem-set-img">
                            {% if request.user.get_profile_photo %}
                            <img src="{{ request.user.get_profile_photo }}" class="img-fluid mem-set-top-img" />
                            {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}" class="img-fluid mem-set-top-img">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-1">
                        {% for obj in photos %}
                        <div class="col-4 mem-set-img">
                            <img src="{{ obj.image.url }}" class="img-fluid  mem-set-img-s" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-3 mem-set-add-sec">
                    <div class=" mb-2 text-center"> <a href="{% url 'hobo_user:friends-and-followers' %}" class="mem-setup-blu-f" >Add/Remove Pictures</a></div>
                    <div class="row">
                        {% for obj in all_photos %}
                        <div class="col-3 mem-set-img">
                            <img src="{{ obj.image.url }}" class="img-fluid mem-set-img-add">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mem-setup-blck-f mt-2 mb-3">#1 is a Profile Picture. You can
                        flip pictures any time</div>
                </div>
                <div class="mem-set-network-sec mt-3">
                    <div class="mem-setup-blu-f mb-1 float-left">Network/Friends</div>
                    <div class="float-right"><a href="#" class="mem-setup-blck-f">Edit</a></div>
                    <hr class="mem-setup-network-hr">
                    {% for item in friends %}
                    {% if forloop.first or forloop.counter == 5 %}
                    <div class="row pl-1 pr-1 {% if forloop.counter == 5 %} mt-3 {% endif %}">
                    {% endif %}
                        <div class="col-3 mem-set-net-img-sec2">
                            {% if item.get_profile_photo %}
                            <a href="{{item.get_profile_url }}">
                            <img src="{{item.get_profile_photo}}"
                            title="{{item.get_full_name}}"
                            class="img-fluid mem-set-img-add">
                            {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}"
                            title="{{obj.user.get_full_name}}"
                            class="img-fluid mem-set-img-add">
                            {% endif %}</a>
                            <div class="mem-set-img-add-nam">{{item.get_full_name|truncatechars:"5"}}</div>
                        </div>
                    {% if forloop.last or forloop.counter == 4 %}
                    </div>
                    {% endif %}
                    {% endfor%}

                </div>

                <div class="mem-set-network-sec mt-3 mb-4">
                    <div class="mb-1 float-left"><a href="#" class="mem-setup-orng-f">({{tracking_list.count}})Tracking</a></div>
                    <div class="float-right"><a href="#" class="mem-setup-blu-f">({{trackers_list.count}})Trackers</a></div>
                    <hr class="mem-setup-network-hr">
                    <div class="mem-set-track-txt mb-1"><span class="underline">People</span> ({{tracking_list.count}})</div>
                    <div class="row pl-3 pr-3">
                        {% for usr in tracking_list %}
                        <div class="col-2 mem-set-img">
                            <a href="{{ usr.user.get_profile_url }}">
                                {% if usr.user.get_profile_photo %}
                                <img src="{{ usr.user.get_profile_photo }}" title="{{usr.user.get_full_name}}" class="img-fluid mem-set-img-track">
                                {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}" title="{{usr.user.get_full_name}}" class="img-fluid mem-set-img-track">
                                {% endif %}</a>
                                <div class="mem-set-img-track-nam">{{ usr.user.get_full_name|truncatechars:"9"}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Projects</span> (3)</div>
                    <div class="row">
                        <div class="col-4 ">
                            <div class="track-blu-f">Project<span class="track-orng-f">#224</span></div>
                            <div class="track-blu-f">Title:<span class="track-orng-f">Dynamo</span></div>
                        </div>
                        <div class="col-4 mem-set-track-padding">
                            <div class="track-blu-f">Project<span class="track-orng-f">#56</span></div>
                            <div class="track-blu-f">Title:<span class="track-orng-f">Jack</span></div>
                        </div>
                        <div class="col-4 mem-set-track-padding pl-0">
                            <div class="track-blu-f">Project<span class="track-orng-f">#457</span></div>
                            <div class="track-blu-f">Title:<span class="track-orng-f">Hammer</span></div>
                        </div>
                    </div>
                    <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Teams</span> (2)</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="track-blu-f">Project<span class="track-orng-f">#224</span></div>
                            <div class="track-blu-f">Team:<span class="track-orng-f">#3</span></div>
                            <div class="track-blu-f">Location:<span class="track-orng-f">Dallas</span></div>
                        </div>
                        <div class="col-6 mem-set-track-padding">
                            <div class="track-blu-f">Project<span class="track-orng-f">#178</span></div>
                            <div class="track-blu-f">Team:<span class="track-orng-f">#1</span></div>
                            <div class="track-blu-f">Location:<span class="track-orng-f">New York</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-3">
                <div class="container p-0">
                <hr class="mem-set-acc-hr">
                <div>Account Info <img src="{% static 'images/edit.png' %}" class="img-fluid edit-icon ml-3"></div>
                <form method="post" action="{% url 'hobo_user:edit-profile' %}">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-2 ">
                        <label class="form-title mem-setup-blu-f">Your Name:</label>
                    </div>
                    <div class="col-4">
                        <input class="inp-line" placeholder="First"
                        name="{{ form.first_name.name }}"
                        value="{% if user.first_name %}{{ user.first_name}}{% endif%}"
                        required autocomplete="off"/>
                        {% if errors.first_name %}
                        {% for err in errors.first_name %}
                        <p style="color: red">{{err}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-3 ">
                        <input class="inp-line" placeholder="Middle"
                        name="{{ form.middle_name.name }}"
                        value="{% if user.middle_name %}{{ user.middle_name}}{% endif%}"
                        autocomplete="off"/>
                        {% if errors.middle_name %}
                        {% for err in errors.middle_name %}
                        <p style="color: red">{{err}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-3 ">
                        <input class="inp-line" placeholder="Last"
                            name="{{ form.last_name.name }}"
                            value="{% if user.last_name %}{{ user.last_name}}{% endif%}"
                            required autocomplete="off"/>
                            {% if errors.last_name %}
                            {% for err in errors.last_name %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="form-title mem-setup-blu-f">Membership</label>
                    </div>
                    <div class="col-5  mt-3">
                        <span class="mem-set-membr-f ">{{user.get_membership_display}}</span>
                    </div>
                </div>
                <hr class="mem-set-acc-hr-1">
                <div class="row">
                    <div class="col-2 ">
                        <label class="form-title mem-setup-blu-f">Job Types</label>
                    </div>
                    <div class="col-10 pt-3">
                        {% if profile.job_types %}
                        <div class="mem-set-jobt-f">
                                {% for job in profile.job_types.all %}
                                    {{job}} {% if not forloop.last %},{% endif %}
                                {% endfor %}
                        </div>
                        {% else %}
                        <div class="mem-set-jobt-f">Your Job Types and rating will be displayed after you participate in any project on this site.
                            If you post a project as a Writer you will get a Writer credit; When you Create a Team
                            You will get a Producer’s credit; any position you choose in the team will also be credited
                            and rated.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 ">
                        <label class="form-title mem-setup-blu-f">Guilds</label>
                    </div>
                    <div class="col-8 mt-3">
                        {% for item in guild_membership %}
                          <div class="form-check-inline">
                              <label class="containerradio">{{item}}
                                <input type="checkbox"  name="guild_membership"
                                value="{{item.id}}"
                                {% if item in user.guild_membership.all %}checked{% endif%}>
                                  <span class="checkmarkagree"></span>
                              </label>
                          </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-12 ">
                        <a href="{% url 'hobo_user:personal-details' %}" class="mem-setup-blu-f" style="text-decoration: underline;">Personal Details:</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <input class="inp-line" placeholder="Company"
                            name="{{ form.company.name }}"
                            value="{% if profile.company %}{{ profile.company}}{% endif%}"
                            autocomplete="off"/>
                            {% if errors.company %}
                            {% for err in errors.company %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                    </div>
                    <div class="col-4">
                        <input class="inp-line" placeholder="Position"
                        name="{{ form.company_position.name }}"
                        value="{% if profile.company_position %}{{ profile.company_position}}{% endif%}"
                        autocomplete="off"/>
                        {% if errors.company_position %}
                        {% for err in errors.company_position %}
                        <p style="color: red">{{err}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <input class="inp-line" placeholder="Website"
                            name="{{ form.company_website.name }}"
                            value="{% if profile.company_website %}{{ profile.company_website}}{% endif%}"
                            autocomplete="off"/>
                            {% if errors.company_website %}
                            {% for err in errors.company_website %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 ">
                        <label class="form-title mem-setup-blu-f">Agents/Managers</label>
                    </div>
                </div>
                <span class="sec-3 ">
                {% for agent in all_agents %}
                <div class="row {% if forloop.first %}mt-3{% else %}mt-1{% endif %}">
                    <div class="col-md-2 col-sm-4 form-group">
                        <input name="edit_agent_id" type="hidden" value="{{agent.id}}" required />
                        <select class="form-control form-control-input mt-2" name="edit_agent_type" id="">
                            <option {% if agent.agent_type == 'agent' %}selected{% endif %} value="agent">Agent</option>
                            <option {% if agent.agent_type == 'manager' %}selected{% endif %} value="manager">Manager</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input class="inp-line" placeholder="Name"
                         name="edit_agent_name" value="{{agent.agent_name}}" required autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input class="inp-line" placeholder="Job"
                        name="edit_agent_job_type" value="{{agent.agent_job_type}}"  required autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input class="inp-line" placeholder="Phone"
                        name="edit_agent_phone" value="{{agent.agent_phone}}" required autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input class="inp-line" placeholder="Email"
                        name="edit_agent_email"
                        {% if agent.agent_email != None  %}value="{{agent.agent_email}}"
                        {% else%}value="" {% endif %} placeholder="Email" autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4 p-0 text-center">
                        <div class="form-check mt-2">
                            <input type="checkbox" class="form-check-input mt-1 remove_agent"
                            name="remove-agent" value="{{agent.id}}"
                            data-toggle="modal" data-target="#agent_modal{{agent.id}}">
                            <label class="form-check-label mem-setup-blu-f " for="">Remove</label>
                              <!-- The Modal -->
                              <div class="modal fade" id="agent_modal{{agent.id}}">
                                <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h5 class="modal-title">Warning !!</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Do you want to delete agent/manager {{agent.agent_name}}?
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Yes</button>
                                    </div>

                                </div>
                                </div>
                            </div>
                            <!-- end of modal -->
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row {% if all_agents%}mt-1{% else %}mt-3{% endif %}">
                    <div class="col-md-2 col-sm-4 form-group">
                        <select name="agent_type" id="agent_type1"
                        class="form-control form-control-input mt-2">
                            <option value="" selected disabled hidden>Choose type</option>
                            <option value="agent">Agent</option>
                            <option value="manager">Manager</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input class="inp-line" name="agent_name"
                        id="agent_name1" value="" placeholder="Name"
                        autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input name="agent_job_type" class="inp-line"
                        placeholder="Job" id="agent_job_type1" value=""
                        autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input class="inp-line" name="agent_phone"
                        id="agent_phone1" value="" placeholder="Phone"
                        autocomplete="off"/>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <input name="agent_email" class="inp-line"
                        id="agent_email1" value="" placeholder="Email"
                        autocomplete="off"/>
                    </div>
                </div>
                </span>
                <div class="row mt-1 mb-1">
                    <div class="col-11">
                        <a class="mem-setup-blu-f float-right repeat-agent">Add Agent/Manager</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 ">
                        <label class="form-title mem-setup-blu-f">IMDB:</label>
                    </div>
                    <div class="col-6">
                        <input class="inp-line" placeholder="Add a link"
                            name="{{ form.imdb.name }}"
                            value="{% if profile.imdb %}{{ profile.imdb}}{% endif%}"
                            autocomplete="off"/>
                            {% if errors.imdb %}
                            {% for err in errors.imdb %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-10">
                    <div class="form-group">
                        <label for="comment" class="form-title mem-setup-blu-f ml-2"> Bio/Info</label>
                        <textarea class="form-control" rows="4"
                            name="{{ form.bio.name }}">
                            {% if profile.bio %}{{ profile.bio}}{% endif%}
                            </textarea>
                            {% if errors.bio %}
                            {% for err in errors.bio %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                      </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-11">
                        <input type="submit" class="btn mem-setup-blu-f float-right save_btn" value="Save"/>
                    </div>
                </div>
            </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script>

    // $(document).ready(function() {
    //     $('#user1').select2();
    //     $('#position1').select2();
    //     $('#designation1').select2();
    //     $('.saved_position').select2();
    //     $('.saved_user').select2();
    // });





// add agent/manager
var agent_count=1;
$('body').on('click' , '.repeat-agent', function(){
    agent_count++
    data_dict = {'agent_count':agent_count}
    // get add coworker form
    $.get('/hobo_user/add-new-agent-form/', data_dict)
    .done(function(data) {
    if(data.results!='')
        {
            $('.sec-3').append(data['add_new_agent_form_html']);
        }
    });
});

</script>
{% endblock %}


