{% extends 'base.html' %}
{% load static %}
{% load token %}


{% block extracss %}
<style>
.select2-container {
    border: 1px solid transparent!important;
    border-radius: 0;
    margin-top:.5rem!important;
    width:100%;
}
</style>
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid member-setup-sec">
        <div class="row mb-4">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 text-center">
                <div class="left-mode-sec p-2">View profile in:
                    <button class="btn btn-mem-mode btn-block mt-2 selected-mode">Edit Mode</button>
                    <a class="btn btn-mem-mode btn-block mt-2 clickable-mode"
                    href="{% url 'hobo_user:production-company-profile' request.user.id %}">Public Mode</a>
                </div>
                <div class="left-mode-sec mt-3 p-2">
                    <ul class="list-unstyled p-2 mb-0">
                        <li class="mt-2"><a href="{% url 'hobo_user:projects' %}" class="mem-blu-link">M<span
                                    class="mem-small-f">Y</span>
                                P<span
                                class="mem-small-f">ROJECTS</span></a></li>
                        <li class="mt-2"><a href="{% url 'hobo_user:new-project' %}" class="mem-blu-link">S<span class="mem-small-f">TART A</span> P<span class="mem-small-f">ROJECT</span></a>
                        </li>
                        <li class="mt-2"><a href="{% url 'hobo_user:friends-and-followers' %}#myinterest_section" class="mem-blu-link">M<span
                            class="mem-small-f">Y</span>
                        I<span
                        class="mem-small-f">NTERESTS</span></a></li>
                    </ul>
                </div>
                <div class="left-mode-sec mt-3 p-2  pc-mem-ad-banner-2">
                    <!-- <ul class="list-unstyled p-2 mb-0">
                        <li><a href="#" class="red-f bold ">A<span class="mem-small-f">D</span> B<span
                                    class="mem-small-f">ANNER FOR</span> I<span class="mem-small-f">NTERNAL AND
                                </span>
                                O<span class="mem-small-f">UTSIDE</span> A<span class="mem-small-f">DS.</span></a>
                        </li>
                    </ul> -->
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2568931363821177"
                        crossorigin="anonymous"></script>
                    <!-- 728x90, created 2/23/09 -->
                    <ins class="adsbygoogle"
                        style="display:inline-block;width:728px;height:90px"
                        data-ad-client="ca-pub-2568931363821177"
                        data-ad-slot="9556686269"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 pl-1 pr-1">
                <div class="pc-mem-img-p">
                    <div class="row">
                        <div class="col-12 mem-set-img">
                            {% if request.user.get_profile_photo %}
                            <img src="{{ request.user.get_profile_photo }}" class="img-fluid mem-set-top-img" />
                            {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}" class="img-fluid mem-set-top-img">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="mt-3 ml-1">
                    <div class=" mb-2"> <a href="#" class="mem-setup-blu-f">Add/Remove Pictures</a></div>
                    <div class="row add-align">
                        {% for photo in all_photos %}
                        <div class="col-3 p-0">
                            <img src="{{ photo.image.url }}" class=" pc-img-addremove">

                            <nav aria-label="Page navigation example">
                                <div class="pc-radio-toolbar pc_add-or-btn">
                                    <ul class="pagination justify-content-center mb-0">
                                        <li class="">
                                            <a href="" id="1_{{photo.id}}"
                                            class="{% if photo.position != 1 %}pos{%else%}img-btn{% endif %}">
                                            <label >1</label>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="" id="2_{{photo.id}}"
                                            class="{% if photo.position != 2 %}pos{%else%}img-btn{% endif %}">
                                            <label >2</label></a>
                                        </li>
                                        <li class="">
                                            <a href="" id="3_{{photo.id}}"
                                            class="{% if photo.position != 3 %}pos{%else%}img-btn{% endif %}">
                                            <label >3</label></a>
                                        </li>
                                        <li class="">
                                            <a href="" id="4_{{photo.id}}"
                                            class="{% if photo.position != 4 %}pos{%else%}img-btn{% endif %}">
                                            <label >4</label></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>

                        </div>
                        {% endfor %}
                    </div>
                    <form method="post" enctype="multipart/form-data"
                action="{% url 'hobo_user:upload-image' %}">
                        {% csrf_token %}
                    <div class="row pl-3">
                        <div class="col-md-4 col-sm p-0 ">
                            <label class="pc-choose-Location">Choose Location</label>
                        </div>
                        <div class="col-md-8 col-sm">
                            <div class="pcb-radio-toolbar">
                                <ul class="pagination mb-0">
                                    <li class=""><input type="radio" class="page-link img-position"
                                        id="radio1"
                                        name="position" value="1" >
                                        <label for="radio1">1</label>
                                    </li>
                                    <li class=""><input type="radio" class="page-link img-position"
                                        id="radio2"
                                        name="position" value="2">
                                        <label for="radio2">2</label>
                                    </li>
                                    <li class=""><input type="radio" class="page-link img-position"
                                        id="radio3"
                                        name="position" value="3">
                                        <label for="radio3">3</label>
                                    </li>
                                    <li class=""><input type="radio" class="page-link img-position"
                                        id="radio4"
                                        name="position" value="4">
                                        <label for="radio4">4</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-sm ">
                            <label for="file" class="pc-custom-file-upload ">
                                <span class="image-filename">Upload Photo</span>
                            </label><span class="fs-10">(JPEG,PNG)</span>
                            <input type="file" id="file"
                            name="image"  class="inp-file">
                        </div>
                        <div class="col-md-2 col-sm">
                            <input type="submit"
                            class="btn mem-setup-blu-f float-right cursor-pointer custom-save-btn-2"
                            value="Save">
                        </div>
                    </div>
                </form>

                </div>

                <div class="mem-set-network-sec mt-3">
                    <div class="mem-setup-blu-f mb-1 float-left">Network/Friends</div>
                    <div class="float-right"><a href="{% url 'hobo_user:friends-and-followers' %}"
                        class="mem-setup-blck-f">Edit</a></div>
                    <hr class="mem-setup-network-hr">
                    {% for item in friends %}
                    {% if forloop.first or forloop.counter == 5 %}
                    <div class="row pl-1 pr-1 {% if forloop.counter == 5 %} mt-3 {% endif %}">
                    {% endif %}
                        <div class="col-3 mem-set-net-img-sec2">
                            <a href="{{item.get_profile_url}}">
                            {% if item.get_profile_photo %}
                            <img src="{{item.get_profile_photo}}"
                            title="{{item.get_full_name}}"
                            class="img-fluid mem-set-img-add">
                            {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}"
                            title="{{obj.user.get_full_name}}"
                            class="img-fluid mem-set-img-add">
                            {% endif %}
                            </a>
                            <div class="mem-set-img-add-nam">{{item.get_full_name|truncatechars:"5"}}</div>
                        </div>
                    {% if forloop.last or forloop.counter == 4 %}
                    </div>
                    {% endif %}
                    {% endfor%}
                </div>

                <div class="mem-set-network-sec mt-3 mb-4">
                    <div class="mb-1 float-left">
                        <a href="{% url 'hobo_user:friends-and-followers' %}"
                        class="mem-setup-orng-f">({{tracking_list_count}})Tracking</a></div>
                    <div class="float-right"><a href="{% url 'hobo_user:friends-and-followers' %}"
                        class="mem-setup-blu-f">({{trackers_list_count}})Trackers</a></div>
                    <hr class="mem-setup-network-hr">
                    <div class="mem-set-track-txt mb-1"><span class="underline">People</span> ({{tracking_list_count}})</div>
                    <div class="row pl-3 pr-3">
                        {% for usr in tracking_list %}
                        <div class="col-2 mem-set-img">
                            <a href="{{ usr.user.get_profile_url }}">
                                {% if usr.user.get_profile_photo %}
                                <img src="{{ usr.user.get_profile_photo }}" title="{{usr.user.get_full_name}}" class="img-fluid mem-set-img-track">
                                {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}" title="{{usr.user.get_full_name}}" class="img-fluid mem-set-img-track">
                                {% endif %}</a>
                                <div class="mem-set-img-track-nam">{{ usr.user.get_full_name|truncatechars:"9"}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Projects</span> ({{tracking_projects_count}})</div>
                    {% for obj in tracking_projects %}
                        {% if forloop.first or forloop.counter0|divisibleby:3 %}
                        <div class="row ">
                        {% endif %}
                            <div class="col-4 ">
                                <div class="track-blu-f-sec2">Project
                                    <a href="{% url 'project:single-film-project' obj.project.id %}"
                                    class="tracking_project_link" title="{{obj.project.id}}">
                                        <span class="track-orng-f-sec2">#{{obj.project.id}}</span>
                                    </a>
                                </div>
                                <div class="track-blu-f-sec2">Title:
                                    <a href="{% url 'project:single-film-project' obj.project.id %}"
                                        class="tracking_project_link" title="{{obj.project.title}}">
                                        <span class="track-orng-f-sec2">{{obj.project.title|truncatechars:"5"}}</span>
                                    </a>
                                </div>
                            </div>
                        {% if forloop.last or forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3 pr-1">
                <div class="container p-0">
                    <hr class="mem-set-acc-hr">
                    <div>Account Info <img src="{% static 'images/edit.png' %}" class="img-fluid edit-icon ml-3"></div>
                    <form method="post" action="{% url 'hobo_user:edit-production-company-profile' %}">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-2 ">
                            <label class="form-title mem-setup-blu-f">Company</label>
                        </div>
                        <div class="col-9">
                            <input class="inp-line" placeholder="Website"
                            name="{{ form.company_name.name }}"
                            value="{% if user.company_name %}{{ user.company_name}}{% endif%}"
                            autocomplete="off"/>
                            {% if errors.company_name %}
                            {% for err in errors.company_name %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-title mem-setup-blu-f">Membership</label>
                        </div>
                        <div class="col-9  mt-3">
                            <span class="mem-set-membr-f ">{{user.get_membership_display}}({{user.get_company_type_display}})</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 ">
                            <label class="form-title mem-setup-blu-f">Website</label>
                        </div>
                        <div class="col-9">
                            <input class="inp-line" placeholder="Website"
                            name="{{ form.company_website.name }}"
                            value="{% if user.company_website %}{{ user.company_website}}{% endif%}"
                            autocomplete="off"/>
                            {% if errors.company_website %}
                            {% for err in errors.company_website %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 ">
                            <label class="form-title mem-setup-blu-f">IMDB</label>
                        </div>
                        <div class="col-9">
                            <input class="inp-line" placeholder="IMDB"
                            name="{{ form.imdb.name }}"
                            value="{% if profile.imdb %}{{ profile.imdb}}{% endif%}"
                            autocomplete="off"/>
                            {% if errors.imdb %}
                            {% for err in errors.imdb %}
                            <p style="color: red">{{err}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Submission Policy - SAMR:</label>
                        </div>
                        <div class="col-8 mt-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio"
                                  name="submission_policy_SAMR" value="members_with_rating"
                                  class="form-check-input"
                                  {% if profile.submission_policy_SAMR != 'pros_and_companies_only' %}
                                      checked
                                  {% endif %}>Members with Rating
                                    <label class="form-check-label">
                                        <span class="rate">
                                            <input type="radio" id="star5" name="rate" value="5"
                                            {% if profile.submission_policy_SAMR == 'members_with_rating_5_star' %}checked{% endif %}/>
                                            <label for="star5" title="text">5 stars</label>

                                            <input type="radio" id="star4" name="rate" value="4"
                                            {% if profile.submission_policy_SAMR == 'members_with_rating_4_star' %}checked{% endif %}/>
                                            <label for="star4" title="text">4 stars</label>

                                            <input type="radio" id="star3" name="rate" value="3"
                                            {% if profile.submission_policy_SAMR == 'members_with_rating_3_star' %}checked{% endif %}/>
                                            <label for="star3" title="text">3 stars</label>

                                            <input type="radio" id="star2" name="rate" value="2"
                                            {% if profile.submission_policy_SAMR == 'members_with_rating_2_star' %}checked{% endif %}/>
                                            <label for="star2" title="text">2 stars</label>

                                            <input type="radio" id="star1" name="rate" value="1"
                                            {% if profile.submission_policy_SAMR == 'members_with_rating_1_star' %}checked{% endif %}/>
                                            <label for="star1" title="text">1 star</label>

                                        </span>
                                    </label>
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio"
                                  name="submission_policy_SAMR" value="pros_and_companies_only"
                                  {% if profile.submission_policy_SAMR == 'pros_and_companies_only' %}
                                      checked
                                  {% endif %}
                                  class="form-check-input">Pros and Companies only
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <div class="form-group">
                                <label for="comment" class="form-title mem-setup-blu-f ml-2"> Bio/Info</label>
                                <textarea class="form-control txtbox-font-style" rows="4"
                                name="{{ form.bio.name }}">
                                {% if profile.bio %}{{ profile.bio}}{% endif%}
                                </textarea>
                                {% if errors.bio %}
                                {% for err in errors.bio %}
                                <p style="color: red">{{err}}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11">
                            <input type="submit"
                            class="btn mem-setup-blu-f float-right save_btn custom-save-btn" value="Save"/>
                        </div>
                    </div>
                    </form>
                    <hr class="mem-set-acc-hr">
                    <div class="bold mt-3 mem-setup-blu-f ">
                        <a href="#" class="mem-blu-link">S<span
                        class="mem-small-f">TAFF</span></a>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 col-sm-12 coworkers">
                            {% for coworker in coworkers %}
                            <input name="saved_id" type="hidden" value="{{coworker.id}}" />
                            <div class="col-md-12">
                                {% if coworker.user %}
                                <a href="{{coworker.user.get_profile_url}}"
                                target="_blank">
                                <span>{{coworker.name}}({{coworker.position.title}})</span>
                                </a>
                                <a href="#" class="mem-setup-blu-f float-right"
                                data-toggle="modal"
                                data-target="#warning{{coworker.id}}">remove</a>
                                {% else %}
                                <span>{{coworker.name}}({{coworker.position.title}})</span>
                                <a href="#" class="mem-setup-blu-f float-right"
                                data-toggle="modal"
                                data-target="#warning{{coworker.id}}">remove</a>
                                {% endif %}
                            </div>
                               <!-- The Modal -->
                        <div class="modal fade" id="warning{{coworker.id}}">
                            <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                <h5 class="modal-title">Warning !!</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Do you want to delete staff {{coworker.name}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                <a class="btn btn-outline-danger btn-sm delete-coworker" id="{{coworker.id}}" data-dismiss="modal">Yes</a>
                                <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">No</button>
                                </div>

                            </div>
                            </div>
                        </div>
                        <!-- end of modal -->
                            {% endfor %}
                        </div>
                        <div class="col-md-7 col-sm-12">
                        <div class="col-md-12">
                            <input name="name" id="coworker_name" value=""
                            class="inp-line" placeholder="Name"
                            autocomplete="off" />
                        </div>
                        <div class="col-md-12">
                            <input name="name" id="coworker_email" value=""
                            class="inp-line" placeholder="Email"
                            autocomplete="off" />
                        </div>
                        <div class="col-md-12 form-group">
                            <select name="designation" id="coworker_position"
                            class="form-control form-control-input mt-2">
                                <option value="" selected disabled hidden>Choose position</option>
                                {% for job in job_types %}
                                <option value="{{job.id}}" >
                                {{job}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group add-coworker-error-msg">
                        </div>
                        <div class="col-11 mb-1">
                            <a class="mem-setup-blu-f float-right add-coworker cursor-pointer">Attach</a>
                        </div>
                    </div>
                    </div>
 
                    <hr class="mem-set-acc-hr">
                </div>
                <!-- <div class=" pl-2 pb-2">
                    <div class="bold mt-3 mem-setup-blu-f "><a href="#" class="mem-blu-link">M<span
                        class="mem-small-f">Y</span>
                    P<span
                    class="mem-small-f">ROJECTS</span></a> (5)</div>
                    <div class="row mt-3">
                        <div class="col">
                            <img src="{% static 'images/pc-img1.PNG' %}" class="img-fluid pc-img">
                            <div class="pc-img-title">Project......</div>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/pc-img1.PNG' %}" class="img-fluid pc-img">
                            <div class="pc-img-title">Project......</div>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/pc-img1.PNG' %}" class="img-fluid pc-img">
                            <div class="pc-img-title">Project......</div>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/pc-img1.PNG' %}" class="img-fluid pc-img">
                            <div class="pc-img-title">Project......</div>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/pc-img1.PNG' %}" class="img-fluid pc-img">
                            <div class="pc-img-title">Project......</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="left-mode-sec p-2 mt-3">
                    <div class="row pcb-mem-white-bg">
                        <div class="col-5 form-group">
                            <input type="password" class="form-control form-control-input mem-b-placeholder"
                                placeholder="What’s on Your Mind">
                        </div>
                        <div class="col-4 form-group">
                            <input type="password" class="form-control form-control-input mem-b-placeholder"
                                placeholder="Post Photo/Video">
                        </div>
                        <div class="col-3 form-group">
                            <input type="password" class="form-control form-control-input mem-b-placeholder"
                                placeholder="Messenger">
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 top_rated_members">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script>
    $("input[id='file']").change(function (e) {
        var $this = $(this);
        $(".image-filename").html($this.val().split('\\').pop());
    });
</script>
<script>

    $(document).ready(function() {
        $('#coworker_position').select2();
        $('#location_1').select2();
        $('#position_1').select2();
        $('#format_1').select2();
    });


// add more - my interests
var count=1;
$('body').on('click' , '#add-more-interests', function(){
    count++
    var location_id ="#location_"+count
    var position_id ="#position_"+count
    var format_id ="#format_"+count
    var data_dict = {}
    data_dict = {'count':count}
    // get add coworker form
    $.get('/hobo_user/add-user-interest-form/',data_dict)
    .done(function(data) {
    if(data.results!='')
        {
            $('.my-interests-section').append(data['add_my_interests_form_html']);
            $(location_id).select2();
            $(position_id).select2();
            $(format_id).select2();
        }
    });
});


$('body').on('click' , '.add-coworker', function(){
    var name = $("#coworker_name").val();
    var token = $("#token").val();
    var email = $("#coworker_email").val();
    var position = $("#coworker_position").find("option:selected").val();
    var error_msg1 = ""
    var error_msg2 = ""
    var error_msg3 = ""
    data_dict = {}
    if(name!= ""){
        data_dict['name']=name;
    }else{
        error_msg1 = "Name cannot be empty."
    }
    if(email!= ""){
        data_dict['email']=email;
    }else{
        error_msg2 = "Email cannot be empty."
    }
    if(position!= ""){
        data_dict['position']=position;
    }else{
        error_msg3 = "Position cannot be empty."
    }
    if(error_msg1 == "" & error_msg2 == "" & error_msg3 == ""){
        // add coworker
        $.ajax
            ({
                type: "POST",
                url: "/hobo_user/add-coworker-api/",
                dataType: 'json',
                async: false,
                data: data_dict,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", token);
                },
                error: function(data){
                    $('.add-coworker-error-msg').html("");
                    $('.add-coworker-error-msg').html("Enter a vaild email address.");
                },
                success: function (response){
                    var coworker_id = response['id']
                    console.log(response['errors'])
                    if(response.errors){
                        $('.add-coworker-error-msg').html("");
                        $('.add-coworker-error-msg').html(
                            "<div class='errormsg'>Enter a vaild email address.</div>"
                            );
                    }else{
                        $.get('/hobo_user/attach-coworker/', {'id':coworker_id})
                        .done(function(data) {
                            if(data.results!='')
                                {
                                    $('.add-coworker-error-msg').html("");
                                    $('.coworkers').append(data['attach_coworker_html']);
                                }
                        });
                    }
                }
            });
    }else{
        $('.add-coworker-error-msg').html("");
        if(error_msg1 != ""){
            $('.add-coworker-error-msg').append(
            "<div class='errormsg'>"+error_msg1+"</div>"
            );
        }
        if(error_msg2 != ""){
            $('.add-coworker-error-msg').append(
            "<div class='errormsg'>"+error_msg2+"</div>"
            );
        }
        if(error_msg3 != ""){
            $('.add-coworker-error-msg').append(
            "<div class='errormsg'>"+error_msg3+"</div>"
            );
        }

    }
});


$('body').on('click' , '.delete-coworker', function(){
    var id = $(this).attr('id');
    var token = $("#token").val();
    var data_dict = {}
    data_dict['id'] = id
    $.ajax
        ({
            type: "POST",
            url: "/hobo_user/remove-coworker-api/",
            dataType: 'json',
            async: false,
            data: data_dict,
            beforeSend: function (xhr) {
                xhr.setRequestHeader ("Authorization", token);
            },
            error: function(data){
            },
            success: function (response){
                console.log(response['id'])
                window.location.reload()
            }
        });
    });
</script>

<script>
    $('body').on('click' , '.pos', function(){
        var id = $(this).attr('id');
        position=id.split("_")[0]
        image_id=id.split("_")[1]
        data_dict = {"id":image_id, "position":position}
        console.log(data_dict)
        $.get('/hobo_user/swap-image-position/', data_dict)
                .done(function(data) {
                    if(data.results!='')
                        {
                            location.reload();
                        }
                });
    });
</script>
{% endblock %}


