{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container mt-3 mb-3">

          <section class='rating-widget'>
          <!-- Rating Stars Box -->
            <div class='rating-stars text-center'>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
              </ul>
            </div>
          </section>
          <div class="row text-center">
            <div class="w-50 mx-auto">
              <div id="error-star" class="error-message"></div>
            </div>
          </div>
         <div class="mt-4 landing-form-font">
          <form method="post" class="col-lg-6 offset-lg-3">
              <div class="form-group row">
                  <label for="" class="col-sm-3 col-form-label">Email:</label>
                  <div class="col-sm-9">
                    <input type="text" name="email" class="form-control" id="id_email" maxlength="254">
                    <div id="error-email" class="error-message"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-3 col-form-label">Name:</label>
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" id="id_name" maxlength="150">
                    <div id="error-name" class="error-message"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-3 col-form-label">Feedback:</label>
                  <div class="col-sm-9">
                    <input type="text" name="user_feedback" class="form-control" id="id_user_feedback" maxlength="None">
                    <div id="error-feedback" class="error-message"></div>
                  </div>
                </div>
                <div class="text-center mb-4">
                  <button id="feedback-submit" type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
      </div>

    </div>
  </div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/feedback.js' %}"></script>
{% endblock %}
