
{% load friend_request_tag %}

{% if profile_user.id != logged_user.id  %}
{% can_contact logged_user profile_user as can_contact %}
{% get_friend_request_status logged_user profile_user as request_status %}
{% if request_status == 'not-friend' and can_contact == True %}
<input type ="hidden" name="profile_user" id="profile_user" value ="{{profile_user.id}}" />
<span class="friend_request">
    <span class="red-f bold cursor-pointer " id="send_friend_request">Friend Request</span>
</span>
{% elif request_status == 'request_send' %}
<input type ="hidden" name="profile_user" id="profile_user" value ="{{profile_user.id}}" />
<span class="friend_request">
    <span class="red-f bold cursor-pointer " id="cancel_friend_request">Cancel Friend Request</span>
</span>
{% elif request_status == 'friend' %}
<input type ="hidden" name="profile_user" id="profile_user" value ="{{profile_user.id}}" />
<span class="friend_request">
    <span class="red-f bold cursor-pointer"
    data-toggle="modal" data-target="#warning-unfriend">Friend</span>
</span>
{% elif request_status == 'respond' %}
<input type ="hidden" name="profile_user" id="profile_user" value ="{{profile_user.id}}" />
<span class="friend_request">
    <span class="red-f bold cursor-pointer"
    data-toggle="modal" data-target="#respond-friend-request">Respond</span>
</span>
{% endif %}
<!-- The Modal -->
<div class="modal fade" id="warning-unfriend">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Unfriend {{profile_user.get_full_name}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-left">
                        <label class="">Do you want to unfriend {{profile_user.get_full_name}}?</label>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm unfriend"
                id="{{profile_user.get_full_name}}" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-danger btn-sm"
                    data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
<!-- The Modal -->
<div class="modal fade" id="respond-friend-request">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Friend Request</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-left">
                        <label class="">Accept friend request from {{profile_user.get_full_name}}?</label>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm accept_friend_request"
                id="{{profile_user.id}}" data-dismiss="modal">Accept</button>
                <button type="button" class="btn btn-outline-danger btn-sm delete_friend_request"
                id="{{profile_user.id}}" data-dismiss="modal">Delete</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
{% endif %}