{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid flex-grow-1 index-outer-sectn mt-2 ">
    <div class="row index-sectn-tp">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">SHOWCASE</div>
      </div>
      <div class="col-md-11 right-sectn-tp">
        <div class="index-des-con ">
          is a place for top rated (<i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i> +) videos developed and produced by Film Hobo members. These
          videos are available to all members to watch, including Hobos
          (free accounts). Every month Top Ten rated (liked) Scenes and Top Ten rated Shorts will become monthly Top Ten
          to showcase Film Hobo’s talent. Think about it
          as a monthly Festival with global appeal.
        </div>
      </div>
    </div>

    <div class="row index-sectn">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head"><i class="fa fa-home f-18" aria-hidden="true"></i></div>
      </div>
      <div class="col-md-11 right-sectn">
        <div class="index-des-con">
          Every produced video goes to the home page( <i class="fa fa-home f-18 orng-icon" aria-hidden="true"></i> ), where Film Hobo Members (Indies and up) can rate every member of the
          team and give them feedback. Best videos
          with rating <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>+ will advance into the Showcase. Commercial lms don’t have to
          post their videos. They can use the
          platform just to manage their projects.
        </div>
      </div>
    </div>

    <div class="row index-sectn">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">PROJECTS</div>
      </div>
      <div class="col-md-11 right-sectn">
        <div class="index-des-con">
          is where writers or producers post their projects (script, cast, minimum team, locations, genre, format, etc.) for members to apply and audition. Scenes can have
          multiple teams in different locations, but only the highest rated video will end up in the showcase if it’s rating is above four stars. 
        </div>
      </div>
    </div>

    <div class="row index-sectn">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">ACTORS</div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            For Actors Film Hobo is the best platform to get noticed, improve their portfolio, and to advance in their career. Actors can build up their rating by playing in
            Scenes, Shorts, Pilots, and Features. As their ratings grow, they can move from an Indie Membership to the Pro Membership (unless they already belong to SAG).
            Depending on their SAMR (Status and Minimum Rating) Actors can audition for higher requirement Shorts, Pilots and Features. They also can track roles, projects,
            or professionals. They can audition through casting directors or apply for a job directly on the project page (if their SAMR meets the project’s requirement). They
            can get sides and post their audition tape right onto the project’s page, and get notification if they get a pass, a callback, or get attached to the project. 
          </div>
        </div>
      </div>

      <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">WRITERS
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            Writers - you can get right into the action by posting scripts of your best Scenes or Films for actors to play and for filmmakers to produce. Do not discard the
            power of a Scene. It is the fastest way to see your work on the screen and get noticed. You can create Scene projects with the option for multiple teams to
            produce. The more filmmakers and actors that want to play your scene, the more opportunities may come your way. If you want to see your work produced,
            then Film Hobo is for you. 
          </div>
        </div>
      </div>

       <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">FILMMAKERS
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            As a Filmmaker you can:
            <ul class="list-unstyled">
              <li>a) Apply for projects</li>
              <li>b) Create projects - Scenes, Shorts, Pilots and Features</li>
              <li>c) Have production tools such as Sides creation and distribution; Audition tools for actors, including
                a callback/chemistry room</li>
              <li>d) Choose your crew from top rated members of the Film Hobo community</li>
              <li>e) Get a feedback for your project from Film Hobo professionals and get your project rated</li>
              <li>f) Get rating for yourself. As a top rated lmmaker (Director, Producer, Director of Photography,
                Editor etc)
                you will get the visibility you deserve, it will help
                you to compete in this challenging industry. Get your project (Scene or Short) into the Top Ten of the
                Showcase and the whole world will know about you.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">CASTING DIRECTORS
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            Casting Directors can find projects and have a pool of top-rated actors for those project.
          </div>
        </div>
      </div>

      <div class="row index-sectn-btm">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">PRODUCTION COMPANIES
          </div>
        </div>
        <div class="col-md-11 right-sectn-btm">
          <div class="index-des-con">
            Production Companies can find talent and crew members using casting and audition tools for better effciency. Compare actors in the chemistry room.
            Distribute sides, evaluate the audition videos, and attach a chosen talent to the project. 
          </div>
        </div>
      </div>

    </div>
{% endblock %}