{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid flex-grow-1 index-outer-sectn mt-2 ">
    <div class="row index-sectn-tp">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">SHOWCASE</div>
      </div>
      <div class="col-md-11 right-sectn-tp">
        <div class="index-des-con ">
          is an online Festival with global appeal.
          At this time, Showcase will support only Top-Rated Scenes and Short Films created by FilmHobo premium members.
          The festival’s judges are members of the FilmHobo community including Hobo (free) accounts.
          Each member can use only one “like” for each video.
          The most “liked” videos will advance into the Top-Ten videos of the month competing for first place.
        </div>
      </div>
    </div>

    <div class="row index-sectn">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">SCREENING ROOM</div>
      </div>
      <div class="col-md-11 right-sectn">
        <div class="index-des-con">
          is an internal workplace for premium members such as Indie, Pro, or Company
          to display finished videos and get feedback and ratings on those videos.
          Each premium member involved in the production of the video may also be rated,
          and/or get feedback or suggestions on their work. The best videos with a rating of
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star orng-icon" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>+ will advance into the Showcase.
        </div>
      </div>
    </div>

    <div class="row index-sectn">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">PROJECTS</div>
      </div>
      <div class="col-md-11 right-sectn">
        <div class="index-des-con">
          <ul class="list-unstyled">
            <li>is where Projects are displayed for premium members to find and apply for an audition or a job.
              Who can create Projects?</li>
            <li>Indie Members can create: (1) Scenes, and (2) Short Films.</li>
            <li>Pro and Company Members can create: (1) Scenes, (2) Short Films, (3) Pilots, and (4) Features.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row index-sectn">
      <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
        <div class="index-des-head-white">ACTORS</div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            you can use the FilmHobo platform to find and apply for an audition,
            find an agent/manager, improve your portfolio, explore new roles/jobs,
            and ultimately, advance in your career.<br>
            If you don’t have SAG affiliation, by building your SAMR up
            (Status and Minimum Rating), you can advance from an Indie Membership to
            a Pro Membership at no additional cost (SAG actors are eligible for a
            Pro membership right away).<br>
            By improving your SAMR, you can audition for higher requirement Short Films,
            Pilots and Features. You can audition through casting directors or apply
            for a job directly on the project’s page (if your SAMR meets the project’s requirement).
            You can get sides and post your audition tape right onto the project’s page,
            and get notified if you get a pass, a callback, or get attached to the project.<br>
            To build your SAMR and your reel quickly, you are encouraged to play in as many
            Scenes as you can.  Do not underestimate the power of a Scene - a perfectly
            played one could make you a star.
          </div>
        </div>
      </div>

      <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">WRITERS
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            you can post your best Scenes for actors to play and for filmmakers to produce.
            With a well written scene you may get a request for the whole script and see
            your vision materialize onscreen.<br>
            With exposure to a whole new level of collaboration, you as a writer will have
            the ability to look for top rated (new or seasoned) producers for your scripts to
            be made into movies.<br>
            If you don’t have WGA affiliation, by building your SAMR up (Status and Minimum Rating),
            you can advance from an Indie Membership to a Pro Membership at no additional cost
            (WGA writers are eligible for a Pro membership right away).<br>
            As a writer, you can contact agents, managers, and/or production companies
            right on the FilmHobo site if you meet the Company’s SAMR contact/submission
            requirements.<br>
            If you want to see your work produced, then FilmHobo is for you.
          </div>
        </div>
      </div>

       <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">FILMMAKERS
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            you can:
            <ul class="list-unstyled">
              <li>a) Apply for projects.</li>
              <li>b) Create projects - Scenes, Short Films, Pilots* and Features*.</li>
              <li>c) Have production tools such as Sides’ creation and distribution,
                audition tools, crew select tools, chemistry room, and much more.</li>
              <li>d) Get feedback for your projects from FilmHobo professionals and get those projects rated.</li>
              <li>e) Get ratings for your personal work. As a top-rated filmmaker
                (Director, Producer, Director of Photography etc.) you will get the visibility you deserve, 
                it will help you climb the ranks in this challenging industry.
                Get your Scene or Short Film into the Top-Ten of the Showcase and
                the whole world will know about you.</li>
              <li>* Only Pro and Company members can create Pilot and Feature Projects. </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">PRODUCTION COMPANIES
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            can position themselves ahead of the herd by using FilmHobo tools for production,
            communication, and for finding talent and crew for their projects.
          </div>
        </div>
      </div>

      <div class="row index-sectn">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">TALENT AGENCY / MANAGEMENT COMPANIES
          </div>
        </div>
        <div class="col-md-11 right-sectn">
          <div class="index-des-con">
            can scout for top-rated talent, have their clients listed on the Company’s page
            with the clients’ rating attached, search for projects for their clients, give
            their clients sides and assignments, contact production companies on their
            clients’ behalf, etc. Everything is in one place.
          </div>
        </div>
      </div>

      <div class="row index-sectn-btm">
        <div class="col-md-1 min-h-50 d-flex flex-row justify-content-center align-items-center">
          <div class="index-des-head-white">CASTING DIRECTORS
          </div>
        </div>
        <div class="col-md-11 right-sectn-btm">
          <div class="index-des-con">
            <ul class="list-unstyled">
              <li>can find projects and have a pool of top-rated actors for those projects.</li>
              <li>The advanced tools for auditions and communication with actors and filmmakers, will make casting a breeze.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/how_to.js' %}"></script>
{% endblock %}