{% extends 'base.html' %}
{% load rest_framework %}



{% block extracss %}
{% endblock %}

{% block content %}

        <h1>Login</h1>
        <form method="post" action="{% url 'hobo_user:user_login' %}">
            {% csrf_token %}
            <p> {{ form.non_field_errors }}</p>
            <p>
                Email {{form.username}}
                {{form.username.errors}}
            </p>
            <p>
                Password {{form.password}}
                {{form.password.errors}}
            </p>
            <button type="submit" class="btn btn-default">Sign in</button>
        </form>



{% endblock %}

{% block extrajs %}
{% endblock %}