{% extends 'base.html' %}
{% load rest_framework %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <h1>Logged out</h1>
    <form method="post" action="{% url 'hobo_user:user_login' %}">
        {% csrf_token %}
        <p> {{ form.non_field_errors }}</p>
        <p>Thanks for spending some quality time with the Web site today.</p>
        <p><a href="{% url 'hobo_user:user_login' %}">Log in again</a></p>
    </form>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}