{% load rest_framework %}

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Logged out</h1>
        <form method="post" action="{% url 'hobo_user:user_login' %}">
            {% csrf_token %}
            <p> {{ form.non_field_errors }}</p>
            <p>Thanks for spending some quality time with the Web site today.</p>
            <p><a href="{% url 'hobo_user:user_login' %}">Log in again</a></p>
        </form>
    </body>
</html>