{% extends 'base.html' %}
{% load user_account_tag %}
{% load user_tracking_tag %}
{% load friend_request_tag %}
{% load token static %}


{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    {% if profile %}
    <div class="container-fluid member-setup-sec">
        <div class="row mb-4">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 text-center">
                {% if profile.user.id == request.user.id  %}
                <div class="left-mode-sec p-2">View profile in:
                    <a href="{% url 'hobo_user:edit-profile' %}"
                    class="btn btn-mem-mode btn-block mt-2">Edit Mode</a>
                    <button class="btn btn-mem-mode btn-block mt-2 ">Public Mode</button>
                </div>
                {% endif %}
                <div class="left-mode-sec mt-3 p-2">
                    <span class="friend-status">
                        {% if profile.user.id != request.user.id  %}
                        {% can_contact request.user profile.user as can_contact %}
                        {% get_friend_request_status request.user profile.user as request_status %}
                        {% if request_status == 'not-friend' and can_contact == True %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer " id="send_friend_request">Friend Request</span>
                        </span>
                        {% elif request_status == 'request_send' %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer " id="cancel_friend_request">Cancel Friend Request</span>
                        </span>
                        {% elif request_status == 'friend' %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer"
                            data-toggle="modal" data-target="#warning-unfriend">Friend</span>
                        </span>
                        {% elif request_status == 'respond' %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer"
                            data-toggle="modal" data-target="#respond-friend-request">
                            <i class="fa fa-user" aria-hidden="true"></i> Respond</span>
                        </span>
                        {% endif %}
                        <!-- The Modal -->
                        <div class="modal fade" id="warning-unfriend">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h6 class="modal-title mem-setup-blu-f">Unfriend {{profile.user.get_full_name}}</h6>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <label class="">Do you want to unfriend {{profile.user.get_full_name}}?</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger btn-sm unfriend"
                                        id="{{profile.user.get_full_name}}" data-dismiss="modal">Yes</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                            data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->
                        <!-- The Modal -->
                        <div class="modal fade" id="respond-friend-request">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h6 class="modal-title mem-setup-blu-f">Friend Request</h6>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <label class="">Accept friend request from {{profile.user.get_full_name}}?</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger btn-sm accept_friend_request"
                                        id="{{profile.user.id}}" data-dismiss="modal">Accept</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm delete_friend_request"
                                        id="{{profile.user.id}}" data-dismiss="modal">Delete</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->
                        {% endif %}
                    </span>
                    <ul class="list-unstyled">
                        <li class="mt-2"><a href="#" class="mem-blu-link">I<span
                                    class="mem-small-f">NVITE</span></a></li>
                        <li class="mt-1">
                            {% get_tracking_list request.user profile.user as is_tracking %}
                            {% if is_tracking %}
                                    <input type ="hidden" name="track_id" id="track_id" value ="{{profile.user.id}}" />
                                    <span class="track-btn">
                                        <a class="mem-blu-link cursor-pointer un_track" id="{{profile.user.get_full_name}}">T<span class="mem-small-f">RACKING</span></a>
                                    </span>
                            {% else %}
                                    {% can_track request.user profile.user as can_track %}
                                    {% if profile.user.id != request.user.id and can_track == True %}
                                            <input type ="hidden" name="track_id" id="track_id" value ="{{profile.user.id}}" />
                                            <span class="track-btn">
                                                <a class="mem-blu-link cursor-pointer track" id="{{profile.user.get_full_name}}">T<span class="mem-small-f">RACK</span></a>
                                            </span>
                                    {% endif %}
                            {% endif %}
                        </li>
                        <li class="mt-1"><a href="#" class="mem-blu-link">S<span class="mem-small-f">HARE</span></a>
                        </li>
                    </ul>
                </div>
                <div class="left-mode-sec mt-3 p-2 mem-ad-banner-1">
                    <ul class="list-unstyled p-2 mb-0">
                        <li><a href="#" class="red-f bold ">A<span class="mem-small-f">D</span> B<span
                                    class="mem-small-f">ANNER</span></a></li>
                    </ul>
                </div>
                <div class="left-mode-sec mt-3 p-2  mem-ad-banner-2">
                    <ul class="list-unstyled p-2 mb-0">
                        <li><a href="#" class="red-f bold ">A<span class="mem-small-f">D</span> B<span
                                    class="mem-small-f">ANNER</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 pl-1 pr-1">
                <div class="left-mode-sec mem-img-p">
                    <div class="row">
                        <div class="col-12 mem-set-img">
                            <img src="{{ profile.user.get_profile_photo}}" class="img-fluid mem-set-top-img" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        {% for photo in photos %}
                        <div class="col-4 mem-set-img">
                            <img src="{{ photo.image.url }}" class="img-fluid  mem-set-img-s" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="left-mode-sec mt-3 mem-left-2">
                    <div class="mem-set-network-sec mt-3">
                        <div class="mem-setup-blu-f mb-1 float-left">Network/Friends</div>
                        <div class="float-right">
                            {% if profile.user.id == request.user.id %}
                            <a href="{% url 'hobo_user:friends-and-followers' %}"
                            class="mem-setup-blck-f">Edit</a>
                            {% endif %}
                        </div>
                        <hr class="mem-setup-network-hr">
                        {% for item in friends %}
                        {% if forloop.first or forloop.counter == 5 %}
                        <div class="row pl-1 pr-1 {% if forloop.counter == 5 %} mt-3 {% endif %}">
                        {% endif %}
                            <div class="col-3 mem-set-net-img-sec2">
                                {% if item.get_profile_photo %}
                                <img src="{{item.get_profile_photo}}"
                                title="{{item.get_full_name}}"
                                class="img-fluid mem-set-img-add">
                                {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}"
                                title="{{obj.user.get_full_name}}"
                                class="img-fluid mem-set-img-add">
                                {% endif %}
                                <div class="mem-set-img-add-nam">{{item.get_full_name|truncatechars:"5"}}</div>
                            </div>
                        {% if forloop.last or forloop.counter == 4 %}
                        </div>
                        {% endif %}
                        {% endfor%}
                    </div>

                    <div class="mem-set-network-sec mt-3 mb-4">
                        <div class="mb-1 float-left">
                            <a {% if profile.user.id == request.user.id %} href="{% url 'hobo_user:friends-and-followers' %}" {% endif %}
                            class="mem-setup-orng-f">({{tracking_list_count}})Tracking</a>
                        </div>
                        <div class="float-right">
                            <a {% if profile.user.id == request.user.id %} href="{% url 'hobo_user:friends-and-followers' %}" {% endif %}
                            class="mem-setup-blu-f">({{trackers_list_count}})Trackers</a>
                        </div>
                        <hr class="mem-setup-network-hr">
                        <div class="mem-set-track-txt mb-1"><span class="underline">People</span> ({{tracking_list.count}})</div>
                        <div class="row pl-3 pr-3">
                            {% for obj in tracking_list %}
                            <div class="col-2 mem-set-img">
                                {% if obj.user.get_profile_photo %}
                                <img src="{{obj.user.get_profile_photo}}" title="{{obj.user.get_full_name}}" class="img-fluid mem-set-img-track-sec2">
                                {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}" title="{{obj.user.get_full_name}}"
                                class="img-fluid mem-set-img-track-sec2">
                                {% endif %}
                                <div class="mem-set-img-track-nam">{{obj.user.first_name|truncatechars:"5"}}</div>
                            </div>
                           {% endfor %}
                        </div>
                        <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Projects</span> (3)</div>
                        <div class="row">
                            <div class="col-4 ">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#224</span>
                                </div>
                                <div class="track-blu-f-sec2">Title:<span class="track-orng-f-sec2">Dynamo</span>
                                </div>
                            </div>
                            <div class="col-4 mem-set-track-padding-sec2">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#56</span>
                                </div>
                                <div class="track-blu-f-sec2">Title:<span class="track-orng-f-sec2">Jack</span>
                                </div>
                            </div>
                            <div class="col-4 mem-set-track-padding-sec2 pl-0">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#457</span>
                                </div>
                                <div class="track-blu-f-sec2">Title:<span class="track-orng-f-sec2">Hammer</span>
                                </div>
                            </div>
                        </div>
                        <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Teams</span> (2)</div>
                        <div class="row">
                            <div class="col-6">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#224</span>
                                </div>
                                <div class="track-blu-f-sec2">Team:<span class="track-orng-f-sec2">#3</span></div>
                                <div class="track-blu-f-sec2">Location:<span class="track-orng-f-sec2">Dallas</span>
                                </div>
                            </div>
                            <div class="col-6 mem-set-track-padding">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#178</span>
                                </div>
                                <div class="track-blu-f-sec2">Team:<span class="track-orng-f-sec2">#1</span></div>
                                <div class="track-blu-f-sec2">Location:<span class="track-orng-f-sec2">New
                                        York</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3 pr-1">
                <div class="left-mode-sec pl-2 pb-2">
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">{{profile.user.get_full_name}}</label>
                        </div>
                        <div class="col-1">
                            <i class="fa fa-envelope mail-bx" aria-hidden="true"></i>
                        </div>
                        <div class="col-1">
                            {% if profile.bio %}
                            <label class="form-title mem-setup-blu-f" data-toggle="modal" data-target="#bio">BIO</label>
                            <!-- The Modal -->
                            <div class="modal fade" id="bio">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h6 class="modal-title mem-setup-blu-f">Bio</h6>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="">{{profile.bio}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger btn-sm"
                                                data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal End -->
                            {% endif %}
                        </div>
                        <div class="col-1">
                            <label class="form-title">
                                {% if profile.imdb %}
                                {% get_url profile.imdb as imdb %}
                                <a href="{{imdb}}" class="mem-setup-blu-f" >IMDB</a>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Status:</label>
                        </div>
                        <div class="col-9  mt-3">
                            <span class="mem-set-membr-f ">{{profile.user.get_membership_display}}</span>
                        </div>
                    </div>
                    {% if profile.job_types %}
                    {% for obj in profile.job_types.all %}
                    <div class="row">
                        <div class="col-3">
                            {% if forloop.first %}
                            <label class="form-title mem-setup-blu-f">Skills:</label>
                            {% endif %}
                        </div>
                        <div class="col-2  mt-3">
                            <span class="">{{obj.title}}</span>
                        </div>
                        <div class="col-3  mt-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <span class="rate">
                                        <input type="radio" id="star25" name="rate" value="5" />
                                        <label for="star25" title="text">5 stars</label>
                                        <input type="radio" id="star24" name="rate" value="4" />
                                        <label for="star24" title="text">4 stars</label>
                                        <input type="radio" id="star23" name="rate" value="3" />
                                        <label for="star23" title="text">3 stars</label>
                                        <input type="radio" id="star22" name="rate" value="2" />
                                        <label for="star22" title="text">2 stars</label>
                                        <input type="radio" id="star21" name="rate" value="1" />
                                        <label for="star21" title="text">1 star</label>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-2  mt-3">
                            Projects:<span class="mem-setup-blu-f underline ml-1">5</span>
                        </div>
                    </div>

                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Personal Details:</label>
                        </div>
                        <div class="col-9  mt-3">
                            <span class="">
                                {% if profile.user.feet %}{{profile.user.feet}}’{{profile.user.inch}} ({{profile.user.get_height_in_meters}} m){% endif%}
                                {% if profile.user.start_age and profile.user.stop_age %}, Age-playing range {{profile.user.start_age}} - {{profile.user.stop_age}} {% endif %}
                            </span>
                            <a href="" data-toggle="modal" data-target="#more_tab"
                                class="mem-setup-blu-f underline ml-2">more</a>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div class="modal fade" id="more_tab">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h6 class="modal-title mem-setup-blu-f">Personal Details</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    {% if profile.user.feet %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Height</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.feet}}’{{profile.user.inch}} ({{profile.user.get_height_in_meters}} m)
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.lbs %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Weight</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.lbs}}(lbs)
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.physique %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Physique</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_physique_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.start_age and profile.user.stop_age %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Age-playing range</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.start_age}} - {{profile.user.stop_age}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.hair_color %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Hair Color</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_hair_color_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.hair_length %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Hair Length</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_hair_length_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.eyes %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Eye color</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_eyes_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.ethnic_appearance %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Ethnic Appearance</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.ethnic_appearance}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.user_athletic_skills %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Athletic Skills</label>
                                        </div>
                                        <div class="col-8">
                                            {% for obj in profile.user.user_athletic_skills.all %}
                                                {{obj.athletic_skill}}{% if not forloop.last %},{% endif%}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger btn-sm"
                                        data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                    {% if all_agents %}
                        {% for agent in all_agents %}
                        <div class="row">
                            <div class="col-3">
                                <label class="form-title">
                                    <span class="mem-setup-blu-f">Agent({{agent.agent_job_type}})</span>:</label>
                            </div>
                            <div class="col-8  mt-3">
                                {% user_has_account agent.agent_email as agent_user %}
                                {% if agent_user %}
                                <span class="">
                                    <a href="{{agent_user.get_profile_url}}">
                                    {{agent.agent_name}}
                                    </a>
                                </span>
                                {% else %}
                                <span class="">
                                    {{agent.agent_name}}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if all_managers %}
                        {% for manager in all_managers %}
                        <div class="row">
                            <div class="col-3">
                                <label class="form-title">
                                    <span class="mem-setup-blu-f">Manager({{manager.agent_job_type}})</span>:</label>
                            </div>
                            <div class="col-8  mt-3">
                                <span class="">
                                    {% user_has_account manager.agent_email as manager_user %}
                                    {% if manager_user %}
                                    <a href="{{manager_user.get_profile_url}}">
                                        {{manager.agent_name}}
                                    </a>
                                    {% else %}
                                        {{manager.agent_name}}
                                    {% endif%}
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if profile.user.guild_membership %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Guilds:</label>
                        </div>
                        <div class="col-8  mt-3">
                            <span class="">
                                {% for item in profile.user.guild_membership.all %}
                                {{item}}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    {% if profile.company %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Company:</label>
                        </div>
                        <div class="col-8  mt-3">
                            <span class="">{{profile.company}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Position:</label>
                        </div>
                        <div class="col-8  mt-3">
                            <span class="">{{profile.company_position}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Website:</label>
                        </div>
                        <div class="col-8  mt-3">
                            {% get_url profile.company_website as company_website %}
                            <a href="{{company_website}}">
                                <span class="underline orng-f">{{profile.company_website}}</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <div class="left-mode-sec p-2 mt-3">
                    <div class="row mem-white-bg">
                                <div class="col-5 form-group">
                                    <input type="password" class="form-control form-control-input mem-b-placeholder" placeholder="What’s on Your Mind">
                                </div>
                                <div class="col-4 form-group">
                                    <input type="password" class="form-control form-control-input mem-b-placeholder" placeholder="Post Photo/Video">
                                </div>
                                <div class="col-3 form-group">
                                    <input type="password" class="form-control form-control-input mem-b-placeholder" placeholder="Messenger">
                                </div>
                    </div>
                    </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3">
                <div class="left-mode-sec">
                    <div class="mem-list-head">Top Actors</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">John Smith</li>
                        <li class="mt-1">John Dow</li>
                        <li class="mt-1">Karen Do</li>
                        <li class="mt-1">Aaron McCarty</li>
                        <li class="mt-1">Toli Chew</li>
                    </ol>
                    <div class="mem-list-head">Top Writers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Tom Saint</li>
                        <li class="mt-1">Lola Carola</li>
                        <li class="mt-1">Ken Track</li>
                        <li class="mt-1">Jamal Smith</li>
                        <li class="mt-1">Nikita Selivan</li>
                    </ol>
                    <div class="mem-list-head">Top Directors</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Karen Do</li>
                        <li class="mt-1">Ivan Drago</li>
                        <li class="mt-1">Ken Track</li>
                        <li class="mt-1">Kendra Shulman</li>
                        <li class="mt-1">Sandra O’brian</li>
                    </ol>
                    <div class="mem-list-head">Top Producers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head">Top DPs</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head">Top Editors</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head underline">TopTalent/Crew</div>
                </div>

            </div>
        </div>
    </div>
{% else %}
    <p>{{message}}</p>
{% endif %}

</div>
{% endblock %}

{% block extrajs %}
{% endblock %}


