{% extends 'base.html' %}
{% load user_account_tag %}
{% load user_tracking_tag %}
{% load check_profile_visibility_tag %}
{% load friend_request_tag %}
{% load token static %}


{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    {% if profile %}
    <div class="container-fluid member-setup-sec">
        <div class="row mb-4">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 text-center">
               
                {% if profile.user.id == request.user.id  %}
                <div class="left-mode-sec p-2">View profile in:
                    <a href="{% url 'hobo_user:edit-profile' %}"
                    class="btn btn-mem-mode btn-block mt-2 clickable-mode">Edit Mode</a>
                    <button class="btn btn-mem-mode btn-block mt-2 selected-mode">Public Mode</button>
                </div>
                {% endif %}
                <div class="left-mode-sec mt-3 p-2">
                    <span class="friend-status">
                        {% if profile.user.id != request.user.id  %}
                        {% can_contact request.user profile.user as can_contact %}
                        {% get_friend_request_status request.user profile.user as request_status %}
                        {% if request_status == 'not-friend' and can_contact == True %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer " id="send_friend_request">Friend Request</span>
                        </span>
                        {% elif request_status == 'request_send' %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer " id="cancel_friend_request">Cancel Friend Request</span>
                        </span>
                        {% elif request_status == 'friend' %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer"
                            data-toggle="modal" data-target="#warning-unfriend">Friend</span>
                        </span>
                        {% elif request_status == 'respond' %}
                        <input type ="hidden" name="profile_user" id="profile_user" value ="{{profile.user.id}}" />
                        <span class="friend_request">
                            <span class="red-f bold cursor-pointer"
                            data-toggle="modal" data-target="#respond-friend-request">
                            <i class="fa fa-user" aria-hidden="true"></i> Respond</span>
                        </span>
                        {% endif %}
                        <!-- The Modal -->
                        <div class="modal fade" id="warning-unfriend">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h6 class="modal-title mem-setup-blu-f">Unfriend {{profile.user.get_full_name}}</h6>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <label class="">Do you want to unfriend {{profile.user.get_full_name}}?</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger btn-sm unfriend"
                                        id="{{profile.user.get_full_name}}" data-dismiss="modal">Yes</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                            data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->
                        <!-- The Modal -->
                        <div class="modal fade" id="respond-friend-request">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h6 class="modal-title mem-setup-blu-f">Friend Request</h6>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <label class="">Accept friend request from {{profile.user.get_full_name}}?</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger btn-sm accept_friend_request"
                                        id="{{profile.user.id}}" data-dismiss="modal">Accept</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm delete_friend_request"
                                        id="{{profile.user.id}}" data-dismiss="modal">Delete</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->
                        {% endif %}
                    </span>
                    <ul class="list-unstyled">
                        <li class="mt-2"><a href="#" class="mem-blu-link">I<span
                                    class="mem-small-f">NVITE</span></a></li>
                        <li class="mt-1">
                            {% get_tracking_list request.user profile.user as is_tracking %}
                            {% if is_tracking %}
                                    <input type ="hidden" name="track_id" id="track_id" value ="{{profile.user.id}}" />
                                    <span class="track-btn">
                                        <a class="mem-blu-link cursor-pointer un_track" id="{{profile.user.get_full_name}}">T<span class="mem-small-f">RACKING</span></a>
                                    </span>
                            {% else %}
                                    {% can_track request.user profile.user as can_track %}
                                    {% if profile.user.id != request.user.id and can_track == True %}
                                            <input type ="hidden" name="track_id" id="track_id" value ="{{profile.user.id}}" />
                                            <span class="track-btn">
                                                <a class="mem-blu-link cursor-pointer track" id="{{profile.user.get_full_name}}">T<span class="mem-small-f">RACK</span></a>
                                            </span>
                                    {% endif %}
                            {% endif %}
                        </li>
                        <li id="share-link" class="mt-1"><a href="#" class="mem-blu-link log-fnt-weight">S<span class="mem-small-f">HARE</span></a>
                        </li>
                    </ul>
                </div>
                <div class="left-mode-sec mt-3 p-2 mem-ad-banner-1">
                    <ul class="list-unstyled p-2 mb-0">
                        <li><a href="#" class="red-f bold ">A<span class="mem-small-f">D</span> B<span
                                    class="mem-small-f">ANNER</span></a></li>
                    </ul>
                </div>
                <div class="left-mode-sec mt-3 p-2  mem-ad-banner-2">
                    <ul class="list-unstyled p-2 mb-0">
                        <li><a href="#" class="red-f bold ">A<span class="mem-small-f">D</span> B<span
                                    class="mem-small-f">ANNER</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 pl-1 pr-1">
                <div class="left-mode-sec mem-img-p">
                    <div class="row">
                        <div class="col-12 mem-set-img">
                            {% if profile.user.get_profile_photo %}
                            <img src="{{ profile.user.get_profile_photo}}" class="img-fluid mem-set-top-img" />
                            {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}" class="img-fluid mem-set-top-img" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-1">
                        {% for photo in photos %}
                        <div class="col-4 mem-set-img">
                            <img src="{{ photo.image.url }}" class="img-fluid  mem-set-img-s" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% can_view_profile request.user profile.user as can_visit %}
                {% if can_visit == True %}
                <div class="left-mode-sec mt-3 mem-left-2">
                    <div class="mem-set-network-sec mt-3">
                        <div class="mem-setup-blu-f mb-1 float-left">Network/Friends</div>
                        <div class="float-right">
                            {% if profile.user.id == request.user.id %}
                            <a href="{% url 'hobo_user:friends-and-followers' %}"
                            class="mem-setup-blck-f">Edit</a>
                            {% endif %}
                        </div>
                        <hr class="mem-setup-network-hr">
                        {% for item in friends %}
                        {% if forloop.first or forloop.counter == 5 %}
                        <div class="row pl-1 pr-1 {% if forloop.counter == 5 %} mt-3 {% endif %}">
                        {% endif %}
                            <div class="col-3 mem-set-net-img-sec2">
                                {% if item.get_profile_photo %}
                                <a href="{{item.get_profile_url }}">
                                <img src="{{item.get_profile_photo}}"
                                title="{{item.get_full_name}}"
                                class="img-fluid mem-set-img-add">
                                {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}"
                                title="{{obj.user.get_full_name}}"
                                class="img-fluid mem-set-img-add">
                                {% endif %}</a>
                                <div class="mem-set-img-add-nam">{{item.get_full_name|truncatechars:"5"}}</div>
                            </div>
                        {% if forloop.last or forloop.counter == 4 %}
                        </div>
                        {% endif %}
                        {% endfor%}
                    </div>

                    <div class="mem-set-network-sec mt-3 mb-4">
                        <div class="mb-1 float-left">
                            <a {% if profile.user.id == request.user.id %} href="{% url 'hobo_user:friends-and-followers' %}" {% endif %}
                            class="mem-setup-orng-f">({{tracking_list_count}})Tracking</a>
                        </div>
                        <div class="float-right">
                            <a {% if profile.user.id == request.user.id %} href="{% url 'hobo_user:friends-and-followers' %}" {% endif %}
                            class="mem-setup-blu-f">({{trackers_list_count}})Trackers</a>
                        </div>
                        <hr class="mem-setup-network-hr">
                        <div class="mem-set-track-txt mb-1"><span class="underline">People</span> ({{tracking_list.count}})</div>
                        <div class="row pl-3 pr-3">
                            {% for obj in tracking_list %}
                            <div class="col-2 mem-set-img">
                                <a href="{{ obj.user.get_profile_url }}">
                                {% if obj.user.get_profile_photo %}
                                <img src="{{obj.user.get_profile_photo}}" title="{{obj.user.get_full_name}}" class="img-fluid mem-set-img-track-sec2">
                                {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}" title="{{obj.user.get_full_name}}"
                                class="img-fluid mem-set-img-track-sec2">
                                {% endif %}
                                </a>
                                <div class="mem-set-img-track-nam">{{obj.user.first_name|truncatechars:"5"}}</div>
                            </div>
                           {% endfor %}
                        </div>
                        <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Projects</span> (3)</div>
                        <div class="row">
                            <div class="col-4 ">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#224</span>
                                </div>
                                <div class="track-blu-f-sec2">Title:<span class="track-orng-f-sec2">Dynamo</span>
                                </div>
                            </div>
                            <div class="col-4 mem-set-track-padding-sec2">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#56</span>
                                </div>
                                <div class="track-blu-f-sec2">Title:<span class="track-orng-f-sec2">Jack</span>
                                </div>
                            </div>
                            <div class="col-4 mem-set-track-padding-sec2 pl-0">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#457</span>
                                </div>
                                <div class="track-blu-f-sec2">Title:<span class="track-orng-f-sec2">Hammer</span>
                                </div>
                            </div>
                        </div>
                        <div class="mem-set-track-txt mt-1 mb-1"><span class="underline">Teams</span> (2)</div>
                        <div class="row">
                            <div class="col-6">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#224</span>
                                </div>
                                <div class="track-blu-f-sec2">Team:<span class="track-orng-f-sec2">#3</span></div>
                                <div class="track-blu-f-sec2">Location:<span class="track-orng-f-sec2">Dallas</span>
                                </div>
                            </div>
                            <div class="col-6 mem-set-track-padding">
                                <div class="track-blu-f-sec2">Project<span class="track-orng-f-sec2">#178</span>
                                </div>
                                <div class="track-blu-f-sec2">Team:<span class="track-orng-f-sec2">#1</span></div>
                                <div class="track-blu-f-sec2">Location:<span class="track-orng-f-sec2">New
                                        York</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3 pr-1">
                {% can_view_profile request.user profile.user as can_visit %}
                {% if can_visit == True %}
                <div class="left-mode-sec pl-2 pb-2">
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">{{profile.user.get_full_name}}</label>
                        </div>
                        <div class="col-1">
                            <i class="fa fa-envelope mail-bx" aria-hidden="true"></i>
                        </div>
                        <div class="col-1">
                            {% if profile.bio %}
                            <label class="form-title mem-setup-blu-f" data-toggle="modal" data-target="#bio">BIO</label>
                            <!-- The Modal -->
                            <div class="modal fade" id="bio">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h6 class="modal-title mem-setup-blu-f">Bio</h6>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="">{{profile.bio}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger btn-sm"
                                                data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal End -->
                            {% endif %}
                        </div>
                        <div class="col-1">
                            <label class="form-title">
                                {% if profile.imdb %}
                                {% get_url profile.imdb as imdb %}
                                <a href="{{imdb}}" class="mem-setup-blu-f" >IMDB</a>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Status:</label>
                        </div>
                        <div class="col-9  mt-3">
                            <span class="mem-set-membr-f ">{{profile.user.get_membership_display}}</span>
                        </div>
                    </div>
                    {% if profile.job_types %}
                    {% for job,rating in rating_dict.items %}
                    <div class="row">
                        <div class="col-3">
                            {% if forloop.first %}
                            <label class="form-title mem-setup-blu-f">Skills:</label>
                            {% endif %}
                        </div>
                        <div class="col-2  mt-3">
                            <span class="">
                                {% get_dict_value job_dict job  as job_title %}
                                {{job_title}}
                            </span>
                        </div>
                        <div class="col-3  mt-3">
                            {% if not settings.hide_ratings %}
                            <div class="containerdiv ratings">
                                <div>
                                <img src="{% static 'images/stars_blank.png' %}"
                                class="star-img" alt="img" />
                                </div>
                                <div class="cornerimage" style="width:{{rating}}%;">
                                <img src="{% static 'images/stars_full.png' %}"
                                class="star-img" alt="" />
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-2  mt-3">
                            Projects:<span class="mem-setup-blu-f underline ml-1">5</span>
                        </div>
                    </div>

                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Personal Details:</label>
                        </div>
                        <div class="col-9  mt-3">
                            <span class="">
                                {% if profile.user.feet %}{{profile.user.feet}}’{{profile.user.inch}} ({{profile.user.get_height_in_meters}} m){% endif%}
                                {% if profile.user.start_age and profile.user.stop_age %}, Age-playing range {{profile.user.start_age}} - {{profile.user.stop_age}} {% endif %}
                            </span>
                            <a href="" data-toggle="modal" data-target="#more_tab"
                                class="mem-setup-blu-f underline ml-2">more</a>
                        </div>
                    </div>


                    <!-- Share Modal Start -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span id="shareModalClose" aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 email-id-row">
                    <span class="to-input">To</span>
                        <div id="all_mail" class="all-mail">
                        </div>
                       
                    
                     
                        <select class="form-control" name="userSelect" multiple id="userSelect">
                            {% for friend in friends %}
                            <option value="{{friend.id}}" >{{friend}} </option>
                                {% endfor %}
                        </select>
                        <div class="modal-footer">
                            <button id="profile_url_send" type="submit" class="btn btn-primary">Send</button>
                            <button  data-dismiss="modal" id="cancel_url" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                   
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Modal End -->
                    <!-- The Modal -->
                    <div class="modal fade" id="more_tab">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h6 class="modal-title mem-setup-blu-f">Personal Details</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    {% if profile.user.feet %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Height</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.feet}}’{{profile.user.inch}} ({{profile.user.get_height_in_meters}} m)
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.lbs %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Weight</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.lbs}}(lbs)
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.physique %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Physique</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_physique_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.start_age and profile.user.stop_age %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Age-playing range</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.start_age}} - {{profile.user.stop_age}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.hair_color %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Hair Color</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_hair_color_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.hair_length %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Hair Length</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_hair_length_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.eyes %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Eye color</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.get_eyes_display}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.ethnic_appearance %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Ethnic Appearance</label>
                                        </div>
                                        <div class="col-8">
                                            {{profile.user.ethnic_appearance}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if profile.user.user_athletic_skills %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="mem-setup-blu-f">Athletic Skills</label>
                                        </div>
                                        <div class="col-8">
                                            {% for obj in profile.user.user_athletic_skills.all %}
                                                {{obj.athletic_skill}}{% if not forloop.last %},{% endif%}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger btn-sm"
                                        data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                    {% if all_agents %}
                        {% for agent in all_agents %}
                        <div class="row">
                            <div class="col-3">
                                <label class="form-title">
                                    <span class="mem-setup-blu-f">Agent({{agent.agent_job_type}})</span>:</label>
                            </div>
                            <div class="col-8  mt-3">
                                {% user_has_account agent.agent_email as agent_user %}
                                {% if agent_user %}
                                <span class="">
                                    <a href="{{agent_user.get_profile_url}}">
                                    {{agent.agent_name}}
                                    </a>
                                </span>
                                {% else %}
                                <span class="">
                                    {{agent.agent_name}}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if all_managers %}
                        {% for manager in all_managers %}
                        <div class="row">
                            <div class="col-3">
                                <label class="form-title">
                                    <span class="mem-setup-blu-f">Manager({{manager.agent_job_type}})</span>:</label>
                            </div>
                            <div class="col-8  mt-3">
                                <span class="">
                                    {% user_has_account manager.agent_email as manager_user %}
                                    {% if manager_user %}
                                    <a href="{{manager_user.get_profile_url}}">
                                        {{manager.agent_name}}
                                    </a>
                                    {% else %}
                                        {{manager.agent_name}}
                                    {% endif%}
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if profile.user.guild_membership %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Guilds:</label>
                        </div>
                        <div class="col-8  mt-3">
                            <span class="">
                                {% for item in profile.user.guild_membership.all %}
                                {{item}}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    {% if profile.company %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Company:</label>
                        </div>
                        <div class="col-8  mt-3">
                            <span class="">{{profile.company}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Position:</label>
                        </div>
                        <div class="col-8  mt-3">
                            <span class="">{{profile.company_position}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-title mem-setup-blu-f">Website:</label>
                        </div>
                        <div class="col-8  mt-3">
                            {% get_url profile.company_website as company_website %}
                            <a href="{{company_website}}">
                                <span class="underline orng-f">{{profile.company_website}}</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    <!-- my projects -->
                    {% if my_projects %}
                    <div class="row mt-4">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12  mb-1">
                            <div>
                                <p class="form-title mem-setup-blu-f">My Projects</p>
                            </div>
                            <div class="cta-owl-align">
                                <div class="cast-owl owl-carousel owl-theme">
                                    {% for obj in my_projects %}
                                    <div class="item ">
                                        <div class="cta-rate-div-align">
                                            <div class="cta-rate-image-frame">
                                            <a href="{% url 'project:single-film-project' obj.project.id %}"  title="{{obj.project.title}}">
                                            {% if obj.project.video_cover_image %}
                                            <img src="{{ obj.project.video_cover_image.url }}" class="cta-rate-image">
                                            {% else %}
                                            <img src="{% static 'images/photograph.PNG' %}" class="cta-rate-image">
                                            {% endif %}
                                            </a>
                                            </div>
                                            <div class="cta-rate-txt-frame">
                                                <div class="cta-rate-txt-align">
                                                    <div>
                                                        <span class="cta-rate-name-main top-members-head" title="{{obj.project.title}}">{{obj.project.title|truncatechars:'10'}}</span>
                                                        
                                                        <br>
                                                        {% if obj.character %}
                                                        <span class="cta-rate-name-txt" title="{{obj.character.name}}">Character: {{obj.character.name|truncatechars:'6'}}</span>
                                                        {% elif obj.crew %}
                                                        <span class="cta-rate-name-txt" title="{{obj.crew.job_type}}">Crew: {{obj.crew.job_type|truncatechars:'6'}}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- end my projects -->
                    {% if profile.user.id == request.user.id  %}{% endif %}
                    {% if favorites %}
                    <!-- Favorites -->
                    <div class="row mt-4">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12  mb-1">
                            <div>
                                <p class="form-title mem-setup-blu-f">Favorites</p>
                            </div>
                            <div class="cta-owl-align">
                                <div class="cast-owl owl-carousel owl-theme">
                                    {% for obj in favorites %}
                                    <div class="item ">
                                        <div class="cta-rate-div-align">
                                            <div class="cta-rate-image-frame">
                                            <a
                                            {% if obj.character %}
                                            href="{% url 'project:cast-apply-audition' obj.project.id %}?character_id={{obj.character.id}}"
                                            {% elif obj.crew %}
                                            href="{% url 'project:crew-apply-audition' obj.project.id %}?crew_id={{obj.crew.id}}"
                                            {% endif %}
                                            title="{{obj.project.title}}">
                                            {% if obj.project.video_cover_image %}
                                            <img src="{{ obj.project.video_cover_image.url }}" class="cta-rate-image">
                                            {% else %}
                                            <img src="{% static 'images/photograph.PNG' %}" class="cta-rate-image">
                                            {% endif %}
                                            </a>
                                            </div>
          
                                            <div class="cta-rate-txt-frame">
                                                <div class="cta-rate-txt-align">
                                                    <div>
                                                        <span class="cta-rate-name-main top-members-head" title="{{obj.project.title}}">{{obj.project.title|truncatechars:'10'}}</span>
                                                        <span class="float-right" title="Delete" >
                                                            <i class="fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#delete_favorites_modal_{{obj.id}}"></i>
                                                        </span>
                                                        <br>
                                                        {% if obj.character %}
                                                        <span class="cta-rate-name-txt" title="{{obj.character.name}}">Character: {{obj.character.name|truncatechars:'6'}}</span>
                                                        {% elif obj.crew %}
                                                        <span class="cta-rate-name-txt" title="{{obj.crew.job_type}}">Crew: {{obj.crew.job_type|truncatechars:'6'}}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
{% for obj in favorites %}
<!-- The Modal -->
<div class="modal fade" id="delete_favorites_modal_{{obj.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Remove From Favorites</h6>
                <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        {% if obj.character %}
                        <p>Do you want to remove {{obj.project.title}}-Character {{obj.character.name}} from favorite projects ?</p>
                        {% elif obj.crew %}
                        <p>Do you want to remove {{obj.project.title}}-{{obj.crew.job_type}} from favorite projects ?</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm remove_from_favorites"
                id="{{obj.id}}">Remove</button>
                <button type="button" class="btn btn-outline-danger btn-sm close-modal"
                data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
{% endfor %}

                    {% endif %}
                    <!-- end Favorites -->

                    <!-- applied -->
                    {% if applied %}
                    <div class="row mt-4">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12  mb-1">
                            <div>
                                <p class="form-title mem-setup-blu-f">Applied Projects</p>
                            </div>
                            <div class="cta-owl-align">
                                <div class="cast-owl owl-carousel owl-theme">
                                    {% for obj in applied %}
                                    <div class="item ">
                                        <div class="cta-rate-div-align">
                                            <div class="cta-rate-image-frame">
                                            <a
                                            {% if obj.character %}
                                            href="{% url 'project:cast-apply-audition' obj.project.id %}?character_id={{obj.character.id}}"
                                            {% elif obj.crew %}
                                            href="{% url 'project:crew-apply-audition' obj.project.id %}?crew_id={{obj.crew.id}}"
                                            {% endif %}
                                            >
                                            {% if obj.project.video_cover_image %}
                                            <img src="{{ obj.project.video_cover_image.url }}" class="cta-rate-image">
                                            {% else %}
                                            <img src="{% static 'images/photograph.PNG' %}" class="cta-rate-image">
                                            {% endif %}
                                            </a>
                                            </div>

                                            <div class="cta-rate-txt-frame">
                                                <div class="cta-rate-txt-align">
                                                    <div>
                                                        <span class="cta-rate-name-main top-members-head" title="{{obj.project.title}}">{{obj.project.title|truncatechars:'15'}}</span><br>
                                                        {% if obj.character %}
                                                        <span class="cta-rate-name-txt" title="{{obj.character.name}}">Character: {{obj.character.name|truncatechars:'6'}}</span>
                                                        {% elif obj.crew %}
                                                        <span class="cta-rate-name-txt" title="{{obj.crew.job_type}}">Crew: {{obj.crew.job_type|truncatechars:'6'}}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- end applied -->
                    
                </div>
                <div class="left-mode-sec p-2 mt-3">
                    <div class="row mem-white-bg">
                                <div class="col-5 form-group">
                                    <input type="password" class="form-control form-control-input mem-b-placeholder" placeholder="What’s on Your Mind">
                                </div>
                                <div class="col-4 form-group">
                                    <input type="password" class="form-control form-control-input mem-b-placeholder" placeholder="Post Photo/Video">
                                </div>
                                <div class="col-3 form-group">
                                    <input type="password" class="form-control form-control-input mem-b-placeholder" placeholder="Messenger">
                                </div>
                    </div>
                    </div>
                {% else %}
                <div class="left-mode-sec pl-2 pb-2 pt-3">
                    <p>Sorry!! You don't have the permission to view {{profile.user.get_full_name}}'s profile</p>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 top_rated_members">


            </div>
        </div>
    </div>
{% else %}
    <p>{{message}}</p>
{% endif %}

</div>
{% endblock %}

{% block extrajs %}
<!-- <script src="{% static 'js/user-rating.js' %}"></script> -->
<script src="{% static 'js/videoplayer_invite.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://phpcoder.tech/multiselect/css/jquery.multiselect.css">

<script src="https://phpcoder.tech/multiselect/js/jquery.multiselect.js"></script>

<script>
    jQuery('#userSelect').multiselect({
    columns: 1,
    placeholder: 'Select Users',
    search: true,
    selectAll: true
});
</script>
<script>
        $('.cast-owl').owlCarousel({
        loop:false,
        margin:10,
        responsiveClass:true,
        nav: true,
        navText: [
        "<i class='fa fa-caret-left'></i>",
        "<i class='fa fa-caret-right'></i>"
        ],
        responsive:{
            0:{
                items:1,
                nav:true
            },
            444:{
                items:2,
                nav:true
            },
            611:{
                items:3,
                nav:true
            },
            810:{
                items:4,
                nav:true
            },
            992:{
                items:3,
                nav:true
            },
            1045:{
                items:4,
                nav:true
            },
            1320:{
                items:5,
                nav:true,
                loop:false
            }
        }
    })

</script>
<script>
    $('body').on('click' , '.remove_from_favorites', function(){
        var favorites_id = $(this).attr("id");
        var token = $("#token").val();

        $.ajax
        ({
            type: "POST",
            url: "/project/remove-from-favorites-api/",
            dataType: 'json',
            async: false,
            data: {"id":favorites_id},
            beforeSend: function (xhr) {
                xhr.setRequestHeader ("Authorization", token);
            },
            success: function (response){
                window.location.reload();
            }
        });

    });
</script>
{% endblock %}


