{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<!-- <link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/> -->
<link rel="stylesheet" href="{% static 'css/braintree.css' %}">
{% endblock %}

{% block content %}

<div class="wrapper flex-grow-1">
    <div class="container mt-3 mb-3">
        <div class="signup-section signup-border">
            <!-- Nav pills -->
            <ul class="nav nav-pills nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " data-toggle="pill" href="#account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="pill" href="#paymentplan">Payment Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#payment">Payment</a>
                </li>
            </ul>
            <hr class="m-0 signup-border-hr">
            <div class="row mt-2">
                <div class="col-4 d-flex justify-content-center">
                    <!-- <a href="" class="btn btn-account">Indie</a> -->
                </div>
                <div id="center_btn" class="col-4 d-flex justify-content-center">
                    <a id="center_btn_text" href="" class="btn btn-account"></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <!-- <a href="" class="btn btn-account">Company</a> -->
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="payment" class="container tab-pane signup-form active">
                    <div class="row">
                        <div class="col-5">
                            <input type ="hidden" name = "user" value="{{user.id}}" id="user_id"/>
                            {% if payment_plan == 'monthly' %}
                            <div class="mt-2">Amount: $<span id="initial_amount_val">{{ payment_details.monthly_amount }}</span> (billed <span id="payment_plan">monthly</span>)</div>
                            {% elif payment_plan == 'annually' %}
                            <div class="mt-2">Amount: $<span id="initial_amount_val">{{ payment_details.annual_amount }}</span> (billed <span id="payment_plan">annually</span>)</div>
                            {% else %}
                            <div class="mt-2">Choose Payment plan to Proceed</div>
                            {% endif %}
                            <div class="mt-2">Estimated Tax Percentage: <span id="tax_percentage">{{ payment_details.estimated_tax }}</span> %</div>
                            <div class="mt-2">Your credit card will be charged on
                                <span id="bill_start_date">{{ bill_date.day }}/{{ bill_date.month }}/{{ bill_date.year }}</span>, <span id="days_free">{{ payment_details.free_days }}</span> days from today</div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <label class="form-title">Promo Code</label>
                                </div>
                                <div class="col-6 form-group mt-2">
                                    <input type="text" value="" id="promocode" name="promocode" class="form-control form-control-input"/>
                                    <input type="button" id="apply_promocode" value="Apply" class="promo_code_btn"/>
                                    <p class="promo_code_status"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 paymnt-lft-bar">
                            <!-- <form method="post"> -->
                                {% csrf_token %}
                                <div class="mt-4">Amount: $
                                    {% if payment_plan == 'monthly' %}
                                    <span id="full_amount">{{ payment_details.monthly_amount_with_tax }}</span>
                                    <span id="full_amount_txt">(including {{ payment_details.estimated_tax }}% tax) </span>
                                    {% elif payment_plan == 'annually' %}
                                    <span id="full_amount">{{ payment_details.annual_amount_with_tax }}</span>
                                    <span id="full_amount_txt">(including {{ payment_details.estimated_tax }}% tax) </span>
                                    {% else %}
                                    <span id="full_amount">0</span>
                                    {% endif %}
                                </div>
                                <div class="mt-4">Promotions: $
                                    <span id="promotion_amount">0</span>
                                    <input type="button" id="remove_promocode" value="Remove" class="promo_code_btn"/>
                                </div>
                                <div class="mt-4">Final Amount: $
                                    {% if payment_plan == 'monthly' %}
                                    <span id="final_amount">{{ payment_details.monthly_amount_with_tax }}</span>
                                    {% elif payment_plan == 'annually' %}
                                    <span id="final_amount">{{ payment_details.annual_amount_with_tax }}</span>
                                    {% else %}
                                    <span id="final_amount">0</span>
                                    {% endif %}
                                </div><br>
                                <p>Pay via</p>
                                    <div id="paypal-div" class="mt-4"></div>
                                    <script src="https://js.braintreegateway.com/web/dropin/1.30.1/js/dropin.js"></script>
                                    <!-- <div align="center">or</div>
                                    <input type="hidden" id="braintreeVar" name="variable" value="{{ braintree_client_token }}">
                                    <button type="button" class="btn btn-secondary btn-lg btn-block btn-dark" data-toggle="collapse" data-target="#main-dropin-container">Debit or Credit Card</button>
                                    <div id="main-dropin-container" class="collapse"> -->
                                        <!-- <div class="braintree-notifications"></div>
                                        <div id="braintree-dropin"></div>
                                        <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay now!" /> -->

                                        <!-- <div id="dropin-container"></div>
                                        <button id="submit-button" class="button button--small button--green" onclick="function defaultprev(event){event.preventDefault();}">Purchase</button>
                                    </div>
                                    <h1></h1>
                                    <div id="payment-success-div" class="alert alert-success">
                                        <strong></strong>Thank you! The payment was accepted
                                    </div> -->
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 signup-footer">
                <ul class="list-inline m-0">
                    <li class="list-inline-item fb">
                        <!-- <a class="list-inline-item fb" >Back</a> -->
                    </li>
                    <li class="list-inline-item">
                        <button type="submit" class="btn fh-sbmt-btn btn-pd-0">Next</button>
                    </li>
                </ul>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="promocode_modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
        <h5 class="modal-title">Modal Heading</h5>
        <button id="modal_cancel_cross" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
        Modal body..
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
        <button id="modal_cancel" type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
<!-- Modal Start -->
<div class="modal " id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="notificationModalTitle">Notification</h5>
            <button id="close-cross" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="paymentModalBody" class="modal-body notification-modal-content">
            <div id="success-alert-box" class="alert-box">
                <div class="alert alert-success">
                    <div class="alert-icon text-center">
                        <i class="fa fa-check-square-o  fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="alert-message text-center">
                        <strong>Great!</strong> Your Payment was successful.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="close-payment-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal End -->
<!-- Alert Box Start -->

<!-- Alert Box End -->

{% endblock %}

{% block extrajs %}
<!-- <script src="https://js.braintreegateway.com/web/dropin/1.30.1/js/dropin.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.min.js"></script>
<script src="{% static 'js/registration_payment.js' %}"></script>
<script src="https://www.paypal.com/sdk/js?client-id=ATjE-6pV7YtjfJhvu9FxaBAeXUiu5fuIN_Uu3LvAayqaZ8UxRXIrLuWvTub0AQn1JB6Re03p4ypG6IM2&vault=true&intent=subscription"></script>
<script src="{% static 'js/paypal_payment.js' %}"></script>
<script>
if (window.location.href.indexOf('reload')==-1) {
     window.location.replace(window.location.href+'?reload');
}
</script>
<!-- <script src="{% static 'js/braintree.js' %}"></script> -->
{% endblock %}
