{% extends 'base.html' %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>General Account Settings</h3>
                    <form method="post" action="{% url 'hobo_user:settings' %}">
                        {% csrf_token %}
                    <p>First Name:
                        <input type ="text" disabled id="first_name" name="first_name" value="{{user.first_name}}" />
                        <input type = "button" value = "Edit" id="edit_first_name">
                        {{message.first_name}}
                    </p>
                    <p>Middle Name:
                        <input type ="text" disabled id="middle_name" name="middle_name" value="{{user.middle_name}}" />
                        <input type = "button" value = "Edit" id="edit_middle_name">
                    </p>
                    <p>Last Name:
                        <input type ="text" disabled id="last_name" name="last_name" value="{{user.last_name}}" />
                        <input type = "button" value = "Edit" id="edit_last_name">
                        {{message.last_name}}
                    </p>
                    <p>Email:
                        <input type ="email" disabled id="email" name="email" value="{{user.email}}" />
                        <input type = "button" value = "Edit" id="edit_email">
                        {{message.email}}
                    </p>
                    <p>Password:
                        <input type ="text" disabled id="password" name="password" value="* * * * *" />
                        <input type = "button" value = "Edit" id="edit_password">
                    </p>
                    <p><a href="">Disable My Account</a></p>
                    <input type = "button" value = "Cancel" id="cancel">
                    <input type = "submit" value = "Save" id="save_general">
                    </form>
                </div>
            </div>
            <div class="row">
                {{change_password_form}}
            </div>
        </div>


        {% endblock %}
        {% block extrajs %}
        <script>
            $('body').on('click' , '#edit_first_name', function(){
                 $('#first_name').removeAttr("disabled");
            });
            $('body').on('click' , '#edit_middle_name', function(){
                 $('#middle_name').removeAttr("disabled");
            });
            $('body').on('click' , '#edit_last_name', function(){
                 $('#last_name').removeAttr("disabled");
            });
            $('body').on('click' , '#edit_email', function(){
                 $('#email').removeAttr("disabled");
            });
            $('body').on('click' , '#edit_password', function(){

            });
    </script>
        {% endblock %}
