{% extends 'base.html' %}
{% load static %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
  <div class="container mt-3 mb-3">
      <div class="signup-form signup-section signup-border">
          <!-- Nav pills -->
          <ul class="nav nav-pills nav-justified" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#membership">Membership</a>
              </li>
          </ul>
          <hr class="m-0 signup-border-hr">
          <div class="row mt-2">
              <div class="col-4 d-flex justify-content-center">
                  <a href="" class="btn btn-account">Hobo</a><span class="ml-3">Price: $0.00</span>
              </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content">
              <div id="membership" class="container tab-pane active">
                  <div class="signup-form mt-2 mb-2 ">
                      <div class="mt-3">
                          <h5>Your Information:</h5>
                      </div>
                      <form method="post">
                        {% csrf_token %}
                      <div class="row mt-2">
                          <div class="col-2 ">
                              <label class="form-title">Your Name:</label>
                          </div>
                          <div class="col-3">
                            <input
                            name="{{ form.first_name.name }}"
                            class="inp-line"
                            id="{{ form.first_name.id_for_label }}"
                            {% if form.first_name.value != None %}value="{{ form.first_name.value|stringformat:'s' }}"{% endif %}
                            maxlength="{{ form.first_name.field.max_length }}"
                            {% if form.first_name.field.required %}required{% endif %}
                            placeholder="First" autocomplete="off">
                            {% if form.errors.first_name %}
                              <p style="color: red">{{form.errors.first_name}}</p>
                            {% endif %}
                          </div>
                          <div class="col-3 ">
                            <input
                            name="{{ form.middle_name.name }}"
                            class="inp-line"
                            id="{{ form.middle_name.id_for_label }}"
                            {% if form.middle_name.value != None %}value="{{ form.middle_name.value|stringformat:'s' }}"{% endif %}
                            maxlength="{{ form.middle_name.field.max_length }}"
                            {% if form.middle_name.field.required %}required{% endif %}
                            placeholder="Middle" autocomplete="off">
                            {% if form.errors.middle_name %}
                              <p style="color: red">{{form.errors.middle_name}}</p>
                            {% endif %}
                          </div>
                          <div class="col-3 ">
                            <input
                            name="{{ form.last_name.name }}"
                            class="inp-line"
                            id="{{ form.last_name.id_for_label }}"
                            {% if form.last_name.value != None %}value="{{ form.last_name.value|stringformat:'s' }}"{% endif %}
                            maxlength="{{ form.last_name.field.max_length }}"
                            {% if form.last_name.field.required %}required{% endif %}
                            placeholder="Last" autocomplete="off">
                            {% if form.errors.last_name %}
                              <p style="color: red">{{form.errors.last_name}}</p>
                            {% endif %}
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-2">
                              <label class="form-title">Email:</label>
                          </div>
                          <div class="col-6">
                            <input
                            name="{{ form.email.name }}"
                            class="inp-line"
                            id="{{ form.email.id_for_label }}"
                            {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                            maxlength="{{ form.email.field.max_length }}"
                            {% if form.email.field.required %}required{% endif %}
                            placeholder="Email" autocomplete="off">
                            {% if form.errors.email %}
                              <p style="color: red">{{form.errors.email}}</p>
                            {% endif %}
                          </div>
                          <div class="col-3">
                              <span class="form-title">(your login username)</span>
                          </div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-2">
                              <label class="form-title">Password :</label>
                          </div>
                          <div class="col-4 form-group">
                            <input type="password"
                            name="{{ form.password1.name }}"
                            class="form-control form-control-input"
                            id="{{ form.password1.id_for_label }}"
                            {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                            maxlength="{{ form.password1.field.max_length }}"
                            {% if form.password1.field.required %}required{% endif %}
                            autocomplete="off">
                            {% if form.errors.password1 %}
                              <p style="color: red">{{form.errors.password1}}</p>
                            {% endif %}
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-2">
                              <label class="form-title">Repeat Password :</label>
                          </div>
                          <div class="col-4 form-group">
                            <input type="password"
                            name="{{ form.password2.name }}"
                            class="form-control form-control-input"
                            id="{{ form.password2.id_for_label }}"
                            {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                            maxlength="{{ form.password2.field.max_length }}"
                            {% if form.password2.field.required %}required{% endif %}
                            autocomplete="off">
                            {% if form.errors.password2 %}
                              <p style="color: red">{{form.errors.password2}}</p>
                            {% endif %}
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-12 tos">
                              By creating this account, you need agree to the<span class="tos-t"> <a  class="link-clickable" href="">TERMS OF
                                  SERVICE</a></span> of Filmhobo
                                  Corporation, Please read it before Submitting </div>
                      </div>

                         <!-- Modal -->
                         <div class="modal fade" id="myModalpdf" tabindex="-1" width="100%" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                          <h6 class="modal-title" id="myModalLabel" style="text-align: center;">TERMS OF
                                            SERVICE</h5>
                                          <button type="button" id="pdfmodalClose" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true" style="margin-top: 32em;">&times;</span></button>
                                  </div>
                                  <div class="modal-body" style="text-align:center;">
                                     
                                      <embed src="/media/terms_of_service.pdf" frameborder="0" width="100%" height="400px">

                                  </div>
                                  <div class="modal-footer">
                                    <div class="row mt-1 mb-2 mr-3 float-right ">
                                      <label class="containerradio">I Agree
                                          <input type="radio"  name="{{ form.i_agree.name }}"
                                          id="{{ form.i_agree.id_for_label }}"
                                          {% if form.i_agree.field.required %}required{% endif %} >
                                          <span class="checkmarkagree"></span>
                                          {% if form.errors.i_agree %}
                                            <p style="color: red">{{form.errors.i_agree}}</p>
                                          {% endif %}
                                        </label>
                                    </div>
                                    
                                      <button type="button" class="btn btn-default" data-dismiss="modal"  id="pdfmodalClose1">Close</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      
                      <!-- The Modal -->
                      <!-- <div class="row mt-1 mb-2 mr-3 float-right ">
                        <label class="containerradio">I Agree
                            <input type="radio"  name="{{ form.i_agree.name }}"
                            id="{{ form.i_agree.id_for_label }}"
                            {% if form.i_agree.field.required %}required{% endif %}>
                            <span class="checkmarkagree"></span>
                            {% if form.errors.i_agree %}
                              <p style="color: red">{{form.errors.i_agree}}</p>
                            {% endif %}
                          </label>
                      </div> -->

                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3 signup-footer">
              <ul class="list-inline m-0">
                <li class="list-inline-item"><button type="submit" class="btn fh-sbmt-btn">Create Membership</button></li>
              </ul>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}

<script>

$("a[class='link-clickable']").click(function () {
  
  $('#myModalpdf').modal('show');
 
  return false;
  

});

$(function () {
  $('#pdfmodalClose').on('click', function () {
      $('#myModalpdf').modal('hide');
     
  })
})
$(function () {
  $('#pdfmodalClose1').on('click', function () {
      $('#myModalpdf').modal('hide');
     
  })
})

// var swticher = document.getElementById('id_i_agree');

// function check(e){
//     if(e.checked == swticher.checked)
//     {
//           // you can set the value for on as default by set valirable in it
//           var val = swticher.value = "1";
//           alert('on -> '+val);
       
//      }
//     }
</script>
{% endblock %}



