{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block content %}
    <div class="wrapper flex-grow-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 ">
                    <div class="caa-sec-bg caa-adblock-sec">
                        <div class="caa-adblock-sec-align">
                            <div class="caa-ad-block-inner">
                                <span class="caa-ad-block-txt">Ad Block</span>
                            </div>
                        </div>
                    </div>
                    <div class="caa-sec-bg caa-adblock-sec-2">
                        <div class="caa-adblock-sec-align">
                            <div class="caa-ad-block-inner">
                                <span class="caa-ad-block-txt">Ad Block</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 ">

                    <!-- Top section -->

                    <div class="rsct-center-section-align">
                        <div class="rsct-orange-head">
                            Top Actors
                        </div>
                        <div>
                            <ol class="rsct-list-cont ">
                                <li class="mt-1">John Smith</li>
                                <li class="mt-1">John Dow</li>
                                <li class="mt-1">Karen Do</li>
                                <li class="mt-1">Aaron McCarty</li>
                                <li class="mt-1">Toli Chew</li>
                                <li class="mt-1">John Smith</li>
                                <li class="mt-1">John Dow</li>
                                <li class="mt-1">Karen Do</li>
                                <li class="mt-1">Aaron McCarty</li>
                                <li class="mt-1">Toli Chew</li>
                                <li class="mt-1">John Smith</li>
                                <li class="mt-1">John Dow</li>
                                <li class="mt-1">Karen Do</li>
                                <li class="mt-1">Aaron McCarty</li>
                                <li class="mt-1">Toli Chew</li>
                                <li class="mt-1">John Smith</li>
                                <li class="mt-1">John Dow</li>
                                <li class="mt-1">Karen Do</li>
                                <li class="mt-1">Aaron McCarty</li>
                                <li class="mt-1">Toli Chew</li>
                                <li class="mt-1">John Smith</li>
                                <li class="mt-1">John Dow</li>
                                <li class="mt-1">Karen Do</li>
                                <li class="mt-1">Aaron McCarty</li>
                                <li class="mt-1">Toli Chew</li>
                                <li class="mt-1">John Smith</li>
                                <li class="mt-1">John Dow</li>
                                <li class="mt-1">Karen Do</li>
                                <li class="mt-1">Aaron McCarty</li>
                                <li class="mt-1">Toli Chew</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                    <div class="caa-sec-bg right-sec-height">
                        <div class="mem-list-head pb-1 d-flex justify-content-center">TOP RATED</div>
                        <div class="mem-list-head">Actors</div>
                        <ol class="mem-list-cont mb-0 ">
                            <li class="mt-1">Top Actors</li>
                            <li class="mt-1">John Dow</li>
                            <li class="mt-1">Karen Do</li>
                            <li class="mt-1">Aaron McCarty</li>
                            <li class="mt-1">Toli Chew</li>
                        </ol>
                        <div class="mem-list-head">Writers</div>
                        <ol class="mem-list-cont mb-0">
                            <li class="mt-1">Tom Saint</li>
                            <li class="mt-1">Lola Carola</li>
                            <li class="mt-1">Ken Track</li>
                            <li class="mt-1">Jamal Smith</li>
                            <li class="mt-1">Nikita Selivan</li>
                        </ol>
                        <div class="mem-list-head">Directors</div>
                        <ol class="mem-list-cont mb-0">
                            <li class="mt-1">Karen Do</li>
                            <li class="mt-1">Ivan Drago</li>
                            <li class="mt-1">Ken Track</li>
                            <li class="mt-1">Kendra Shulman</li>
                            <li class="mt-1">Sandra O’brian</li>
                        </ol>
                        <div class="mem-list-head">Producers</div>
                        <ol class="mem-list-cont mb-0">
                            <li class="mt-1">Sarah Lee</li>
                            <li class="mt-1">Colle Ace</li>
                            <li class="mt-1">Duran Duran</li>
                            <li class="mt-1">Char Hendrix</li>
                            <li class="mt-1">Oleg Smirnov</li>
                        </ol>
                        <div class="mem-list-head">DPs</div>
                        <ol class="mem-list-cont mb-0">
                            <li class="mt-1">Sarah Lee</li>
                            <li class="mt-1">Colle Ace</li>
                            <li class="mt-1">Duran Duran</li>
                            <li class="mt-1">Char Hendrix</li>
                            <li class="mt-1">Oleg Smirnov</li>
                        </ol>
                        <div class="mem-list-head">Sound Designers</div>
                        <ol class="mem-list-cont mb-0">
                            <li class="mt-1">Sarah Lee</li>
                            <li class="mt-1">Colle Ace</li>
                            <li class="mt-1">Duran Duran</li>
                            <li class="mt-1">Char Hendrix</li>
                            <li class="mt-1">Oleg Smirnov</li>
                        </ol>
                        <div class="mem-list-head underline">TopTalent/Crew</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
{% endblock %}