{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>Film Hobo - {{ title }}</title>
    {% else %}
        <title>Film Hobo</title>
    {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'initial_user/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <h1>Hai</h1>
</body>
<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
    $( document ).ready(function() {
        origin_url = window.location.origin
        get_url = origin_url + '/payment/get_membership_fee_detail/'
        var token = localStorage.getItem("token");
        token_str = "Token "
        token_val = String(token)
        var authorization_str = token_str.concat(token_val);
        axios.get(get_url, {headers: {'Authorization': authorization_str}})
        .then((response) => {
            console.log(response.data);
            console.log(response.status);
            console.log(response.statusText);
            console.log(response.headers);
            console.log(response.config);
        });
    });
    </script>
</html>
</body>