{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container mt-3 mb-3">
        <div class="signup-form signup-section signup-border">
            <form method="post" action="{% url 'hobo_user:forgot-password' %}">
                {% csrf_token %}
                <!-- Nav pills -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#membership">{% trans "Password Reset" %}</a>
                    </li>
                </ul>
                <hr class="m-0 signup-border-hr">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="membership" class="container tab-pane active">
                        <div class="signup-form mt-2 mb-2 ">
                            <div class="row mt-2 text-center">
                                <div class="col-12 text-center pr-content">
                                    {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                    {% endif %}
                                    {% trans "Forgotten your password ?" %}</div>
                                    <div class="col-12 text-center pr-content">
                                        {% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it" %}</div>
                            </div>
                            <div class="row mt-4">
                                <form method="post">
                                    <div class="col-2">
                                        <label class="form-title">{{ form.email.label_tag }}</label>
                                    </div>
                                    <div class="col-6">
                                        <input name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="inp-line" placeholder="Email" />
                                        {% if 'email' in response %}
                                            {% for err in response.email  %}
                                                <p>{{err}}</p>
                                        {% endfor %}
                                        {% endif %}</p>
                                    </div>
                                </form>
                            </div>
                            <div class="d-flex justify-content-center align-items-center  mt-4 mb-4">
                                    <button class="btn btn-login" value="{% trans 'Reset My Password' %}">Reset my password</button>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                {% if 'detail' in response %}
                                <p>{{response.detail}}</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-3 signup-footer">
                </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
