.nav-link-non-clickable{
  color: #9c9c9c;
  text-decoration: none;
  font-family: Courier Bold;
  font-size:12px;
}

.nav-link-non-clickable:hover {
  color: rgba(0,0,0,.5); 
}

.nav-link-non-clickable{
  text-decoration: none;
}

.nav-link-non-clickable:hover, .nav-link-non-clickable:visited, .nav-link-non-clickable:link, .nav-link-non-clickable:active
{
    text-decoration: none;
}