.nav-link-non-clickable{
  color: #9c9c9c;
  text-decoration: none;
  font-family: Courier Bold;
  font-size:12px;
}

.nav-link-non-clickable:hover {
  color: rgba(0,0,0,.5); 
}

.nav-link-non-clickable{
  text-decoration: none;
}

.nav-link-non-clickable:hover, .nav-link-non-clickable:visited, .nav-link-non-clickable:link, .nav-link-non-clickable:active
{
    text-decoration: none;
}


.nav-link-new{
  color: #9c9c9c;
  text-decoration: none;
  font-family: Courier Bold;
  font-size:12px;
}

.nav-link-new:hover {
  color: rgba(0,0,0,.5);
}

.nav-link-new{
  text-decoration: none;
}

.nav-link-new:hover, .nav-link-new:visited, .nav-link-new:link, .nav-link-new:active
{
    text-decoration: none;
}


.mem-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  text-align: center;
  background-color: #e8eae6;
  box-sizing: border-box;
  padding: 10px;
  z-index: 100;
  display: none;
  border-radius: 5%;
  /*to hide popup initially*/
}

.mem-close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: orange;
  color: white;
  border-radius: 10%;
  padding: 4px;
}