/* add/remove picture */

.mem-set-img-addremove{
   height: 109px;
   width: 116px;;
   position: relative;
   left: 8%;
}
.add-align{
   position: relative;
   left: 8%;
   width: 95%;

}

.mem-set-img-networkorfriends{
   height: 72px;
   width: 98px;
}

.checked {
   color: orange;
 }
.friend-request{
   position: relative;
    left: 50%;
}
.net-or-friend{
   color:#0e62b5;
   font-weight:600;
   text-decoration: none;
   font-size: 17px;
   position: relative;
   top: 7px;
}
.star{
   color: rgb(255 165 0);
}
.circle{
   color: rgb(41 171 226);
}
.square{
   color: rgb(147 39 143);
}
.triangle{
   height: 12px;
   position: relative;
   top: -4px;
 
}
.triangle-o{
   position: relative;
   left: -2%;
}
.net-red-tri{
   height: 15px;
   width: 14px;
   position: relative;
   top: -4px;
   left: -9%;
}
.symbols{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
   left: 50%; 
   
}
.radio-toolbar {
   margin: 0px;
 }
 
 .radio-toolbar input[type="radio"] {
   opacity: 0;
   position: fixed;
   width: 0;
 }
 
 .radio-toolbar label {
     display: inline-block;
     background-color: #bebdbd;
     padding: 1px 6px;;
     font-family: "Arial Rounded Bold";
     font-size: 13px;
     color: #272525;
     border: 1px solid #d6d6d6;
     border-radius: 2px;
 }
 
 .radio-toolbar label:hover {
   background-color: rgb(223, 193, 193);
   color :#ff0f0f;
 }
 
 .radio-toolbar input[type="radio"]:focus + label {
     color :#ff0f0f;
 }
 .page-link {
   position: relative;
   display: block;
   padding: .5rem .75rem;
   margin-left: -1px;
   line-height: 1.25;
   color: #353535;
   background-color: #f1efef;
   border: 1px solid #dee2e6;
}
.add-or-btn{
   position: relative;
    left: 3%;
    top: 5px;
}
.custom-file-upload {
   border:none;
   border-bottom:1px solid#9c9c9c;
   display: inline-block;
   padding: 3px 24px;
   cursor: pointer;
}
.inp-file{
   display: none;
}
.my-interest{
   color:#000;
   font-weight:600;
   text-decoration: none;
   font-size: 16px;
   font-family: "Courier Bold";
   position: relative;
   left: 2%;
}
.inp-interest {
   border:none;
   border-bottom:1px solid#9c9c9c;
   padding: -2px 10px;
   outline: none;
}
.post-symbol{
   position: relative;
}
.inp-file-msg{
   border-radius: 25px;
   border-bottom:1px solid#9c9c9c;
   border-top:1px solid#9c9c9c;
   border-right: 1px solid#9c9c9c;
   border-left: 1px solid#9c9c9c;
   display: inline-block;
   padding: 3px 24px;
   cursor: pointer;
}
.emoji-btn{

   border: none;
   border-radius: 50%;

   text-align: center;
   text-decoration: none;
   display: inline-block;

}
.dropdwn{
   position: relative;
   top: -51px;
}
.int-applied{
   color:#f5b2ef
}
.int-red{
   color:#ff0000
}
.int-green{
   color:rgb(10 191 172)
}
.int-grey{
   color:rgb(236 236 236)
}
.top-symb{
   position: relative;
   top: 9px;
}
.sub-drop{
   position: relative;
   top: 17px;
   
}
.sub-name{
   position: relative;
   top: -16px;
   font-size: 13px;
   overflow: hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
   width: 87px;
   display:inline-block;
}
.sub-btn{
   position: relative;
   top: 21px;
   left: -10%;
}
.mem-set-net-img-main{
   padding-left: 12px;
   padding-right: 19px;
}
.interest-font{
   font-family: "Courier";
}
.interest-font-bold{
   font-family: "Courier Bold";
}
.drop-btn-1{
   font-family: "Courier Bold";
   font-size: 10px;
   background-color: #0e62b5;
   border-color: #0e62b5;
}
.drop-btn{
   font-family: "Courier Bold";
   font-size: 11px;
}
.post-btn{
   width: 104%;
}
.intrest-lab{
   font-size: 16px;
}
.intrest-lab-tit{
   font-size: 10px;
   font-family: "Courier Bold";
}
.intrest-lab-md{
   font-size: 12px;
   font-family: "Courier Bold";
}
.hr-interest{
   position: relative;
   top: -2%;
}
.my-interest-2{
   color:#000;
   font-weight:600;
   text-decoration: none;
   font-size: 16px;
   font-family: "Courier Bold";
   position: relative;
}
.font-clr{
   color:#0e62b5
}
.ad-or-save{
   font-size: 11px;
   width: 15%;
   font-family: "Courier Bold";
   padding: 0px 1px;
}
.tbl-tag{
   color:rgb(30 59 255);
}
.borderless td, .borderless th {
   border: none;
}
.drop-all{
   font-family: "Courier Bold";
   color:#0048ea;
   text-decoration-color:#0048ea;
}
.red-triangle{
   height: 15px;
   position: relative;
   top: -1px;
}
.name-alg{
   position: relative;
   top: -10px;
   white-space: nowrap; 
   width: 90px;
   overflow: hidden;
   text-overflow: ellipsis; 
}
.star-alg{
   position: relative;
   top: -15px;
}

.post-hr{
   border: 0;
   border-top: 1px solid#656565;
   margin-top: 0rem;
   margin-bottom: 0rem;
   width: 50%;
}

.post-txt{
   position: relative;
   left: 4%;

}
.drop-card{
   width: 99%
}
.dropdown-item.active, .dropdown-item:active {
   color: #000;
   background-color: #ffffff;
}


@media only screen and (max-width: 600px) {
   .mem-set-img-networkorfriends{
      height: 179px;
      width : 254px;;
   }
   .triangle {
      height: 12px;
      position: relative;
      top: -1px;
  }
   .symbols {
      display: block;
      flex-direction: column;
      align-items: flex-start;
      position: initial;
   }
   .name-alg{
      position: relative;
      top: 0px;
      
   }
   .star-alg{
      position: relative;
      top: 0px;
   }
   .post-hr{
      border: 0;
      border-top: 1px solid#656565;
      margin-top: 0rem;
      margin-bottom: 0rem;
      width: 226%;
   }
   .drop-card{
      width: 132%;
   }
   .dropdwn {
      position: relative;
      top: -51px;
      left: 38%;
  }
   .drop-smb {
      position: relative;
      top: -8px;
      left: -23%;
  }
   .squr-sym{

         font-size: 13px;
         position: relative;
         top: 1px;
     }
   .mem-set-img-addremove {
      height: 184px;
      width: 285px;
      position: relative;
      left: 8%;
   }
   .add-or-btn {
         position: relative;
         left: 4%;
         top: 5px;
   }
   .add-align{
      position: relative;
      left: 1%;
   
   }
   .sub-btn {
      position: relative;
      top: -37px;
      left: 8%;
   }
   .ml-5, .mx-5 {
      margin-left: 1rem!important;
  }
  .ad-or-save {
   width: 19%;
  }
  .net-red-tri {
   height: 15px;
   width: 14px;
   position: relative;
   top: -2px;
   left: 0%;
   }
   
}

@media only screen and (max-width: 320px) {
   .mem-set-img-addremove {
      height: 184px;
      width: 285px;
      position: relative;
      left: 1%;
   }
   .add-or-btn {
      position: relative;
      left: -2%;
      top: 5px;
  }
  .mem-set-img-networkorfriends {
   height: 179px;
   width: 209px;
   }
   .ad-or-save {
      width: 22%;
     }
   .mem-set-img-networkorfriends {
      height: 179px;
      width: 206px;
   }
   .net-red-tri {
      height: 15px;
      width: 14px;
      position: relative;
      top: -1px;
      left: 0%
   }
   .dropdwn {
      position: relative;
      top: -51px;
      left: 50%;
  }
  .drop-smb {
   position: relative;
   top: -8px;
   left: -28%;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
   .ml-5, .mx-5 {
      margin-left: 1rem!important;
  }
  .ad-or-save {
   width: 20%;
  }
  .dropdwn {
   position: relative;
   top: -51px;
   left: 19%;
   }
   .drop-smb {
      position: relative;
      left: 10%;
   }
   
 }
 .rounded-circle-img{
   border-radius: 50%;
   height: 52px;
   width: 52px;
}
/* add/remove picture End */


   /* Home page */

.left-mode-search{
      background-color: #f3f3f3;
      border-radius: 12px;
      font-family: "Arial Rounded Bold"; 
   }
.txt-orange{
   color: orange !important;
}
.month-algn{
   background-color: #f3f3f3;
   padding: 0px;
   /* text-align: left; */
}
.blank-left-alg{
   min-height: 50%;
}

.home-video{
   width: 196px;
   height: 162px;
}
.rght-li{
      position: relative;
      /* font-size: 12px; */
      left: 9%;
}
.lft-li{
   font-size: 12px;
}
.rgt-txt{
   font-size: 12px;
}
li:hover {
   color: #0360c4;
 }
td:hover{

      color: #0360c4;
 }
.navbar-nav-alg{
   padding: 0 !important;
}
.navbar-nav-alg:hover{

   color: orange;
}
.new-scene{
   color: orange !important;
   font-size: 15px;
}
.new-li{
   font-size: 10px;
   padding: 3px 7px !important;
   font-family: "Arial Rounded Bold"; 
}
.bg-light-new {
   background-color: #f3f3f3 !important;
}
.cnt-txt{
   font-size: 11px;
   margin-left: 1px;
}
.cnt-txt2{
   font-size: 11px;
   margin-left: -2px;
   margin-top: -14px;
}
.cnt-bg{
   max-height: 200px;
   }
.start-rat{
   position: relative;
    left: -3%;
}
.text-bl{
   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 58px;
    display: inline-block;
}
.text-name{
   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 91px;
    display: inline-block;
}
.year{
      color: #0048ea;
}
.year:hover {
   color: #0048ea;
 }
.prv-button{
   transform: rotate(180deg);
}
.nxt-btn{
   color: rgb(229 229 229);
}
.nxt-btn:hover {
   color: #fd7e14;
 }

.search-txt{
   position: relative;
   top: 6px;
}
.img-cnt{
   margin-top: -0.5rem!important;;
}
.col-lg-8 {
   -ms-flex: 0 0 66.666667%;
   flex: 1 0 66.666667%;
   max-width: 82.666667%;
}
@media only screen and (max-width: 768px) {
   .cnt-bg{
   max-height: 0%;
   }
   .blank-left-alg {
      min-height: 6%;
  }
  .col-lg-8 {
   -ms-flex: 0 0 66.666667%;
   flex: 1 0 66.666667%;
   max-width: 105.666667%;
   padding: 2px 36px;
   }
   .cnt-txt{
      font-size: 11px;
      margin-left: 81px;
   
   }
   .cnt-txt2{
      font-size: 11px;
      margin-left: 78px;
      margin-top: -14px;
   }
   .nxt-lg{
      position: relative;
      top: -102px;
      left: 146%;
      font-size: 27px!important;;
  }
  .nxt-lg1{
   position: relative;
   top: -102px;
   left: 534%;
   font-size: 27px!important;
}
   
}
@media only screen and (max-width: 400px) {
   .cnt-txt{
      font-size: 11px;
      margin-left: 54px;
   
   }
   .cnt-txt2{
      font-size: 11px;
      margin-left: 52px;
      margin-top: -14px;
   }

}
@media only screen and (max-width: 320px) {
   .cnt-txt{
      font-size: 11px;
      margin-left: 34px;
   
   }
   .cnt-txt2{
      font-size: 11px;
      margin-left: 33px;
      margin-top: -14px;
   }

}
@media (min-width: 768px) and (max-width: 1023px) {

   .cnt-txt {
      font-size: 8px;
      margin-left: -7px;
  }
   .cnt-txt2 {
      font-size: 8px;
      margin-left: -15px;
      margin-top: -14px;
   }
   .home-video {
      width: 147px;
      height: 162px;
  }
  .nxt-lg {
   position: relative;
   top: -123px;
   left: 758%;
   font-size: 27px!important;
}
.nxt-lg1 {
   position: relative;
   top: -102px;
   left: 330%;
   font-size: 27px!important;
}
}
@media (min-width: 1024px) and (max-width: 1025px) {
   .cnt-txt {
      font-size: 9px;
      margin-left: 2px;
  }
  .cnt-txt2 {
   font-size: 9px;
   margin-left: -8px;
   margin-top: -14px;
}
.home-video {
   width: 182px;
   height: 162px;
}
.nxt-lg {
   position: relative;
   top: -107px;
   left: 162%;
   font-size: 20px!important;
}
.nxt-lg1 {
   position: relative;
   top: -107px;
   left: 603%;
   font-size: 20px!important;
}
}

@media (min-width: 1025px)
{
.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 1 0 66.666667%;
    max-width: 82.666667%;
}
.col-lg-2 {
   -ms-flex: 0 0 16.666667%;
   flex: 0 0 16.666667%;
   max-width: 15.666667%;
}
.nxt-lg{
      position: relative;
      top: -102px;
      left: 146%;
      font-size: 27px!important;;
  }
.nxt-lg1{
   position: relative;
   top: -102px;
   left: 534%;
   font-size: 27px!important;
}
}
