.btn-default-doller-per{
    border: 1px solid#b8b8b8;
    background-color: #e6e6e6;
    color: #000;
    font-family: "Courier Bold";
    font-size: 15px;
    padding: 0px 14px;
    box-shadow: none;
    outline: none;
    height: 20px;
    line-height: 2px;
    }
.dp_active_toggle, .toggle_dp:hover {
    border:1px solid#b8b8b8;
    background-color: #29abe2;
    color: #000;
    font-family: "Courier Bold";
    font-size: 15px;
    padding: 0px 14px;
    box-shadow: none;
    outline: none;
    height: 20px;
    line-height: 2px;
  }
  .membership_fee_edit {
    background:#e6e6e6;
  }
  .membership_fee_edit.highlight {
    background:#29abe2;
  }