.message-div
{
  position:fixed;
  top: 4em;
  left: 31%;
  z-index:999;
  /* width: 34em; */
  width: 35%;
}
.message-box
{
  padding:1em 3em;
  font-size:12px;
  font-family:Myraid Pro;
}
.msg-close
{
  position:absolute;
  top:0.1em;
  right:0.5em;
}
.errorlist li
{
  list-style-type:none;
  font-family:Myraid Pro;
  font-size:14px;
  color:Red;
}
.reason-error
  {
    color:Red;
  }
.errormsg
{
  list-style-type:none;
  font-family:Myraid Pro;
  font-size:14px;
  color:Red;
}
.all-error-msg
{
  font-family:Myraid Pro;
  font-size:12px;
  color:Red;
}
.submit_btn
  {
    border: none;
    background-color: #e6e6e6;
    color: #2265b9;
    font-family: "Myraid Pro";
    font-weight: 600;
    font-size: 14px;
  }
.promo_code_btn
  {
    border: 2px solid transparent;
    background-color:transparent;
    color: #2265b9;
    font-family: "Myraid Pro";
    font-weight: 600;
    font-size: 14px;
    box-shadow: none;
  }
  .promo_code_btn:active ,.promo_code_btn:hover {
    border: 2px solid transparent;
    background-color:transparent;
    outline: none;
    box-shadow: none;
 }
 .promo_code_btn:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid transparent;
  }
  .promo_code_btn:visited {
    box-shadow: none;
    outline: none;
    border: 2px solid transparent;
  }
  .dob_calendar .input-group.date .input-group-addon {
    visibility: hidden;
    display:none;
}
.btn-pd-0
  {
    padding:0;
  }

  .custom_check_box {
    height: 15px;
    width: 15px;
      background-color: white;
      border-radius: 50%;
      vertical-align: middle;
      border:1px solid #f32121;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      margin-right:6px;
      margin-bottom:5px;
  }

  .custom_check_box:checked {
      background-color: #f32121;
    }

  .guild_membership label
    {
      margin-bottom:0;
    }
.all-p
    {
      font-family:Myraid Pro;
      font-size:14px; 
    }
  .inp-border-none {
    border:none;
    /* padding: 5px 10px; */
    outline: none;
    width: 100%;
    font-size: 13px;
    color: #000;
   }
.change-pswd-sbmt-btn
   {
     padding:1em 0;
   }
.radio-settings
   {
     margin-top:0.1rem;
   }
.block-membr-dropdown
  {
    outline:none;
  }
.select2-container:focus
  {
    border:1px solid #000!important;
    border-radius:.25rem;
  }
.select2-search--dropdown input[type="search"]:focus{
   outline:none;
}

input.pw {
  -webkit-text-security: disc;
}
.border-cls
  {
    border:1px solid #000;
  }
.border-cls:focus
  {
    border:1px solid #000;
  }
  .unblock-btn{
    color: #f32121;
    background-color: #EDEEF0;
    font-weight: 600;
    font-size: 13px;
    height: 25px;
    border-radius: 0rem;
    padding: 3px 7px;
    font-family: Courier Bold;
  }
  .unblock-btn:active,.unblock-btn:focus,.unblock-btn:hover{
    color: #f32121;
    background-color: #EDEEF0;
    font-weight: 600;
    font-size: 13px;
    height: 25px;
    border-radius: 0rem;
    padding: 3px 7px;
    font-family: Courier Bold;
    box-shadow: none;
  }
  .repeat-agent, .repeat, .repeat-new
    {
      cursor: pointer;
    }

  .select2-results__options, .select2-search__field
    {
    font-family: "Myraid Pro";
    font-size: 13px;
    }
.txtbox-font-style
    {
      font-family: "Myraid Pro";
      font-size: 13px;
    }
.custom-save-btn
    {
      font-family: "Myraid Pro";
      font-size: 13px;
      padding:0;
      outline:none;
      box-shadow:none;
    }
.custom-save-btn:focus
    {
      outline:none;
      box-shadow:none;
    }
.custom-save-btn-2
    {
      font-family: "Myraid Pro";
      font-size: 13px;
      padding:0;
      outline:none;
      box-shadow:none;
    }
.custom-save-btn-2:focus
    {
      outline:none;
      box-shadow:none;
    }
.save_btn:focus
    {
      outline:none;
      box-shadow: none;
    }
.img-btn label
    {
      background-color: rgb(223, 193, 193);
      cursor:pointer;
      color:red;
    }
  .pos
    {
      cursor:pointer;
    }
.unread_notification
    {
      font-family: "Myraid Pro";
      font-size: 14px;
      /* background-color:#e7e7e7; */
      padding:1em
    }
.notification_count_span
    {
      background-color:red;
      color:#fff;
      padding:2px 6px;
      border-radius:50px;
    }
.notification_img
    {
      width:100%;
    }
.notification_link
    {
      text-decoration: none!important;
      color:#000;
    }
.warning-modal-title
{
  color:red;
}
.client-img
  {
    width:100%;
  }
.cursor-pointer
{
  cursor:pointer;
}
.custom-msg-box-success
  {
    display:none;
    position:fixed;
    top: 4em;
    left: 31%;
    z-index:999999;
    width: 34em;
    font-size:12px;
    font-family:Myraid Pro;
    padding:1em 3em;
    border:1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;
    background-color: #d4edda;
  }
.custom-msg-box-warning
  {
    display:none;
    position:fixed;
    top: 4em;
    left: 31%;
    z-index:999999;
    width: 34em;
    font-size:12px;
    font-family:Myraid Pro;
    padding:1em 3em;
    border:1px solid #ffeeba;
    border-radius: 5px;
    color: #856404;
    background-color: #fff3cd;
  }
  .btn-blue
    {
      color: #fff;
      background-color: #2265b9;
      padding:5px 10px;
    }
  .btn-grey
    {
      color: #000;
      background-color: rgb(197, 189, 189);
      padding:5px 10px;
    }
  .selected-mode
    {
      background-color:#cccccc;
    }
  .pcb-radio-toolbar input[type="radio"]:checked + label {
      color :#ff0f0f;
      background-color: rgb(223, 193, 193);
   }
   .clickable-mode:focus
    {
      outline:none;
      box-shadow:none;
    }

.radio-toolbar input[type="radio"]:checked + label {
  background-color: rgb(223, 193, 193);
  color :#ff0f0f;
}
.page-nav
  {
    font-size:18px;
  }
.current-page
  {
    font-size:14px;
  }

/* star rating */
.containerdiv {
  border: 0;
  float: left;
  position: relative;
  width: 80px;
} 
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 } 
 .star-img{
   max-width: 80px;
 }
/* end star rating */
/* give star rating */

.give-rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.give-rating:not(:checked) > label {
  float:right;
  width: .80em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 40px;
  color: #ccc;
  position: relative;
  top: -3px;
}
.give-rating:not(:checked) > label:before {
  content: "\2605";
}
.give-rating > input:checked ~ label {
  color: #e88b22;    
}

/* end give star rating */
.net-friend-req-name
  {
    font-family:Myraid Pro;
  }
  .my-interest-table-th{
    border: 0;
    border-bottom: 1px solid#656565;
 }
 .inp-interest-2 {
  border:none;
  border-bottom:1px solid#9c9c9c;
  outline: none;
  background: none;
  width: 100%!important;
}
#progress-bar {
  display: none;
}

.btn-style
  {
    font-weight: 600;
    border:none;
  }

.txt-style
{
  font-family:Myraid Pro;
  font-size:12px;
  color:#2265b9;
}
.remove-decoration:hover
  {
    text-decoration :none;
  }
.txt-uppercase
    {
      text-transform: uppercase;
    }
.txt-capitalize
    {
      text-transform: capitalize;
    }
.applied-style
    {
      border:2px solid black;
    }
.passed-style
    {
      border:2px solid gray;
    }
.attached-style
    {
      border:2px solid green;
    }
.callback-style
    {
      border:2px solid orange;
    }
.samr-modal-title
    {
      font-size:18px;
      color:red;
      font-family:Myriad Pro;
    }
.samr-modal-txt
    {
      font-size:14px;
      color: #000;
      font-family:Myriad Pro;
      font-weight: 200;
    }
.sides-font-style
    {
      font-family:initial;
      font-size:initial;
      font-weight:initial;
      font-style: initial;
      padding:5px;
    }

    .sides-textbox{
      width: 100%;
      height: 245px;
      resize: none;
      border: solid 1px black;
      border-radius: 1px;
      outline: none;
      overflow: scroll;
   }
.video_url_section
   {
     font-size:12px;
     font-family: Myriad Pro;
     color:#656565;
   }
.alert-style
   {
     font-size:12px;
     font-family: Myriad Pro;
     color:red;
   }

   /* scroll bar */
  .show-more-div
   {
    height:235px;
    overflow-y:hidden;
   }
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f3f3f3;
}

#style-2::-webkit-scrollbar
{
  background-color: #f3f3f3;
}

#style-2::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: orange;
}
#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
}

#style-2::-webkit-scrollbar
{
	width: 5px;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
}
   /* end scroll bar */

.logline-edit-div
  {
    text-align:right;
    padding:15px;
  }