<div class="cas-input-sec-flex mt-4">
    <span class="cas-input-item-align">
        <input type="text" class="cas-input-field" placeholder="Character's Name"
        name="name"  autocomplete="off" required>
    </span>
    <span class="cas-txt-area-align">
        <textarea class="cas-input-txtarea" placeholder="Description"
        name="description"  autocomplete="off" required></textarea>
    </span>
    <div class="cas-side-display">
        <span>
            <span class="cas-cast-side-txt"><a href="">SIDES</a></span>
        </span>
        <span>
            <input type="password" class="cas-input-password" placeholder="PASSWORD"
            name="password"  autocomplete="off">
        </span>
    </div>
    <span class="cas-txt-area-align">
    
    </span>
</div>