
{% load static %}

<div class="row unread_notification">
    <div  class="col-2">
        {% if notification.notification_type == 'audition_status'  %}
        <a href="{% url 'project:single-film-project' notification.project.id %}"
         target="_blank" id ="{{notification.id}}" class="notification_link">
            {% if notification.project.video_cover_image %}
            <img src="{{ notification.project.video_cover_image }}" class="notification_img"/>
            {% elif notification.project.creator.get_profile_photo %}
            <img src="{{ notification.project.creator.get_profile_photo }}" class="notification_img"/>
            {% else %}
            <img src="{% static 'images/default_profile_pic.png' %}" class="notification_img"/>
            {% endif %}</a>
        {% elif notification.notification_type == 'video_rating' %}
            <a href="{% url 'project:video' notification.project.id %}"
                target="_blank" id ="{{notification.id}}" class="notification_link">
                {% if notification.project.video_cover_image %}
                <img src="{{ notification.project.video_cover_image }}" class="notification_img"/>
                {% elif notification.project.creator.get_profile_photo %}
                <img src="{{ notification.project.creator.get_profile_photo }}" class="notification_img"/>
                {% else %}
                <img src="{% static 'images/default_profile_pic.png' %}" class="notification_img"/>
                {% endif %}
            </a>
        {% elif notification.notification_type == 'project_rating' %}
            <a href="{{ notification.from_user.get_profile_url }}"
                target="_blank" id ="{{notification.id}}" class="notification_link">
                {% if notification.from_user.get_profile_photo %}
                <img src="{{ notification.from_user.get_profile_photo }}" class="notification_img"/>
                {% else %}
                <img src="{% static 'images/default_profile_pic.png' %}" class="notification_img"/>
                {% endif %}
            </a>
        {% endif %}
    </div>
    <div class="col-10 ">
        {% if notification.notification_type == 'project_rating' %}
            {{notification.from_user.get_full_name}} rated your project <a href="{% url 'project:single-film-project' notification.project.id %}">{{notification.project.title}}</a> as {{notification.rating|floatformat:0}} stars
        {% else %}
            {{ notification.message }}
        {% endif %}<br>
        Now
    </div>
</div>


