
{% load static %}
<li class="mm-notf-grid-col-read">
    <div class="mm-notf-grid-col">
        <div class="mm-msg-img">
            <div class="mm-notf-img-pro-sec">

                <a href="{{ notification.from_user.get_profile_url }}"
                id ="{{notification.id}}" class="notification_link">
                    {% if notification.from_user.get_profile_photo %}
                    <img src="{{ notification.from_user.get_profile_photo }}" class="mm-round-img"/>
                    {% else %}
                    <img src="{% static 'images/default_profile_pic.png' %}" class="mm-round-img"/>
                    {% endif %}
                </a>
                 <div class="mm-msg-pro">
                     <div class="mm-msg-pro-lgth" title="Indie">
                        {{ notification.project.creator.get_membership_display }}
                     </div>
                 </div>
            </div>
        </div>
        <div class="mm-notf-msg-display">
            <div class="mm-notf-msg-sec">
                <a href="{{ notification.from_user.get_profile_url }}"
                id ="{{notification_id}}" class="notification_link remove-decoration msg-txt-color">
                {{notification.message|safe}}
                </a>
            </div>
            <div class="mm-notf-msg--hour-sec">
               Now
            </div>
        </div>
    </div>
</li>



<!-- <div class="row unread_notification">
    <div  class="col-2">
        <a href="{{ notification.from_user.get_profile_url }}"
         target="_blank" id ="{{notification_id}}" class="notification_link">
            {% if notification.from_user.get_profile_photo %}
            <img src="{{ notification.from_user.get_profile_photo }}" class="notification_img"/>
            {% else %}
            <img src="{% static 'images/default_profile_pic.png' %}" class="notification_img"/>
            {% endif %}</a>
    </div>
    <div class="col-10 " id="cast-attach-req-btns-{{notification.character.id}}">
        {{notification.message|safe}}<br>
        <b>{{ notification.project.creator.get_membership_display  }}</b><br>
        Now
    </div>
</div> -->



