{% extends 'base.html' %}
{% load static %}
{% load samr_display_tag %}
{% load user_account_tag %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                <div class="caa-sec-bg caa-adblock-sec">
                    <div class="caa-adblock-sec-align">
                        <div class="caa-ad-block-inner">
                            <span class="caa-ad-block-txt">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2568931363821177"
                                    crossorigin="anonymous"></script>
                                <!-- 728x90, created 2/23/09 -->
                                <ins class="adsbygoogle"
                                    style="display:inline-block;width:728px;height:90px"
                                    data-ad-client="ca-pub-2568931363821177"
                                    data-ad-slot="9556686269"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="caa-sec-bg car-adblock-sec-2">
                    <div class="caa-adblock-sec-align">
                        <div class="caa-ad-block-inner">
                            <span class="caa-ad-block-txt">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2568931363821177"
                                    crossorigin="anonymous"></script>
                                <!-- 728x90, created 2/23/09 -->
                                <ins class="adsbygoogle"
                                    style="display:inline-block;width:728px;height:90px"
                                    data-ad-client="ca-pub-2568931363821177"
                                    data-ad-slot="9556686269"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                <div class="caa-center-section-align">
                    <!-- project menu  -->

                    <div class="sds-menu-bg">
                        <div class="cta-menu-align">
                            <ul class="cva-menu ">
                                <li><span class="video-menu-head">PROJECT </span>
                                    <a href="{% url 'project:single-film-project' project.id %}"
                                        class="video-menu-head-tag">#{{project.id}}</a></li>
                                <li><span>Title: </span><span class="sgl-menu-blue txt-upppercase">{{project.title}}</span></li>
                                <li><span>Format: </span><span class="sgl-menu-blue txt-uppercase">{{project.get_format_display}}</span></li>
                                <li><span>Genre: </span><span class="sgl-menu-blue txt-uppercase">{{project.get_genre_display}}</span></li>
                                <li><span>Location(s): </span><span class="sgl-menu-blue txt-uppercase">{{project.location}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- project menu  End-->

                    <div class="car-input-sec-bg">
                        <div class="clu-input-sec-align">
                            <div class="clu-input-head-display">
                                <span class="clu-cast-orange">
                                    CAST:
                                </span>
                                <span>
                                    <div class="car-input-cast-sec">
                                        {% get_samr_display_value project.id as samr_data %}
                                        <span>Cast SAMR: </span>
                                        <span class="car-pro-txt">{{ samr_data.0 }}</span>
                                        <span class="car-input-rate-star">
                                            <span class="fa {% if samr_data.1 >= 1 %}fa-star checked {% else %}fa-star-o{% endif %}"></span>
                                            <span class="fa {% if samr_data.1 >= 2 %}fa-star checked {% else %}fa-star-o {% endif %}"></span>
                                            <span class="fa {% if samr_data.1 >= 3 %}fa-star checked {% else %}fa-star-o {% endif %}"></span>
                                            <span class="fa {% if samr_data.1 >= 4 %}fa-star checked {% else %}fa-star-o {% endif %}"></span>
                                            <span class="fa {% if samr_data.1 >= 5 %}fa-star checked {% else %}fa-star-o {% endif %}"></span>
                                        </span>
                                    </div>
                                </span>
                            </div>
                            <hr class="car-input-head-hr">
                            <div class="clu-top-padding">

                                <!-- Input field section  -->
                                {% for character in characters %}
                                <div class="clu-input-section mt-2">
                                    <div>
                                        <div>
                                            <span class="car-char-sec-orange-txt"><u>{{character.name}}:</u></span>
                                            {% if character.attached_user %}
                                                <a href="{{character.attached_user.get_profile_url}}"
                                                class="car-char-sec-blue-txt">{{character.attached_user.get_full_name}}</a>
                                                {% get_dict_value rating_dict character.attached_user.id as rating%}
                                                <span class="car-input-rate-star">
                                                    <div class="cta-stars-outer">
                                                        <div class="cta-stars-inner" style="width:{{rating}}%;"></div>
                                                    </div>
                                                </span>
                                            {% elif character.attached_user_name %}
                                                <a class="car-char-sec-blue-txt">{{character.attached_user_name}}</a>
                                            {% else %}
                                                <span class="car-char-sec-green-txt">Available</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <div class="clu-des-textarea-div">
                                                <span>{{character.description|truncatewords:"10"}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clu-input-field-display">
                                        {% if character.attached_user or character.attached_user_name %}
                                        <span>
                                            <button class="clu-attach-btn">Attached</button>
                                        </span>
                                        {% else %}
                                        <span>
                                            {% if character.password %}
                                            <input type="password" name="password"
                                                class="clu-cast-password" id="password_{{character.id}}" placeholder="******" required>
                                            <button class="clu-apply-btn check_password" id="{{character.id}}">Apply</button>
                                            {% else %}
                                            <a href="{% url 'project:cast-apply-audition' project.id %}?character_id={{character.id}}"
                                            class="clu-apply-btn remove-decoration hover_color" >Apply</a>
                                            {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="clu-error-sec">
                                        <span class="password-err all-error-msg" id="error_{{character.id}}"></span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Input field section End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 top_rated_members">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $('body').on('click' , '.check_password', function(){
        var character_id = $(this).attr('id');
        var token = $("#token").val();
        var password_id = "#password_"+character_id;
        var err_msg_id = "#error_"+character_id;
        var password = $(password_id).val();
        data_dict = {}
        data_dict['character_id'] = character_id;
        if(password!=""){
            data_dict['password'] = password
            $.ajax
            ({
                type: "POST",
                url: "/project/cast-apply-password-check-api/",
                dataType: 'json',
                async: false,
                data: data_dict,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", token);
                },
                success: function(response){
                    var url = response['url']
                    if('errors' in response){
                        $('.password-err').html("");
                        $(err_msg_id).html(response['errors'])
                    }else{
                        $('.password-err').html("");
                        $(err_msg_id).html("");
                        window.location.href = response['url'];
                    };
                }
            });
        }else{
            $(err_msg_id).html("Password is required.")
        }
    });
</script>
{% endblock %}


