{% extends 'base.html' %}
{% load static %}
{% load project_rating_tag %}


{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid">
        <div class="row">

            <!-- Left section -->

            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 ">
                <div class="caa-sec-bg caa-adblock-sec">
                    <div class="caa-adblock-sec-align">
                        <div class="caa-ad-block-inner">
                            <span class="caa-ad-block-txt">Ad Block</span>
                        </div>
                    </div>
                </div>
                <div class="caa-sec-bg cva-adblock-sec-2">
                    <div class="caa-adblock-sec-align">
                        <div class="caa-ad-block-inner">
                            <span class="caa-ad-block-txt">Ad Block</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left section  End-->
            <!-- Center section -->

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 ">
                <div class="caa-center-section-align">
                    <!-- project menu  -->

                    <div class="sds-menu-bg">
                        <div class="cta-menu-align">
                            <ul class="cva-menu ">
                                <li><span class="video-menu-head">PROJECT </span><a href=""
                                        class="video-menu-head-tag">#{{audition.project.id}}</a></li>
                                <li><span>Title: </span><span class="sgl-menu-blue txt-uppercase">{{audition.project.title}}</span></li>
                                <li><span>Format: </span><span class="sgl-menu-blue txt-uppercase">{{audition.project.get_format_display}}</span></li>
                                <li><span>Genre: </span><span class="sgl-menu-blue txt-uppercase">{{audition.project.get_genre_display}}</span></li>
                                <li><span>Location(s): </span><span class="sgl-menu-blue txt-uppercase">{{audition.project.location}}</span></li>
                            </ul>
                        </div>
                    </div>

                    <!-- project menu  End-->
                    <!-- Character menu  -->

                    <div class="sds-menu-bg">
                        <div class="cta-menu-align">
                            <ul class="cva-side-setup-menu">
                                <li>
                                    <span class="">CHARACTER: </span>
                                    <span class="video-menu-head txt-uppercase">{{audition.character.name}}</span>
                                </li>
                                <li><span class="">ACTOR: </span><span class="cva-menu-tag">
                                    <a href="{{audition.user.get_profile_url}}" class="txt-uppercase">{{audition.name}}</a></span>
                                    <span class="caa-rate-star">
                                        <div class="cta-stars-outer">
                                            <div class="cta-stars-inner" style="width:{{audition_user_rating}}%;"></div>
                                          </div>
                                    </span>
                                </li>
                                <li><span class="">LOCATION: </span><span class="cva-menu-tag">
                                    <a href="" class="txt-uppercase">{{audition.location}}</a></span></li>
                                <li><span class="">AGENT: </span>
                                    <span class="cva-menu-tag">
                                        <a href="">{{audition.agent_name}}</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Character menu End -->
                    <!-- Image section  -->

                    <div class="cva-menu-bg">
                        <div class="cva-img-sec-align">
                            <div class="cva-grid-sec">
                                <div class="mb-3">
                                    <div class="cva-image-frame pt-3">
                                        <!-- <img src="{% static 'images/Video_img.png' %}" class="cva-image-size"> -->
                                        {% if audition.video_type == 'vimeo' %}
                                            <iframe src="https://player.vimeo.com/video/{{ audition.video_url }}?byline=false&dnt&portrait=false&title=false" width="600" height="250"
                                            data-show-text="false" frameborder="0" fullscreen; picture-in-picture allowfullscreen
                                            class="cva-image-size"></iframe>
                                            <img src=""/>
                                        {% elif audition.video_type == 'youtube' %}
                                            <iframe
                                            src="http://www.youtube.com/embed/{{ audition.video_url }}?rel=0&modestbranding=1" width="450" height="250"
                                            data-show-text="false" allowFullScreen="allowFullScreen" frameBorder="0"
                                            class="cva-image-size"></iframe>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="cva-img-info-sec-align mb-2">
                                    <div class="cva-img-info-sec">
                                        <div class="cva-img-info-grid">
                                            <div>
                                                <span class="cva-img-info-black-txt">Casting Director :</span>
                                            </div><br>
                                            {% for obj in casting_directors %}
                                            <div>
                                                <span class="cva-tag-txt-align" title="{{obj.user.get_full_name}}">
                                                    <a href="{{obj.user.get_profile_url}}" class="cva-img-info-tag">{{obj.user.get_full_name}}</a>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="caa-info-rate-star"
                                                {% if request.user == obj.user %}
                                                data-toggle="modal"
                                                data-target="#rating_modal-{{obj.id}}"
                                                {% endif %}>
                                                    {% get_dict_value_if_exists rating_dict obj as my_rating %}
                                                    <span class="fa {% if my_rating >= 1 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 2 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 3 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 4 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 5 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                </span>
                                            </div>
<!-- The Modal -->
<div class="modal fade" id="rating_modal-{{obj.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Rate {{audition.name}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                            <div class="row" >
                                {% get_my_audition_rating obj audition as my_rating %}
                                <div class="offset-2 col-6 " id="rating-form" >
                                    <input type="hidden" value="{{audition.id}}" name="audition" id="audition" />
                                    <div class="row">
                                        <span class="give-rating text-center">
                                                <input type="radio" id="star5-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="5"
                                                {% if my_rating.0 == 5 %}checked{% endif %}/>
                                                <label for="star5-{{obj.id}}" title="5 Star">5 stars</label>

                                                <input type="radio" id="star4-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="4"
                                                {% if my_rating.0 == 4 %}checked{% endif %}/>
                                                <label for="star4-{{obj.id}}" title="4 Star">4 stars</label>

                                                <input type="radio" id="star3-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="3"
                                                {% if my_rating.0 == 3 %}checked{% endif %}/>
                                                <label for="star3-{{obj.id}}" title="3 Star">3 stars</label>

                                                <input type="radio" id="star2-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="2"
                                                {% if my_rating.0 == 2 %}checked{% endif %}/>
                                                <label for="star2-{{obj.id}}" title="2 Star">2 stars</label>

                                                <input type="radio" id="star1-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="1"
                                                {% if my_rating.0 == 1 %}checked{% endif %}/>
                                                <label for="star1-{{obj.id}}" title="1 Star">1 star</label>
                                        </span>
                                        <div class='reason-error'></div>
                                    </div>
                                    <div class='row review-div'>
                                        <p class="all-p">Comments:</p>
                                        <textarea id='review-{{obj.id}}' class='review form-control' rows='4' name='review'>{% if my_rating.1 is not None%}{{my_rating.1}}{% endif %}</textarea>
                                    </div>
                                </div>




                            </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm submit-audition-rating"
                id="{{obj.id}}">Submit</button>
                <button type="button" class="btn btn-outline-danger btn-sm "
                data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
                                            {% endfor %}
                                        </div>
                                        <div class="cva-img-info-grid">
                                            <div>
                                                <span class="cva-img-info-black-txt">Director :</span>
                                            </div><br>
                                            {% for obj in directors %}
                                            <div>
                                                <span class="cva-tag-txt-align" title="{{obj.user.get_full_name}}">
                                                    <a href="{{obj.user.get_profile_url}}" class="cva-img-info-tag">{{obj.user.get_full_name}}</a>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="caa-info-rate-star"
                                                {% if request.user == obj.user %}
                                                data-toggle="modal"
                                                data-target="#rating_modal-{{obj.id}}"
                                                {% endif %}>
                                                    {% get_dict_value_if_exists rating_dict obj as my_rating %}
                                                    <span class="fa {% if my_rating >= 1 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 2 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 3 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 4 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 5 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                </span>
                                            </div>
<!-- The Modal -->
<div class="modal fade" id="rating_modal-{{obj.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Rate {{audition.name}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                            <div class="row" >
                                {% get_my_audition_rating obj audition as my_rating %}
                                <div class="offset-2 col-6 " id="rating-form" >
                                    <input type="hidden" value="{{audition.id}}" name="audition" id="audition" />
                                    <div class="row">
                                        <span class="give-rating">
                                                <input type="radio" id="star5-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="5"
                                                {% if my_rating.0 == 5 %}checked{% endif %}/>
                                                <label for="star5-{{obj.id}}" title="5 Star">5 stars</label>

                                                <input type="radio" id="star4-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="4"
                                                {% if my_rating.0 == 4 %}checked{% endif %}/>
                                                <label for="star4-{{obj.id}}" title="4 Star">4 stars</label>

                                                <input type="radio" id="star3-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="3"
                                                {% if my_rating.0 == 3 %}checked{% endif %}/>
                                                <label for="star3-{{obj.id}}" title="3 Star">3 stars</label>

                                                <input type="radio" id="star2-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="2"
                                                {% if my_rating.0 == 2 %}checked{% endif %}/>
                                                <label for="star2-{{obj.id}}" title="2 Star">2 stars</label>

                                                <input type="radio" id="star1-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="1"
                                                {% if my_rating.0 == 1 %}checked{% endif %}/>
                                                <label for="star1-{{obj.id}}" title="1 Star">1 star</label>
                                        </span>
                                        <div class='reason-error'></div>
                                    </div>
                                    <div class='row review-div'>
                                        <p class="all-p">Comments:</p>
                                        <textarea id='review-{{obj.id}}' class='review form-control' rows='4' name='review'>{% if my_rating.1 is not None%}{{my_rating.1}}{% endif %}</textarea>
                                    </div>
                                </div>




                            </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm submit-audition-rating"
                id="{{obj.id}}">Submit</button>
                <button type="button" class="btn btn-outline-danger btn-sm "
                data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
                                            {% endfor %}
                                        </div>
                                        <div class="cva-img-info-grid">
                                            <div>
                                                <span class="cva-img-info-black-txt">Producer :</span>
                                            </div><br>
                                            {% for obj in producers %}
                                            <div>
                                                <span class="cva-tag-txt-align" title="{{obj.user.get_full_name}}">
                                                    <a href="{{obj.user.get_profile_url}}" class="cva-img-info-tag">{{obj.user.get_full_name}}</a>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="caa-info-rate-star"
                                                {% if request.user == obj.user %}
                                                data-toggle="modal"
                                                data-target="#rating_modal-{{obj.id}}"
                                                {% endif %}>
                                                    {% get_dict_value_if_exists rating_dict obj as my_rating %}
                                                    <span class="fa {% if my_rating >= 1 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 2 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 3 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 4 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 5 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                </span>
                                            </div>
<!-- The Modal -->
<div class="modal fade" id="rating_modal-{{obj.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Rate {{audition.name}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                            <div class="row" >
                                {% get_my_audition_rating obj audition as my_rating %}
                                <div class="offset-2 col-6 " id="rating-form" >
                                    <input type="hidden" value="{{audition.id}}" name="audition" id="audition" />
                                    <div class="row">
                                        <span class="give-rating">
                                                <input type="radio" id="star5-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="5"
                                                {% if my_rating.0 == 5 %}checked{% endif %}/>
                                                <label for="star5-{{obj.id}}" title="5 Star">5 stars</label>

                                                <input type="radio" id="star4-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="4"
                                                {% if my_rating.0 == 4 %}checked{% endif %}/>
                                                <label for="star4-{{obj.id}}" title="4 Star">4 stars</label>

                                                <input type="radio" id="star3-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="3"
                                                {% if my_rating.0 == 3 %}checked{% endif %}/>
                                                <label for="star3-{{obj.id}}" title="3 Star">3 stars</label>

                                                <input type="radio" id="star2-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="2"
                                                {% if my_rating.0 == 2 %}checked{% endif %}/>
                                                <label for="star2-{{obj.id}}" title="2 Star">2 stars</label>

                                                <input type="radio" id="star1-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="1"
                                                {% if my_rating.0 == 1 %}checked{% endif %}/>
                                                <label for="star1-{{obj.id}}" title="1 Star">1 star</label>
                                        </span>
                                        <div class='reason-error'></div>
                                    </div>
                                    <div class='row review-div'>
                                        <p class="all-p">Comments:</p>
                                        <textarea id='review-{{obj.id}}' class='review form-control' rows='4' name='review'>{% if my_rating.1 is not None%}{{my_rating.1}}{% endif %}</textarea>
                                    </div>
                                </div>




                            </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm submit-audition-rating"
                id="{{obj.id}}">Submit</button>
                <button type="button" class="btn btn-outline-danger btn-sm "
                data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
                                            {% endfor %}
                                        </div>
                                        <div class="cva-img-info-grid">
                                            <div>
                                                <span class="cva-img-info-black-txt">Writer :</span>
                                            </div><br>
                                            {% for obj in writers %}
                                            <div>
                                                <span class="cva-tag-txt-align" title="{{obj.user.get_full_name}}">
                                                    <a href="{{obj.user.get_profile_url}}" class="cva-img-info-tag">{{obj.user.get_full_name}}</a>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="caa-info-rate-star"
                                                {% if request.user == obj.user %}
                                                data-toggle="modal"
                                                data-target="#rating_modal-{{obj.id}}"
                                                {% endif %}>
                                                    {% get_dict_value_if_exists rating_dict obj as my_rating %}
                                                    <span class="fa {% if my_rating >= 1 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 2 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 3 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 4 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                    <span class="fa {% if my_rating >= 5 %}fa-star checked{% else %}fa-star-o{% endif %}"></span>
                                                </span>
                                            </div>
<!-- The Modal -->
<div class="modal fade" id="rating_modal-{{obj.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title mem-setup-blu-f">Rate {{audition.name}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                            <div class="row" >
                                {% get_my_audition_rating obj audition as my_rating %}
                                <div class="offset-2 col-6 " id="rating-form" >
                                    <input type="hidden" value="{{audition.id}}" name="audition" id="audition" />
                                    <div class="row">
                                        <span class="give-rating">
                                                <input type="radio" id="star5-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="5"
                                                {% if my_rating.0 == 5 %}checked{% endif %}/>
                                                <label for="star5-{{obj.id}}" title="5 Star">5 stars</label>

                                                <input type="radio" id="star4-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="4"
                                                {% if my_rating.0 == 4 %}checked{% endif %}/>
                                                <label for="star4-{{obj.id}}" title="4 Star">4 stars</label>

                                                <input type="radio" id="star3-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="3"
                                                {% if my_rating.0 == 3 %}checked{% endif %}/>
                                                <label for="star3-{{obj.id}}" title="3 Star">3 stars</label>

                                                <input type="radio" id="star2-{{obj.id}}" name="rate-{{obj.id}}" class="rate"  value="2"
                                                {% if my_rating.0 == 2 %}checked{% endif %}/>
                                                <label for="star2-{{obj.id}}" title="2 Star">2 stars</label>

                                                <input type="radio" id="star1-{{obj.id}}" name="rate-{{obj.id}}" class="rate" value="1"
                                                {% if my_rating.0 == 1 %}checked{% endif %}/>
                                                <label for="star1-{{obj.id}}" title="1 Star">1 star</label>
                                        </span>
                                        <div class='reason-error'></div>
                                    </div>
                                    <div class='row review-div'>
                                        <p class="all-p">Comments:</p>
                                        <textarea id='review-{{obj.id}}' class='review form-control' rows='4' name='review'>{% if my_rating.1 is not None%}{{my_rating.1}}{% endif %}</textarea>
                                    </div>
                                </div>




                            </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm submit-audition-rating"
                id="{{obj.id}}">Submit</button>
                <button type="button" class="btn btn-outline-danger btn-sm "
                data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
                                            {% endfor %}

                                        </div>
                                        <div class="cva-check-sec-align">
                                            <div class="cva-checkbox-sec">
                                                <div>
                                                    <span class="cva-info-txt-grey">Pass</span>
                                                </div>
                                                <div class="cva-checkbox-group1">
                                                    <input type="radio" id="cva-checkbox-black" name="audition_status" value="passed"/>
                                                    <label for="cva-checkbox-black"></label>
                                                </div>
                                            </div>
                                            <div class="cva-checkbox-sec">
                                                <div>
                                                    <span class="cva-info-txt-red">To Chemistry Room</span>
                                                </div>
                                                <div class="cva-checkbox-group2">
                                                    <input type="radio" id="cva-checkbox-red" name="audition_status" value="callback"/>
                                                    <label for="cva-checkbox-red"></label>
                                                </div>
                                            </div>
                                            <div class="cva-checkbox-sec">
                                                <div>
                                                    <span class="cva-info-txt-green">Attach</span>
                                                </div>
                                                <div class="cva-checkbox-group3">
                                                    <input type="radio" id="cva-checkbox-green" name="audition_status" value="attached"/>
                                                    <label for="cva-checkbox-green"></label>
                                                </div>
                                            </div>
                                            <div class="audition-status-error errormsg"></div>
                                            <div class="cva-checkbox-sec mb-2">
                                                <div>
                                                    <span class="cva-info-txt-green">
                                                        <a class="cursor-pointer custom-save-btn save_audition_status mem-setup-blu-f"
                                                        id="{{audition.id}}">Save</a>
                                                    </span>
                                                </div>
                                                <div class="cva-checkbox-group3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cva-back-btn-sec">
                                            <span><a href="{% url 'project:audition-list' audition.project.id %}">
                                                <img src="{% static 'images/right-arrow.png' %}"
                                                        class="cva-left-arrow-btn"></a></span>
                                            <span class="cva-back-txt">Back to Audition Videos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Image section  End-->
                    <!-- message section  -->

                    <div class="cva-menu-bg mt-3">
                        <div class="cva-msg-sec-align">
                            <div class="card cva-msg-card scroll-section">
                                <div class="cva-msg-txt-align">
                                    <span class="cva-msg-txt">
                                        <span class="txt-capitalize float-right">Status:
                                        <span class="txt-capitalize
                                        {% if audition.status == 'passed' %}cva-info-txt-black{% endif %}
                                        {% if audition.status == 'attached' %}cva-info-txt-green{% endif %}
                                        {% if audition.status == 'callback' %}cva-info-txt-red{% endif %}
                                        ">
                                            {{audition.get_status_display}}
                                        </span>
                                        </span>
                                        <p class=""><b>Comments:</b></p>
                                            {% for item in audition_user_ratings %}
                                            <p>
                                                <b class="txt-capitalize comment-name-style">{{item.team_member.user.get_full_name}}: </b>
                                                <span class="comment-style">{{item.review}}</span>
                                            </p>
                                            {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message section End  -->
                </div>
            </div>

            <!-- Center section  End-->
            <!-- Right section  -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 top_rated_members">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $('body').on('click' , '.submit-audition-rating', function(){
        var team_id = $(this).attr("id");
        var token = $("#token").val();
        var audition_id = $("#audition").val();
        var rate_id = 'input[name="rate-'+team_id+'"]:checked'
        var review_id = "#review-"+team_id
        var review = $(review_id).val();
        var rate = $(rate_id).val();
        data_dict = {};

        if(review){
          data_dict['review']=review;
        }
        if(rate){
          data_dict['rating']=rate;
        }
        if(audition_id){
          data_dict['audition']=audition_id;
        }
        if(team_id){
            data_dict['team_member']=team_id;
          }
        console.log("data_dict", data_dict);
        if(rate){
          $.ajax
          ({
              type: "POST",
              url: "/project/rate-audition-api/",
              dataType: 'json',
              async: false,
              data: data_dict,
              beforeSend: function (xhr) {
                  xhr.setRequestHeader ("Authorization", token);
              },
              success: function(response){
                window.location.reload();
              }
          });
        }else{
          $('.reason-error').html("Please provide rating.");
        }
      });

      $('body').on('click' , '.save_audition_status', function(){
          var audition_id = $(this).attr('id');
          var token = $("#token").val();
          var audition_status = $('input[name="audition_status"]:checked').val();
          console.log(audition_id)
          console.log(audition_status)
          data_dict = {}
          if(audition_status){
            data_dict['audition'] = audition_id
            data_dict['status'] = audition_status
            $.ajax
                ({
                    type: "POST",
                    url: "/project/update-audition-status-api/",
                    dataType: 'json',
                    async: false,
                    data: data_dict,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader ("Authorization", token);
                    },
                    success: function(response){
                        window.location.reload();
                    }
                });
          }else{
            $('.audition-status-error').html("Choose status option.");
          }
      });
</script>
{% endblock %}


