{% extends 'base.html' %}


{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid">
        <div class="row">
            {% if request.user == project.creator %}
            <!-- Left section  -->

            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                <!-- Project menu  -->
                <div class="cas-menu-bg">
                    <ul class="cas-menu cas-menu-padding">
                        <li><span class="video-menu-head">PROJECT </span><a href="{% url 'project:single-film-project' project.id %}" class="video-menu-head-tag" >#{{project.id}}</a></li>
                        <li><span >Title: </span><span class="sgl-menu-blue">{{project.title}}</span></li>
                        <li><span>Format: </span><span class="sgl-menu-blue">{{project.get_format_display}}</span></li>
                        <li><span>Genre: </span><span class="sgl-menu-blue">{{project.get_genre_display}}</span></li>
                        <li><span>Location(s): </span><span class="sgl-menu-blue">{{project.location}}</span></li>
                    </ul>
                </div>
                <!-- Project menu  End-->
                <!-- Cast and side setup menu  -->
                <div class="cas-cast-menu-bg">
                    <div class="cas-margin-align">
                        <ul class="cas-cast-menu cas-menu-padding">
                            <li><span class="video-menu-head">CAST AND SIDES SETUP </span></li>
                            <li><span class="cas-cast-sub-txt">Submit Video by  </span>
                                <span class="cas-cast-inline">
                                    <span class="cas-inp-align" >
                                        <input type="hidden" value="{{project.id}}" id="project_id" name="project_id"/>
                                        <input
                                        name="{{ last_date_form.last_date.name }}"
                                        class="cas-date-inp text-center"
                                        id="last_date"
                                        value="{{ project.last_date| safe}}"
                                        autocomplete="off" disabled>
                                    </span>
                                </span>
                            </li>
                            <li>
                                <span class="cas-cast-menu-btn">
                                    <!-- <a href="" class="cas-cast-menu-save">SAVE</a>
                                    <a href="" class="cas-cast-menu-edit">EDIT</a> -->
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Cast and side setup menu  End-->
                <!-- Input section  -->

                <div class="cas-input-sec-bg">
                    <div class="text-right txt-style mt-2 pr-2 pt-3">
                        <input type="checkbox" id="show-password" onclick ="reveal()">
                        Show Password
                    </div>
                    <form  method="post" action="{% url 'project:edit-characters' project.id %}">
                        {% csrf_token %}
                        <div class="input-container">
                            <span class="sides">
                                <div class="cas-input-sec-flex  mb-2">
                                    <span>Name</span>
                                    <span>Description</span>
                                    <span>Password</span>
                                </div>
                                {% for character in characters %}
                                <input type="hidden" name="character_id" value="{{character.id}}" />
                                <div class="cas-input-sec-flex {% if not forloop.first %}mt-4{% endif %}">
                                    <span class="cas-input-item-align">
                                        <input type="text" class="cas-input-field" placeholder="Character's Name"
                                        name="name" autocomplete="off" value="{{character.name}}"  required >
                                        <div class="cas-radio-grid">
                                            <span>
                                                <label for="cas-male" class="cas-radio-label">Male</label>
                                                <input type="radio" id="cas-male" value="male" name="gender_{{forloop.counter}}"
                                                {% if character.gender == 'male' %}checked {% endif %} required>
                                            </span>
                                            <span>
                                                <label for="cas-female" class="cas-radio-label">Female</label>
                                                <input type="radio" id="cas-female" value="female"  name="gender_{{forloop.counter}}"
                                                {% if character.gender == 'female' %}checked {% endif %} required>
                                            </span>
                                            <span>
                                                <label for="cas-others" class="cas-radio-label">Others</label>
                                                <input type="radio" id="cas-others" value="others"  name="gender_{{forloop.counter}}"
                                                {% if character.gender == 'others' %}checked {% endif %} required>
                                            </span>
                                        </div>
                                        <div>
                                            <label class="cas-radio-label-1">Age</label>
                                            <select  class="cas-select-style"
                                                    id ="age_{{obj.id}}"
                                                    name="age" required >
                                                    <option value="">---</option>
                                                    {% for item in age %}
                                                        <option value="{{item.0}}"
                                                        {% if character.age == item.0 %}selected{% endif %}>
                                                            {{item.1}}
                                                        </option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </span>
                                    <span class="cas-txt-area-align">
                                        <textarea class="cas-input-txtarea" placeholder="Description" name="description"
                                        autocomplete="off" required>{{character.description}}</textarea>
                                    </span>
                                    <div class="cas-side-display">
                                        <span>
                                            <span class="cas-cast-side-txt"><a href=""></a></span>
                                        </span>
                                        <span>
                                            <input type="password" class="cas-input-password password" placeholder="PASSWORD"
                                            name="password" autocomplete="off"
                                            {% if character.password %} value="{{character.password}}" {% endif %}
                                            >
                                        </span>
                                    </div>
                                </div>
                                {% endfor %}
                            </span>

                            <div>
                                <span class="cas-cast-save-or-edit-btn">
                                    <input type="submit" class="cas-cast-menu-save btn-style" value="SAVE"/>
                                    <a href="{% url 'project:add-characters' project.id %}" class="remove-decoration cas-cast-menu-edit">BACK</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Input section  End-->
            </div>

            <!-- Left section End -->
            <!-- Right section  -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 top_rated_members">
            </div>

            <!-- Right section  End-->
            {% else %}
            <p class="all-p">Invalid page</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
var count=1;
$('body').on('click' , '#add-more-sides', function(){
    count++
    var data_dict = {}
    data_dict = {'count':count}
    // get add coworker form
    $.get('/project/add-sides-form/',data_dict)
    .done(function(data) {
    if(data.results!='')
        {
            $('.sides').append(data['form_html']);
        }
    });
});

</script>
<script type="text/javascript">
    function reveal()
    {
        if($("#show-password").is(':checked')){
        console.log("her")
            $(".password").prop("type", "text");
        }else{
            $(".password").prop("type", "password");
        }
    }
</script>
{% endblock %}


