{% extends 'base.html' %}
{% load static %}


{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                {% if request.user == project.creator %}
                <!-- project menu  -->

                <div class="sds-menu-bg">
                    <div class="sds-menu-align">
                        <ul class="sds-menu sds-menu-padding">
                            <li><span class="video-menu-head">PROJECT </span><a href="" class="video-menu-head-tag" >#{{project.id}}</a></li>
                            <li><span >Title: </span><span class="sgl-menu-blue">{{project.title}}</span></li>
                            <li><span>Format: </span><span class="sgl-menu-blue">{{project.get_format_display}}</span></li>
                            <li><span>Genre: </span><span class="sgl-menu-blue">{{project.get_genre_display}}</span></li>
                            <li><span>Location(s): </span><span class="sgl-menu-blue">{{project.location}}</span></li>
                        </ul>
                    </div>
                </div>

                <!-- project menu  End-->
                <!-- Cast menu  -->
                <div class="sds-menu-bg">
                    <div class="sds-menu-align">
                        <form>
                            <ul class="sds-side-setup-menu sds-menu-padding">
                                <li><span class="video-menu-head">SIDES SETUP</span></li>
                                <li><span class="sds-blue-name">CHARACTER: </span><span class="video-menu-head">{{character.name}}</span></li>
                                <li>
                                    <!-- <span class="sds-side-menu-btn">
                                        <a href="" class="cas-cast-menu-save">SAVE</a>
                                        <a href="" class="cas-cast-menu-edit">EDIT</a>
                                    </span> -->
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <!-- Cast menu End -->
                <!-- side input area  -->

                <div class="sds-input-bg">
                    <div class="sds-input-padding">
                        <form  method="post"
                        action="{% url 'project:edit-sides' project.id %}?{{character.id}}"
                        id="sidesform">
                            {% csrf_token %}
                            <input type="hidden" name="character_id" value="{{character.id}}" />
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="sds-input-right-info">
                                        Copy each Scene and Paste to the right
                                    </div>
                                    <div>
                                        <div class="card sds-script-card">
                                            <div class="sds-card-inneralign">
                                                <div class="sds-inner-pdf-align">
                                                    {% if project.script %}
                                                    <iframe src="{{project.script.url}}" class="pdf-style" frameborder="0"></iframe>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="sds-side-input-align-mob">
                                        <div class="sds-scene-head-1">
                                            <span class="sds-side-txt"><a href="">SIDES</a></span><span class="sds-scene-txt sds-scene-txt-padding">SCENE ONE</span>
                                        </div>
                                        <div>
                                            {{form.scene_1}}
                                        </div>
                                    </div>
                                    <div class="sds-textarea-padding">
                                        <div class="sds-scene-head">
                                            <span class="sds-scene-txt">SCENE TWO</span>
                                        </div>
                                        <div>
                                            {{form.scene_2}}
                                        </div>
                                    </div>
                                    <div class="sds-textarea-padding">
                                        <div class="sds-scene-head">
                                            <span class="sds-scene-txt">SCENE THREE</span>
                                        </div>
                                        <div>
                                            {{form.scene_3}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="sds-card-btn-align">
                                    <span class="sds-input-card-btn">
                                        <input type="submit" class="cas-cast-menu-save btn-style" value="SAVE"/>
                                        <!-- <a class="edit-sides cas-cast-menu-edit cursor-pointer remove-decoration">EDIT</a> -->
                                        <a href="{% url 'project:add-characters' project.id %}" class="remove-decoration cas-cast-menu-edit">BACK</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- side input area  End-->
            {% else %}
            <p class="all-p">Invalid page</p>
            {% endif %}
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                <div class="left-mode-sec right-sec-height">
                    <div class="mem-list-head">Top Actors</div>
                    <ol class="mem-list-cont mb-0 ">
                        <li class="mt-1">John Smith</li>
                        <li class="mt-1">John Dow</li>
                        <li class="mt-1">Karen Do</li>
                        <li class="mt-1">Aaron McCarty</li>
                        <li class="mt-1">Toli Chew</li>
                    </ol>
                    <div class="mem-list-head">Top Writers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Tom Saint</li>
                        <li class="mt-1">Lola Carola</li>
                        <li class="mt-1">Ken Track</li>
                        <li class="mt-1">Jamal Smith</li>
                        <li class="mt-1">Nikita Selivan</li>
                    </ol>
                    <div class="mem-list-head">Top Directors</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Karen Do</li>
                        <li class="mt-1">Ivan Drago</li>
                        <li class="mt-1">Ken Track</li>
                        <li class="mt-1">Kendra Shulman</li>
                        <li class="mt-1">Sandra O’brian</li>
                    </ol>
                    <div class="mem-list-head">Top Producers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head">Top DPs</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head">Top Sound Designers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head underline">TopTalent/Crew</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    // $(function(){
    //     $('#sidesform').on('click','.edit-sides',function(){ 
    //         $(".scenes").prop("disabled", false) 
    //     });
    // });
</script>
<script>
    // CKEDITOR.replace( 'scene_1' );
</script>
{% endblock %}


