<span><a class="like_video cursor-pointer remove-decoration" id="{{project.id}}">
    {% if like_obj.like_or_dislike == 'like' %}
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    {% endif %}
</a> {{project.likes}}
</span>
<span><a class="dislike_video cursor-pointer remove-decoration" id="{{project.id}}">
    {% if like_obj.like_or_dislike == 'dislike' %}
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
    {% endif %}
</a> {{project.dislikes}}
</span>