{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% load user_account_tag %}

{% block extracss %}
<style>
    #player.vp-title
    {
        visibility:hidden!important;
        display:none!important;
    }
    .vp-title-header
    {
    visibility:hidden!important;
    display:none!important;
    }
</style>
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <!-- Top nav End  -->

    <div class="wrapper flex-grow-1">
        <div class="container-fluid">
            <div class="video-center-row ml-1 mr-1">
                <div class="row ">

                    <!-- Center column  -->

                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 mt-3">
                        <div class="vdo-menu-bg">
                            <ul class="video-menu">
                                <li><span class="video-menu-head">PROJECT </span><a href="">#{{project.id}}</a></li>
                                <li><span class="fnt-weight">Title: </span><span class="vdo-details-blue txt-uppercase">{{project.title}}</span></li>
                                <li><span class="fnt-weight">Format: </span><span class="vdo-details-blue txt-uppercase">{{project.get_format_display}}</span></li>
                                <li><span class="fnt-weight">Genre: </span><span class="vdo-details-blue txt-uppercase">{{project.get_genre_display}}</span></li>
                            </ul>

                        </div>
                        <div class="row align-row">
                            <div class="col-md-9 ">
                                <div class="video-frame">
                                    {% if project.video_type == 'vimeo' %}
                                        <iframe src="https://player.vimeo.com/video/{{ project.video_url }}?byline=false&dnt&portrait=false&title=false&loop=true" width="100%" height="100%"
                                        data-show-text="false" frameborder="0"  allowfullscreen class=" video-img"></iframe>
                                        <img src=""/>
                                    {% elif project.video_type == 'youtube' %}
                                        <iframe
                                        src="http://www.youtube.com/embed/{{ project.video_url }}?rel=0&modestbranding=1&loop=1&playlist={{ project.video_url }}&color=white" width="100%" height="100%"
                                        data-show-text="false" allowFullScreen="allowFullScreen" frameBorder="0" class=" video-img"></iframe>
                                    {% endif %}
                                </div>
                                <div class="share-sec">
                                    <div class="share-alg">
                                        {% if request.user.membership != 'HOB' %}
                                        <a id="share-link" class="cursor-pointer mem-blu-link">S<span class="share-small-f">HARE</span></a>
                                        {% endif %}
                                    </div>
                                    <div class="like-dislike-btn like_dislike">
                                        <span><a class="like_video cursor-pointer remove-decoration" id="{{project.id}}">
                                            {% if like_obj.like_or_dislike == 'like' %}
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            {% endif %}
                                        </a> {{project.likes}}
                                        </span>
                                        <span><a class="dislike_video cursor-pointer remove-decoration" id="{{project.id}}">
                                            {% if like_obj.like_or_dislike == 'dislike' %}
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                            {% endif %}
                                        </a> {{project.dislikes}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 left-mode-sec vdo-align">
                            {% for job_type,team_members in job_types_dict.items %}
                            <div class="log-vdo-details">
                                <span class="vdo-detail-txt">
                                    <span class="vdo-detail-txt-weight">{{job_type}}:</span>
                                    {% for member in team_members %}
                                    <br>
                                    <a class="vdo-details-blue">{{member.user.get_full_name}}</a>
                                    {% endfor %}
                                </span>
                            </div>
                            {% endfor %}
                         </div>
                        </div>



                        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content col-12">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span id="shareModalClose" aria-hidden="true">&times;</span> </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-sm-12 email-id-row">
                                            <span class="to-input">To</span>
                                                <div id="all_mail" class="all-mail">
                                                </div>



                                                <select class="form-control" name="userSelect" multiple id="userSelect">
                                                    {% for friend in friends %}
                                                    <option value="{{friend.id}}" >{{friend}} </option>
                                                        {% endfor %}
                                                </select>
                                                <div class="modal-footer">
                                                    <button id="url_send" type="submit" class="btn btn-primary">Send</button>
                                                    <button  data-dismiss="modal" id="cancel_url" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                                </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Share Modal End -->




                        <!-- video player End   -->

                        <!-- <div class="share-sec">
                            <div class="share-alg">
                                <a href="#" class="mem-blu-link">S<span class="share-small-f">HARE</span></a>
                            </div>
                            <div class="like-dislike-btn like_dislike">
                                <span><a class="like_video cursor-pointer remove-decoration" id="{{project.id}}">
                                    {% if like_obj.like_or_dislike == 'like' %}
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    {% endif %}
                                </a> {{project.likes}}
                                </span>
                                <span><a class="dislike_video cursor-pointer remove-decoration" id="{{project.id}}">
                                    {% if like_obj.like_or_dislike == 'dislike' %}
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    {% endif %}
                                </a> {{project.dislikes}}
                                </span>
                            </div>
                        </div> -->

                        <!-- Like Dislike section End   -->

                        <!-- <div class="card dis-card mt-3">
                            <div class="">
                                <div class="dis-head">
                                    Discussion Board
                                </div>
                            </div>
                        </div> -->

                    </div>

                    <!-- Center column End -->

                <!-- right coloumn  -->
                    {% if user.membership == 'HOB' %}
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 top_rated_members make_div_unclickable">
                        </div>
                    {% else %}
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 top_rated_members">
                        </div>
                    {% endif %}
                    <!-- right column End -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer  -->
</div>

{% endblock %}

{% block extrajs %}


<script src="{% static 'js/videoplayer_invite.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="https://phpcoder.tech/multiselect/js/jquery.multiselect.js"></script>
<link rel="stylesheet" href="https://phpcoder.tech/multiselect/css/jquery.multiselect.css">


<script>
    jQuery('#userSelect').multiselect({
    columns: 1,
    placeholder: 'Select Users',
    search: true,
    selectAll: true
});
</script>



<script>
    $(".make_div_unclickable").click(function(){
      return false;
    });

// like video
  $('body').on('click' , '.like_video', function(){
            var project_id = $(this).attr("id");
            var token = $("#token").val();
            $.ajax
            ({
                type: "POST",
                url: "/project/like-project-video-api/",
                dataType: 'json',
                async: false,
                data: {"id":project_id},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", token);
                },
                success: function (response){
                    $('#success_message').fadeIn().html(response['message']);
                    setTimeout(function() {$('#success_message').fadeOut("slow");}, 2000 );
                    $.get('/project/like-dislike-replace-html/', {"id":project_id})
                    .done(function(data) {
                        if(data.results!='')
                            {
                                $('.like_dislike').html(data['like_dislike_html'])
                            }
                    });
                }
            });

        });
// dislike video
  $('body').on('click' , '.dislike_video', function(){
            var project_id = $(this).attr("id");
            var token = $("#token").val();

            $.ajax
            ({
                type: "POST",
                url: "/project/dislike-project-video-api/",
                dataType: 'json',
                async: false,
                data: {"id":project_id},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", token);
                },
                success: function (response){
                    $('#success_message').fadeIn().html(response['message']);
                    setTimeout(function() {$('#success_message').fadeOut("slow");}, 2000 );

                    $.get('/project/like-dislike-replace-html/', {"id":project_id})
                    .done(function(data) {
                        if(data.results!='')
                            {
                                $('.like_dislike').html(data['like_dislike_html'])
                            }
                    });
                }
            });

        });
</script>

{% endblock %}