{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% load user_account_tag %}
{% load project_tracking_tag %}
{% block extracss %}
<style>
    #player.vp-title
    {
        visibility:hidden!important;
        display:none!important;
    }

    .vp-title-header
    {
    visibility:hidden!important;
    display:none!important;
    }
</style>
<!-- <link rel="stylesheet" href="{% static 'css/share.css' %}">
<link rel="stylesheet" href="{% static 'css/email_invite.css' %}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"></link> -->
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid">

        <!-- Main Row  -->
        <div class="row">

            <!-- Left section -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-2 mb-2">
                <div class="left-mode-sec p-2 text-center ">
                    <div class="log-left-sec">
                        <ul class="list-unstyled invite-list">
                            <!-- <li class="mt-2"><a href="#" class="mem-blu-link log-fnt-weight">I<span
                                        class="mem-small-f">NVITE</span></a></li> -->
                            <li class="mt-1">

                            {% get_project_tracking_list request.user project as is_tracking %}
                            {% if is_tracking %}
                                    <input type ="hidden" name="project_id" id="project_id" value ="{{project.id}}" />
                                    <span class="track-btn">
                                        <a class="mem-blu-link log-fnt-weight cursor-pointer un_track_project" id="{{project.title}}">T<span class="mem-small-f">RACKING</span></a>
                                    </span>
                            {% else %}
                                    {% if project.creator.id != request.user.id %}
                                            <input type ="hidden" name="project_id" id="project_id" value ="{{project.id}}" />
                                            <span class="track-btn">
                                                <a class="mem-blu-link log-fnt-weight cursor-pointer track_project" id="{{project.title}}">T<span class="mem-small-f">RACK</span></a>
                                            </span>
                                    {% endif %}
                            {% endif %}
                        </li>


                            <li id="share-link" class="mt-1"><a href="#" class="mem-blu-link log-fnt-weight">S<span class="mem-small-f">HARE</span></a>
                            </li>
                            <li><a href="#" class="red-f log-fnt-weight">R<span class="mem-small-f">EPORT THIS</span> V<span
                                class="mem-small-f">IDEO</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="left-mode-sec  p-2   mt-2">
                    <div class="add-space d-flex justify-content-center log-addspace">
                        <span class="">Ad Banner</span>
                    </div>
                </div>

            </div>

            <!-- Left section  End-->
            <!-- Center section  -->

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-2 mb-2">
                <div class="vdo-menu-bg">
                    <div>
                        <ul class="log-menu">
                            <li><span class="video-menu-head">PROJECT </span><a href="" >#{{project.id}}</a></li>
                            <li><span >Title: </span><span class="vdo-details-blue txt-capitalize">{{project.title}}</span></li>
                            <li><span>Format: </span><span class="vdo-details-blue">{{project.get_format_display}}</span></li>
                            <li><span>Genre: </span><span class="vdo-details-blue">{{project.get_genre_display}}</span></li>
                        </ul>
                    </div>
                    <div class="vdo-rate-head-visible">
                        <a href="#" class="red-fnt bold log-rate-font">Rate this Team</a>
                    </div>
                </div>
                <div class="row align-row">
                    <div class="col-md-9 ">
                        <div class="video-frame">
                            <!-- <img src="{% static 'images/1.jpeg' %}" class=" video-img"> -->
                            {% if project.video_type == 'vimeo' %}
                                <iframe src="https://player.vimeo.com/video/{{ project.video_url }}?byline=false&dnt&portrait=false&title=false&loop=true" width="100%" height="100%"
                                data-show-text="false" frameborder="0"  allowfullscreen class=" video-img"></iframe>
                                <img src=""/>
                            {% elif project.video_type == 'youtube' %}
                                <iframe
                                src="http://www.youtube.com/embed/{{ project.video_url }}?rel=0&modestbranding=1&loop=1&playlist={{ project.video_url }}&color=white" width="100%" height="100%"
                                data-show-text="false" allowFullScreen="allowFullScreen" frameBorder="0" class=" video-img"></iframe>
                            {% endif %}
                        </div>
                        <div class="vdo-menu-bg log-back-align mt-2">
                            <div class="log-back-sec-align">
                                <span class="log-btn-align"><a href=""><img src="{% static 'images/right-arrow.png' %}" class="log-back-btn" ></a></span>
                                <span class="log-back-sec"><span class="log-back-cap">T</span>HIS IS A COLLABORATIVE AND LEARNING PLATFORM, <span class="log-back-cap">P</span>LEASE GIVE CONSTRUCTIVE AND HELPFUL FEEDBACK ONLY.</span>
                            </div>
                        </div>
                        <div class="log-comment mt-2">
                            COMMENTS
                        </div>
                        <div class="left-mode-search mt-2 ">
                            <div class="log-comment-hgt">
                                <div class="log-comment-txt">
                                    Use @Filmmaker’s name - to address your comment to that filmmaker.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 left-mode-sec vdo-align">

                        {% for job_type,team_members in job_types_dict.items %}
                        <div class="log-vdo-details">
                            <span class="vdo-detail-txt">
                                <span class="vdo-detail-txt-weight">{{job_type}}:</span>
                                {% for member in team_members %}
                                <br>
                                {% get_dict_value rating_dict member.id as rating %}
                                <a href="" class="vdo-details-blue">{{member.user.get_full_name}}</a>
                                <span class="log-star">
                                    <span class="cta-stars-outer" data-toggle="modal"
                                    data-target="#rating-modal-{{member.id}}">
                                        <span class="cta-stars-inner" style="width:{{rating}}%;"></span>
                                    </span>
                                </span>
                    <!-- The Modal -->
                    <div class="modal fade" id="rating-modal-{{member.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h6 class="modal-title mem-setup-blu-f">Rate {{member.job_type}} - {{member.user.get_full_name}}</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 ">
                                                <div class="row" >
                                                    {% get_my_skill_rating request.user.id member as my_rating %}
                                                    {% if my_rating != 0 %}
                                                    <div class="col-12" >
                                                        <p clss="all-p">You have already given {{my_rating}} star rating for {{member.job_type}} - {{member.user.get_full_name}}.</p>
                                                    </div>
                                                    {% else %}
                                                    <div class="offset-2 col-6 " id="rating-form-{{member.id}}" >
                                                        <div class="row">
                                                            <span class="give-rating">
                                                                    <input type="radio" id="star5-{{member.id}}" name="rate-{{member.id}}" class="rate" value="5"/>
                                                                    <label for="star5-{{member.id}}" title="5 Star">5 stars</label>

                                                                    <input type="radio" id="star4-{{member.id}}" name="rate-{{member.id}}" class="rate"  value="4"/>
                                                                    <label for="star4-{{member.id}}" title="4 Star">4 stars</label>

                                                                    <input type="radio" id="star3-{{member.id}}" name="rate-{{member.id}}" class="rate"  value="3"/>
                                                                    <label for="star3-{{member.id}}" title="3 Star">3 stars</label>

                                                                    <input type="radio" id="star2-{{member.id}}" name="rate-{{member.id}}" class="rate"  value="2"/>
                                                                    <label for="star2-{{member.id}}" title="2 Star">2 stars</label>

                                                                    <input type="radio" id="star1-{{member.id}}" name="rate-{{member.id}}" class="rate" value="1"/>
                                                                    <label for="star1-{{member.id}}" title="1 Star">1 star</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    {% if my_rating == 0 %}
                                    <button type="button" class="btn btn-outline-danger btn-sm submit-rating"
                                    id="{{member.id}}">Submit</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm "
                                    data-dismiss="modal">Cancel</button>
                                    {% else %}
                                    <button type="button" class="btn btn-outline-danger btn-sm "
                                    data-dismiss="modal">Close</button>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                                {% endfor %}
                            </span>
                        </div>
                        {% endfor %}

                        <hr class="log-hr">
                        <div class="vdo-total">
                            <span class="vdo-detail-txt">
                                Video Total:
                                <span class="log-star">
                                    <span class="cta-stars-outer" >
                                        <span class="cta-stars-inner" style="width:{{project.video_rating}}%;"></span>
                                    </span>
                                </span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Center section  End-->
            <!-- Right section -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-2 mb-3">
                <div class="left-mode-sec right-sec-height">
                    <div class="mem-list-head">Top Actors</div>
                    <ol class="mem-list-cont mb-0 ">
                        <li class="mt-1">John Smith</li>
                        <li class="mt-1">John Dow</li>
                        <li class="mt-1">Karen Do</li>
                        <li class="mt-1">Aaron McCarty</li>
                        <li class="mt-1">Toli Chew</li>
                    </ol>
                    <div class="mem-list-head">Top Writers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Tom Saint</li>
                        <li class="mt-1">Lola Carola</li>
                        <li class="mt-1">Ken Track</li>
                        <li class="mt-1">Jamal Smith</li>
                        <li class="mt-1">Nikita Selivan</li>
                    </ol>
                    <div class="mem-list-head">Top Directors</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Karen Do</li>
                        <li class="mt-1">Ivan Drago</li>
                        <li class="mt-1">Ken Track</li>
                        <li class="mt-1">Kendra Shulman</li>
                        <li class="mt-1">Sandra O’brian</li>
                    </ol>
                    <div class="mem-list-head">Top Producers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head">Top DPs</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head">Top Sound Designers</div>
                    <ol class="mem-list-cont mb-0">
                        <li class="mt-1">Sarah Lee</li>
                        <li class="mt-1">Colle Ace</li>
                        <li class="mt-1">Duran Duran</li>
                        <li class="mt-1">Char Hendrix</li>
                        <li class="mt-1">Oleg Smirnov</li>
                    </ol>
                    <div class="mem-list-head underline">TopTalent/Crew</div>
                </div>
            </div>
            <!-- Right section  End-->

        </div>
        <!-- Main Row End  -->
    </div>
</div>
<!-- Share Modal Start -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span id="shareModalClose" aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 email-id-row">
                    <span class="to-input">To</span>
                        <div id="all_mail" class="all-mail">
                        </div>
                        <input id="enter_email" type="text" name="email" class="enter-mail-id" placeholder="Enter the user names .." />
                </div>
            </div>
            <div class="modal-footer">
                <button id="invite_send" type="button" class="btn btn-primary">Send</button>
                <button id="invite_cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
        </div>
    </div>
</div>
<!-- Share Modal End -->
{% endblock %}
{% block extrajs %}
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script src="{% static 'js/user-rating.js' %}"></script>
<script src="{% static 'js/project_tracking.js' %}"></script>
<script src="{% static 'js/videoplayer_invite.js' %}"></script>
<script src="{% static 'js/email_invite.js' %}"></script>
{% endblock %}