{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block extracss %}
{% endblock %}

{% block content %}
<div class="wrapper flex-grow-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                <!-- <div class="eus-adblock-sec">
                    <div class="caa-adblock-sec-align">
                        <div class="caa-ad-block-inner">
                            <span class="caa-ad-block-txt">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2568931363821177"
                                    crossorigin="anonymous"></script>
                                <ins class="adsbygoogle"
                                    style="display:inline-block;width:728px;height:90px"
                                    data-ad-client="ca-pub-2568931363821177"
                                    data-ad-slot="9556686269"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
                <div class="card eus-card-sec">
                    <div class="eus-drop-display">
                        <div class="eus-drop-txt">
                            Choose Topic
                        </div>
                        <div>
                            <select  class="eus-drop-select" name="topic" id="topic">
                                <option value="general">General</option>
                                <option value="technical">Technical</option>
                                <option value="services">Services</option>
                                <option value="abuse">Abuse</option>
                                <option value="business">Business</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="eus-input-section">
                        <div>
                            <div>
                                <div>
                                    Your Name
                                </div>
                                <div>
                                    <input type="text" class="eus-input-field"
                                    value="{{user.get_full_name}}" disabled/>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div>
                                    Your Email
                                </div>
                                <div>
                                    <input type="text" class="eus-input-field"
                                    value="{{user.email}}" disabled/>
                                </div>
                            </div>
                            <div  class="mt-3">
                                <div>
                                    Subject
                                </div>
                                <div>
                                    <input type="text" class="eus-input-field"
                                    name="subject" id="subject" autocomplete="off"/>
                                    <p id="subject_err" class="all-error-msg"></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="eus-msg-head">
                                    Message
                                </div>
                                <div>
                                    <textarea  class="eus-textarea" name="message" id="message"  autocomplete="off"></textarea>
                                    <p id="message_err" class="all-error-msg"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="mt-3">
                        <div>
                            <button class="eus-sent-btn email_us"> Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 top_rated_members">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $('body').on('click' , '.email_us', function(){
        var token = $("#token").val();
        var topic =  $("#topic").find("option:selected").val();
        var subject =  $("#subject").val();
        var message =  $("#message").val();
        data_dict = {};
        data_dict['topic'] = topic;
        if(subject){
            data_dict['subject'] = subject;
        }
        if(message){
            data_dict['message'] = message;
        }
        if((subject!="") & (message!="")){
            $(".email_us").html("Sending..");
            $('.email_us').prop('disabled', true);
            $.ajax
            ({
                type: "POST",
                url: "/general/contact-us-api/",
                dataType: 'json',
                // async: false,
                data: data_dict,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", token);
                },
                success: function(response){
                    window.location.reload()
                }
            });
        }else{
            if(message=='')
                {
                    console.log("message_err")
                    $("#message_err").html("This field is required")
                }
            if(subject=='')
                {
                    console.log("subject_err")
                    $("#subject_err").html("This field is required")
                }
            }

    });
</script>
{% endblock %}